// Cart Notification

.cart-notification {
  position: absolute;
  left: 0;
  width: 100%;
  background: mix(color(background), color(primary), 92%);
  color: color(primary);
  text-align: center;
  letter-spacing: size(smaller-tracking);
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transition: 0.25s opacity;

  &--show {
    opacity: 1;
    visibility: visible;
  }

  &--fadeout {
    opacity: 0;
  }

  @include before() {
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0));
  }

  .btn--close {
    position: absolute;
    top: 13px;
    right: 10px;
    padding: 5px;
    opacity: 0.5;
    transition: opacity 0.15s ease-out;

    &:hover {
      opacity: 0.8;
    }

    [data-icon] {
      fill: color(primary);
    }
  }
}

.cart-notification-message {
  padding: size(smaller) size(small);
  font-size: 17px;

  [data-icon="checkmark"] {
    fill: color(primary);
    vertical-align: top;
    top: 4px;
    margin-left: 3px;
  }
}
