// Mini Cart

.cart {
  @include z-index(bump);
  position: absolute;
  right: 0;
  width: 100%;
  opacity: 0;
  visibility: hidden;

  @include respond-below($break-main-nav - 1) {
    top: 0;
    transform: translateY(-100%);
    transition: 0.25s transform ease-out;
  }

  @include respond-at-and-above($break-main-nav) {
    right: 10px;
    width: 440px;
    padding: size(normal) 10px 10px;
    transition: 0.25s opacity;

    @include before() {
      @include arrow(top, background, 14px);
      -webkit-filter: drop-shadow(0px 0px 5px rgba(0,0,0,0.10));
      top: -8px;
      right: 21px;
      left: auto;
    }
  }

  @include respond-at-and-above($info-nav-break) {

    &:before {
      right: 37px;
    }
  }

  // Prefix item totals with C for orders in CAD
  &[data-currency="CAD"] {

    .item-total {
      &:before {
        content: "C";
      }
    }
  }
}

.cart--show {
  opacity: 1;
  visibility: visible;

  @include respond-below($break-main-nav - 1) {
    transform: translateY(0);
  }
}

.cart--slideup {
  transform: translateY(-100%);
}

.cart--fadeout {
  opacity: 0;
}

// @@@ Refactor: separate template for empty state
.cart--empty {

  .cart-heading-empty,
  .cart-actions-empty {
    display: block;
  }

  .cart-products,
  .order-summary-table,
  .cart-actions {
    display: none;
  }
}

.cart-header {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  padding: size(small) 0 size(smaller);
  background: color(background);
  border-bottom: 1px solid color(border);

  @include respond-below($break-main-nav - 1) {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 50px;
    padding: size(smaller) size(normal) 0;
  }

  @include respond-at-and-above($break-main-nav) {
    margin: 0 size(normal);
  }

  .menu-trigger {
    right: 15px;
    left: auto;
    padding: 0 2px;

    @include respond-at-and-above($break-main-nav) {
      display: none;
    }
  }

  .menu-trigger-icon {
    width: 26px;
    background-color: transparent;

    &:before {
      transform: translateY(0) rotate(45deg);
    }

    &:after {
      transform: translateY(0) rotate(-45deg)
    }
  }
}

.cart-heading {
  display: inline-block;
  margin-bottom: 0;
  font-size: 20px;
  color: color(primary);

  @include respond-at-and-above($break-main-nav) {
    font-size: 18px;
    color: color(text);
  }
}

.cart-content {
  position: relative;
  background: color(background);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.12);

  @include respond-below($break-main-nav - 1) {
    padding-top: 50px;
  }

  @include respond-at-and-above($break-main-nav) {
    border-radius: size(normal-corners);

    @include before() {
      @include arrow(top, background, 14px);
      right: 11px;
      left: auto;
    }
  }

  @include respond-at-and-above($info-nav-break) {

    &:before {
      right: 27px;
    }
  }
}

.cart-shipping-delay {
  @extend %chronicle-display;
  margin-top: 1.25rem;
  padding: 13px size(normal);
  font-size: size(smaller);
  line-height: 1.5;
  letter-spacing: size(smaller-tracking);
  background: color(light-background);
}

.cart-heading-empty {
  display: none;
  margin-bottom: 0;
  padding: size(larger) size(medium) 0;
  color: color(header-text);
  text-align: center;
}

.cart-products {
  min-height: 120px;
  padding: 0 14px 0 size(normal);
  border-right: 6px solid transparent; // to inset scrollbar

  @include respond-at-and-above($break-main-nav) {
    max-height: calc(100vh - 419px);
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 7px;
    }

    &::-webkit-scrollbar-thumb {
      background: color(medium-background);
      border-radius: size(large-corners);
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }
  }

  @include respond-at-and-above($info-nav-break) {
    max-height: calc(100vh - 434px);
  }
}

.cart-item-template {
  display: none; // Ensure template is hidden in IE
}

.cart-item {
  position: relative;
  max-height: 145px;
  padding: size(normal) 0 10px;
  border-top: 1px solid color(border);
  transition: 0.25s max-height ease,
              0.25s padding ease,
              50ms border-bottom ease 0.25s;

  &:first-child {
    border-top: 0;
  }

  &.slide-up {
    max-height: 0;
    margin-bottom: 0;
    padding: 0;
    border-bottom: 0;
    overflow: hidden;
  }

  .cart-product-image {
    @include square(80px);
    overflow: hidden;
    float: left;
    margin-bottom: 10px;
  }

  .cart-product-info {
    padding-left: 100px;
  }

  .product-title {
    padding-right: size(normal);
  }

  .btn--delete {
    position: absolute;
    top: 15px;
    right: -5px;
    padding: 5px;
    opacity: 0.35;
    transition: opacity 0.15s ease-out;

    &:hover {
      opacity: 0.7;
    }

    // Disable delete buttons when other ajax requests are processing
    // Prevents issue where cart may break due to a race condition
    .cart--updating & {
      pointer-events: none;
    }
  }

  .product-item-detail-item--quantity {
    position: static;
    width: 102px;
    height: 44px;
    text-align: center;
    transform: translateX(-10px);
  }

  .item-quantity {
    display: inline-block;
    vertical-align: top;
    min-width: 10px;
    height: 44px;
    line-height: 45px;
  }

  .btn-quantity {
    position: absolute;
    top: 0;
    padding: 10px;
    color: color(text);
    touch-action: none;

    &--decrease {
      left: 0;
    }

    &--increase {
      right: 0;
    }

    &:not([disabled]):hover {

      .btn-quantity-icon {
        background: color(border);
      }
    }
  }

  .btn-quantity-icon {
    @extend %verlag-light;
    @include square(24px);
    display: inline-block;
    font-size: 21px;
    line-height: 25px;
    background: color(light-background);
    border-radius: 50%;
    transition: 0.15s background-color ease-out;
    pointer-events: none // Prevent clicks triggering when button is disabled
  }

  .product-item-detail-item--total {
    position: absolute;
    right: 0;
    bottom: size(normal);
  }
}

.cart-summary {
  position: relative;
  margin: 0 size(normal);
  padding: size(normal) 0;
  border-top: 1px solid color(border);

  .cart--empty & {
    border-top: 0;
  }

  // @@@ Create global helpers, distinguish accesibly hidden from display: none
  .hide,
  .hide-row {
    display: none;
  }

  .btn {
    width: 100%;
    margin-top: size(small);
    outline: 0;
  }
}

.cart-updatable-total {
  position: relative;

  .cart--updating & {

    @include after() {
      @include spinner;
      top: 4px;
      right: 1px;
    }

    .total-output {
      display: none;
    }
  }
}

.cart-actions-empty {
  display: none;
}

.cart-promo-code {
  margin-top: size(normal);

  .input-promo-code {
    width: 68%;
  }

  .btn-apply-promo {
    width: 32%;
    margin-top: 0;
  }
}

// Legacy style overrides (remove once Nightshade becomes the project root)

.legacy-page {

  .cart {
    color: color(text);

    h2,
    h3,
    h4:not(.product-title),
    .h4 {
      @extend %verlag-black;
      text-transform: uppercase;
      letter-spacing: size(normal-tracking);
      margin-top: 0;
    }
  }

  .cart-heading-empty {
    font-size: 15px;
  }

  .cart-products {
    margin: 0;
    border: 0;
  }

  .cart-summary {
    border-width: 1px 0 0;
  }

  .cart-item {

    .btn--delete {
      line-height: 1;
    }
  }

  .product-item-details {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

}
