//doc
//
// ---
// title: Trial/Warranty
// name: trial-warranty
// category: components
// ---
//
// Casper Trial-Warranty component can be included on any page by rendering the
// partial in you view.
//
// Individual component files:
//
// JS `nightshade/views/trial_warranty.js.coffee`.
// Styles `modules/trial_warranty.sass`
//
// ```haml_example
//  = render partial: "nightshade/shared/warranty_trial"
//  ```

// ---------------------------------------------------------

// base styles for trial warranty banner
// the light and dark versions share most spacing stylings but have different
// color and text attributes
// gave the icon a base default color

.trial-warranty {
  width: 100%;
  overflow: hidden;
  position: relative;

  [data-icon]  {
    @include square(130px);
    margin-bottom: size(large);
    fill: color(trial-blue);

    @include respond-below($break-small) {
      @include square(115px);
      margin-bottom: size(medium);
    }

    @include respond-below(475px) {
      @include square(90px);
    }
  }
}

.trial-warranty-content {
  @include z-index(trial-warranty);

  padding: 5rem 0 7rem;
  position: relative;
  text-align: center;

  @include respond-at-and-above($break-large) {
    padding: 5.5rem 0 7rem;
  }


  @include respond-at-and-above(475px) {
    padding: 5.5rem 2rem;
  }


  @include respond-below(475px) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.warranty-text {
  @include respond-below(700px) {
    display: block;
  }
}

.trial-warranty-copy {
  padding: 0 1rem;

  @include respond-at-and-above($break-large) {
    padding: 0 7rem;
  }


  @include respond-between(700px, $break-large) {
    padding: 0 4rem;
  }
}

// styling for the white version of the warranty,
// wrap the partial in this top level class, trial-warranty-white
.trial-warranty.light {
  background-color: color(background);

  .trial-warranty-title {
    @extend h1;

    @extend .body--sans;

    color: color(primary);
  }

  .trial-warranty-copy {
    @extend .body--sans;

    color: color(text);
  }

  [data-icon] {
    fill: color(primary);
  }
}

// styling for the dark blue version of the warranty
.trial-warranty.dark {
  background-color: color(trial-blue);

  .trial-warranty-title,
  .trial-warranty-copy {
    color: color(white);
  }

  .trial-warranty-content {
    padding: 2em 1em;

    @include respond-at-and-above(475px) {
      padding: 5.5em 2em;
    }
  }

  .trial-warranty-copy {
    @extend .body--serif;
  }
}

.parallax {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  background-size: 100% 100%;
  background-size: cover;
  will-change: transform;
}

.parallax-big-stars {
  background-image: image-url("big-stars-small@2x.png");

  @include respond-below(376px, width, 2) {
    background-image: image-url("big-stars-small@2x.png");
  }


  @include respond-below(376px, width, 3) {
    background-image: image-url("big-stars-small@3x.png");
  }


  @include respond-between(375px, 1024px, width) {
    background-image: image-url("big-stars-med.png");
  }


  @include respond-between(375px, 1024px, width, 2) {
    background-image: image-url("big-stars-med@2x.png");
  }


  @include respond-between(375px, 1024px, width, 3) {
    background-image: image-url("big-stars-med@3x.png");
  }


  @include respond-at-and-above(1025px, width) {
    background-image: image-url("big-stars.png");
  }
}

.parallax-small-stars {
  background-image: image-url("small-stars-small@2x.png");

  @include respond-below(376px, width, 2) {
    background-image: image-url("small-stars-small@2x.png");
  }


  @include respond-between(375px, 1024px, width) {
    background-image: image-url("small-stars-med.png");
  }


  @include respond-between(375px, 1024px, width, 2) {
    background-image: image-url("small-stars-med@2x.png");
  }


  @include respond-between(375px, 1024px, width, 3) {
    background-image: image-url("small-stars-med@3x.png");
  }


  @include respond-at-and-above(1025px, width) {
    background-image: image-url("small-stars.png");
  }
}
