@import "core_config";

.account-top-section {
  padding: 102px 20px 103px 20px;
  text-align: center;
  background: #f2f4f8;

  .login-header {
    color: color(blue);
    margin-bottom: 14px;
    font-size: 42px;
  }

  #user-info {
    font-weight: 300;
    font-size: 24px;
  }
}

.account-my-orders {
  @extend %verlag;

  color: #616161;
}

@include respond-below($break-medium) {
  .btn {
    width: 100%;
    display: block;
  }

  .form-wrapper-account {
    .form-actions {
      max-width: 100%;
      margin: 0;
    }

    .left-section {
      margin-bottom: 0;
      white-space: nowrap;
    }
  }

  .account-top-section {
    height: auto;
    padding: 60px 20px 65px 20px;

    .login-header {
      font-size: 22px;
      margin-bottom: 14px;
    }

    p, #user-info {
      font-size: 20px;
    }
  }
}


@include respond-below($break-large) {
  .form-wrapper-account {
    padding: 0 12px;
  }
}


@include with-layout($account-layout) {
  .account-my-orders {
    @include container;
  }

  .thumb-placeholder {
    background: color(light-grey);
  }

  .product-thumb,
  .thumb-placeholder {
    width: 100px;
    min-height: 100px;
    float: left;
    margin-top: 5px;
  }

  .left-section,
  .middle-section {
    float: left;
  }

  .left-section {
    width: 114px;
  }

  .middle-section {
    max-width: 175px;

    div {
      white-space: nowrap;
    }
  }

  .return-items-link {
    clear: right;
    margin-top: 12px;
  }

  .rma-detail-link {
    float: right;
    margin-bottom: 12px;
  }

  .return-shipment-tracking-link {
    float: right;
    margin-bottom: -11px;
  }

  .shipment-tracking-link,
  .return-items-link,
  .rma-detail-link,
  .return-shipment-tracking-link {
    background: #fff;
    color: #616161;
    float: right;
    border: 1px solid #dbdbdb;

    @extend %verlag-black;

    font-size: 13px;
    padding: 12px 28px;
    border-radius: 3px;
    display: block;
    width: 200px;
    text-align: center;

    &:hover, &:focus {
      &, &:hover {
        background: #e7e8e8;
        border-color: #dbdbdb;
        color: #616161;
      }
    }

    &.disabled {
      opacity: 0.8;
      border: 1px solid #dbdbdb;

      &:hover {
        background: #fff;
        cursor: not-allowed;
      }
    }
  }
}


.user-order-header,
.user-rma-header {
  background: color(lightest-grey);
  padding: 25px 22px 26px 25px;
  border: 1px solid #e7e8e8;
  border-radius: 3px 3px 0 0;

  .order-number a,
  .rma-number a {
    color: color(darkest-grey);
    font-weight: 400;
  }

  .order-number,
  .rma-number {
    text-transform: uppercase;
    margin: 5px 0 8px 0;
  }

  .view-order-link {
    float: right;
    color: #fff;
    width: 200px;
    font-size: 13px;
    padding: 13px 29px;

    @include respond-below($break-medium) {
      display: block;
      clear: both;
      width: 100%;
      margin-top: 18px;
    }
  }

  .header-order-info {
    line-height: 1em;
    float: left;

    .pipe {
      padding: 0 6px;
    }

    .total-wrap {
      margin-top: 6px;
    }
  }
}

.user-rma-header {
  padding: 25px 22px 25px 25px;

  .rma-number {
    padding: 0;
    margin: 0;
  }
}

.user-order,
.user-rma {
  position: relative;
}

.user-order,
.user-rma {
  margin-bottom: 24px;
}

.right-button-wrap {
  position: absolute;
  top: 44px;
  right: 0;
}

.user-order-shipments,
.user-rma-box-inner {
  border-radius: 0 0 3px 3px;
  border: 1px solid #e7e8e8;
  border-top: none;
  padding: 0 22px;
}

.user-order-box,
.user-rma-box {
  font-size: 14px;
  font-weight: 300;
}

.shipment-info {
  margin-bottom: 36px;
}

.product-info.middle-section {
  font-size: 14px;
}

.user-order-shipment,
.user-order-rma {
  padding: 42px 0 46px 0;
  border-bottom: 1px solid #e7e8e8;
  position: relative;

  &:last-child {
    border-bottom: none;
  }

  .user-order-inventory-unit,
  .user-order-rma-item {
    margin-bottom: 38px;

    &.last {
      margin-bottom: 0;
    }
  }

  .carrier-info {
    font-size: 14px;
  }

  .quantity,
  .price,
  .x,
  .variant-description,
  .product-name {
    font-size: 15px;
  }

  .product-name {
    color: color(blue);
    font-weight: 600;
  }

  .shipment-status,
  .rma-status {
    margin: 0;
    text-transform: uppercase;

    @extend %verlag-black;

    font-size: 15px;
  }

  .shipment-number,
  .rma-number {
    font-size: 0.85em;
  }

  .shipment-number {
    margin-left: 20px;

    @include respond-below($break-medium) {
      margin-left: 0;
    }
  }
}

.user-order-shipment:last-child,
.user-rma-item:last-child {
  border-bottom: none;
}

.row {
  clear: both;
  width: 100%;
}

.user-order-header .return-items-link,
.user-rma-header .return-items-link {
  float: right;
}

.edit-user-form-wrapper {
  margin-bottom: 80px;
}

.mattress-return-modal,
.return-window-exceeded-modal {
  font-size: 15px;

  .modal-content {
    margin-bottom: 0;
  }

  .mattress-return-modal-inner,
  .return-window-exceeded-modal-inner {
    padding: 44px 32px 50px 32px;

    h2 {
      font-size: 21px;
      color: color(blue);
      margin-bottom: 20px;
    }

    p {
      font-size: 20px;
      font-weight: 400;
      max-width: 478px;
      margin: 0 auto 14px auto;
    }

    .help-center-link {
      margin-top: 18px;
    }
  }
}

.account-edit-links {
  text-transform: uppercase;
  font-size: 0.9em;
  text-align: center;
  padding: 16px;
  border-bottom: 1px solid #e7e8e8;

  a, span.pipe {
    color: #616161;
  }

  a {
    text-decoration: none;
    font-weight: 400;
    border-bottom: 1px solid #616161;
    padding-bottom: 3px;
  }

  a,
  .pipe-wrap {
    display: inline-block;
    position: relative;
  }

  .pipe-wrap {
    width: 1px;
    height: 15px;
    padding: 0px 14px 0 8px;
  }

  .pipe {
    position: absolute;
    top: -5px;
    font-size: 25px;
  }
}

.bottom-section {
  margin: 60px auto 90px auto;
  text-align: center;

  .back-to-orders {
    margin: 0 auto;
  }
}

@include respond-below($break-medium) {
  .shipment-tracking {
    padding: 16px 0px 24px 0;
  }

  .shipment-tracking-link,
  .return-items-link,
  .rma-detail-link,
  .return-shipment-tracking-link {
    width: 100%;
    max-width: 100% !important;
    float: none;
  }

  .rma-detail-link {
    clear: both;
    margin: 0 auto 12px auto;
  }

  .order-info {
    text-align: left;
  }

  .bottom-button-wrap {
    margin: 42px 0 0 0px;
  }

  .right-section {
    display: none;
  }

  .rma-detail-link {
    margin-bottom: 0;
  }

  .return-shipment-tracking-link {
    margin-top: 12px;
  }

  .user-order-header,
  .user-rma-header {
    padding: 22px 22px 27px 22px;
  }
}


@include respond-at-and-above($break-medium) {
  .shipment-tracking {
    position: absolute;
    top: 42px;
    right: 0;
  }
}
