.approach-container {
  padding: 4em size(mobile-sides);
  border-bottom: solid 1px color(dark-border);

  @include respond-at-and-above($break-small) {
    padding-top: 6em;
    padding-bottom: 6em;
  }


  @include respond-at-and-above($break-large) {
    padding-left: 4em;
    padding-right: 4em;
  }
}

.approach__section {
  display: inline-block;
  width: 100%;
  padding: 0 size(mobile-sides);
  text-align: center;
  vertical-align: middle;

  @include respond-at-and-above($break-small) {
    width: 50%;
  }
}

.approach__image {
  margin-bottom: 3em;

  .approach__illustration {
    max-width: 400px;
    width: 100%;
  }

  @include respond-at-and-above($break-small) {
    margin-bottom: 0;
  }
}

.approach__title {
  @include respond-at-and-above($break-small) {
    margin-bottom: size(normal);
  }
}
