// styling specifically for product ratings, with stars as a visual
// base styling for rating stars
// container is 'rating-stars', star element is 'rating-star'

.rating-stars {
  text-decoration: none;
}

.rating-star,
.rating-star-wrap {
  @include square(size(small));
  position: relative;  
  display: inline-block;
  margin-right: .5px;
}

.rating-star-mask {
  @include square(size(small));
  @include z-index(bump);
  display: block;
  overflow: hidden;
  position: relative;
}

.rating-star {
  position: absolute;
  top: 0;  
  left: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;

  &--gold {
    @include z-index(bump);
    background-image: asset-data-url("icons/star-casper-gold.svg");
  }

  &--blue {
    @include z-index(bump);
    background-image: asset-data-url("icons/star-casper-blue.svg");      
  }
  
  &--grey {
    background-image: asset-data-url("icons/star.svg");
  }
}

.rating-stars-stats {
  text-align: left;
  letter-spacing: size(smaller-tracking);  
  white-space: nowrap;
  margin-left: 4px;
}

.rating-stars-stats--fraction{ 
  @include respond-at-and-above($break-medium) {
    margin: 0 4px 0 1px;
  }
}
