// TODO: Replace .js-shipping-options already used in the view with
// shipping-options once I have a seperate commit/PR that removes the same
// selector being used inside of _modal.sass

.js-shipping-options {

  margin-left: 0;

  [role="tablist"] {

    .js-tab{

      // HOTFIX; will be restyled
      text-align: left;
      margin-bottom: .5em;

      &-header {
        font-size: 1.3em;
        text-transform: uppercase;
      }

      &:not(.is-active){
        display: none;
      }

    }
  }

}
