// Items under the legal-section are done in markdown so they have to be styled directly
// this is for 'legal pages', text heavy pages such as terms and warranties


.legal-section {
  @include respond-at-and-above($break-medium) {
    padding: 100px 65px;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    color: color(primary);
  }

  h1 {
    font-size: ms(2);
  }

  h2 {
    font-size: ms(1);
  }

  h3 {
    font-size: ms(0);
    padding-top: 15px;
    margin-bottom: 8px;
  }

  h4 {
    font-size: ms(-1);
  }

  h5 {
    font-size: ms(-2);
  }


  h6 {
    @extend %body--sans-small;

    margin: 0 0 8px 0;
  }

  p {
    @extend %body--sans-medium;

    margin-bottom: 25px;
  }

  ol {
    list-style-type: decimal;
    padding-left: 1.3em;
  }

  ul {
    padding-left: 1em;
    margin-left: 5px;
    margin-bottom: 40px;
    list-style-type: disc;

    ul {
      margin-bottom: 8px;
    }
  }

  li {
    @extend %body--sans-small;

    margin-top: 10px;
  }
}
