.header-title {
  color: color(primary);
  margin-top: size(large);
}

.header-copy {
  font-size: 1.5em;
  max-width: 700px;
  margin: 0 auto;
}

.shop-products--row {
  background-color: color(white);
  padding-top: size(medium) 0 size(tiny);
  padding-top: 1.5em;
}

.product-link-out {
  margin-top: 1.5em;
  display: block;

  .btn {
    width: 265px;
  }

  @include respond-at-and-above($info-nav-break) {
    display: inline-block;
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }
}
