.financing-wrapper {
  min-height: 100vh;
  padding: 100px 0;
  background-image: url("https://casper.imgix.net/bedroom-bg.jpg?format=auto");
  background-size: cover;
}

.financing-container {
  max-width: 800px;
  background: #fafafa;
}

.financing-shop-btn {
  margin: 20px 0;
}
