

.scholarships-form {
  width: 100%;
  margin-bottom: -5px;
}

.scholarships-message-banner {
  padding-top: size(medium);
  padding-bottom: size(medium);
  max-width: 100%;
  border-top: 2px solid color(dark-border);
  margin-top: -1px;
}

.scholarships-message-banner-inner {
  max-width: 200px;
  display: inline-block;
  color: color(text);

  @include respond-at-and-above($break-mobile) {
    max-width: none;
    display: inline;
  }
}

.scholarships-message-banner-link {
  color: color(text);
  border-bottom: 1px solid color(text);
  transition: color .15s, border .15s;

  &:hover {
    color: color(dark-text);
    border-bottom: 1px solid color(dark-text);
  }
}
