// Cart Page
// =========

.form-cart {
  .order-ledger {
    margin-top: 30px;

    @include respond-at-and-above($form-2col) {
      margin-top: 100px;
    }
  }

  .order-ledger-item .product-item-detail-item--quantity {
    .value {
      padding-top: 17px;
    }
  }

  .flash-content {
    max-width: 770px;
    margin: 0 auto;
  }

  .form-fieldset-promo {
    margin-top: 2px;
  }

  .form-field-apply-promo {
    margin-top: 20px;
  }

  // To ensure the promo expansion isn't jumpy
  .promo-form-link {
    margin-bottom: 36px;
  }
}

// Empty cart styles
.cart-empty-container {
  margin: 100px auto;
  padding: 20px;
}
