// Specific checkout field styles and overrides

// Payment info fields
.form-field-group--payment {
  border-bottom: 1px solid color(border);
  padding-bottom: 13px;
  margin-bottom: 20px;

  @include respond-at-and-above($form-2col) {
    margin-bottom: size(large);
  }
}
