// Payment Methods
// ================
// Payment methods and individual billing fields

// Credit Card Type styling
.card-type {
  margin-left: 10px;
  text-transform: uppercase;
  font-size: 12px;
  opacity: 1;
  transition: opacity, 0.2s;
  background: #eee;
  padding: 3px 8px;

  &.is-hidden {
    opacity: 0;
  }
}


// Payment info fields
.form-field-group--payment {
  padding-bottom: 13px;
}


.form-payment-method {
  border-top: 1px solid color(border);
  padding-top: size(large);
}


.form-payment-method-affirm {
  border-top: 0;
  padding-top: 0;
}


// Affirm Coupon Codes
// --------------------
// Displays a notification if the user has applied a gift code and tries to
// pay with Affirm


.affirm-coupon-codes {
  margin-bottom: size(large)
}

.affirm-coupon-remove-text {
  display: block;

  @include respond-at-and-above($form-max){
    display: inline-block;
    width: 48%;
  }
}


.coupon-remove-button {
  display: block;
  margin-top: size(large);
  width: 100%;

  @include respond-at-and-above($form-max) {
    width: auto;
    display: inline-block;
    float: right;
    vertical-align: top;
    margin-top: 10px;
  }

}

// Form Security
// -------------
.form-security {
  text-transform: initial;

  .icon-text {
    margin-left: size(smallest);
    display: inline-block;
    vertical-align: top
  }


}

// Initially hides the payment fields from the user.  Ideally we can use is-hidden classes for these, but
// I believe the is hidden stylings allows other payment information to get stuck to affirm, which breaks it
.form-fieldset--payment {
  .form-payment-method {
    display: none;
  }
}
