// @@@ rename to ledger!!!
.form-fieldset-order-summary {
  width: 100%;

  @include respond-at-and-above($form-2col) {
    @include with-layout($order-item-layout) {
      @include container;

      // @@@ should this be global as part of Toggler?
      .form-legend-order-summary {
        cursor: default;
      }

      .form-label {
        position: absolute;
        top: -60px;

        &:nth-child(n+2) {
          .form-label {
            @include is-hidden;
          }
        }
      }

      // Contains ledger, form-actions, and promo link on cart page
      .order-summary-footer {
        @include span(3 last);
      }
    }
  }
}

.order-summary-label {
  padding: 4px 0;
  width: span(2 of 3);
}

.order-summary-value {
  padding-left: gutter();
  text-align: right;

  @include respond-at-and-above($form-2col) {
    text-align: left;
  }
}

// Shows cart total in the header
// visibility: mobile only
.order-summary-total {
  float: right;
}

@include respond-below($form-2col) {
  .form-legend-order-summary {
    border: 0;
  }
}
