.pillows-purchase-form {
  overflow: visible;
}

.product-purchase--pillows {
  .product-purchase-details {
    border-bottom: 1px solid color(dark-border);
    padding-bottom: size(normal);
    margin: size(smaller) 0 size(medium);
    text-align: center;
  }

  .pillows-atc-form-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid color(dark-border);
  }

  .add-to-cart-caption {
    display: inline-block;
    max-width: 22.5em;
  }

  .form-field {
    .form-label {
      margin-right: size(small);

      @include respond-at-and-above(450px) {
        margin-right: size(normal);
      }
    }
  }

  .form-field--size {
    width: calc(100% * (2 / 3));
  }

  .form-field--quantity {
    margin-left: size(smaller);
    width: calc(100% / 3);
  }

  .form-help {
    text-align: center;
  }
}
