.product-diagram-widget--pillows {
  background-size: 122%;
  background-image: url("https://casper.imgix.net/product-diagrams/pillows-mobile.jpg?auto=format&w=1000");
  background-position: center -5vw;

  @include respond-at-and-above($break-medium) {
    background-image: url("https://casper.imgix.net/product-diagrams/pillows.jpg?auto=format&w=2500");
    background-size: cover;
    background-position: 70% -48px;
  }


  @include respond-at-and-above($break-large) {
    background-size: 1890px;
    background-position: 69.5% -102px;
  }


  @include respond-at-and-above(1200px) {
    background-position: 83.5% -102px;
  }


  .product-diagram-item {
    @include respond-at-and-above(1200px) {
      width: 295px;
    }
  }
}

.product-diagram-items--pillows {
  padding-top: 75%;

  @include respond-between($break-mobile, $break-medium - 1) {
    padding-top: 72%;

    .product-diagram-item {
      min-width: 400px;
      width: 75%;
    }
  }
}

.product-diagram-item--pillows-layer,
.product-diagram-item--pillows-gusset,
.product-diagram-item--pillows-cover,
.product-diagram-item--pillows-core {
  @include respond-at-and-above($break-medium) {
    right: 4.5%;
  }


  @include respond-at-and-above(880px) {
    right: 7.5%;
  }
}

.product-diagram-item--pillows-layer {
  @include respond-at-and-above($break-medium) {
    top: 14.5%;

    .product-diagram-item-image-marker {
      left: -45%;
      top: 20%;
    }

    .product-diagram-item-wrapper:before {
      width: 38%;
      left: -44%;
      top: -35%;
      background-color: transparent;
      height: 50%;
      border-left: 1px solid color(darkest-grey);
      border-top: 1px solid color(darkest-grey);
    }
  }


  @include respond-at-and-above(1200px) {
    top: 12.5%;

    .product-diagram-item-image-marker {
      left: -64%;
      top: 110%;
    }

    .product-diagram-item-wrapper:before {
      width: 58%;
      left: -63%;
      top: 11%;
      height: 93%;
    }
  }
}

.product-diagram-item--pillows-cover {
  @include respond-at-and-above($break-medium) {
    top: 32.5%;

    .product-diagram-item-image-marker {
      left: -68%;
    }

    .product-diagram-item-wrapper:before {
      width: 62%;
      left: -68%;
    }
  }


  @include respond-at-and-above($break-large) {
    .product-diagram-item-image-marker {
      left: -86%;
    }

    .product-diagram-item-wrapper:before {
      width: 80%;
      left: -86%;
    }
  }


  @include respond-at-and-above(1200px) {
    top: 32%;

    .product-diagram-item-image-marker {
      left: -100%;
    }

    .product-diagram-item-wrapper:before {
      width: 94%;
      left: -100%;
    }
  }
}

.product-diagram-item--pillows-gusset {
  @include respond-at-and-above($break-medium) {
    top: 50%;

    .product-diagram-item-image-marker {
      left: -22%;
      top: -81%;
    }

    .product-diagram-item-wrapper:before {
      width: 16%;
      left: -22%;
      top: -81%;
    }
  }


  @include respond-at-and-above($break-large) {
    .product-diagram-item-image-marker {
      left: -34%;
    }

    .product-diagram-item-wrapper:before {
      width: 28%;
      left: -34%;
    }
  }


  @include respond-at-and-above(1200px) {
    top: 48%;

    .product-diagram-item-image-marker {
      left: -41%;
    }

    .product-diagram-item-wrapper:before {
      width: 35%;
      left: -41%;
    }
  }
}

.product-diagram-item--pillows-core {
  @include respond-at-and-above($break-medium) {
    top: 68%;

    .product-diagram-item-image-marker {
      left: -115%;
      top: -345%;
    }

    // This is slightly different since this has an L shaped line
    .product-diagram-item-wrapper:before {
      width: 108%;
      left: -114%;
      top: -215%;
      background-color: transparent;
      height: 129%;
      border-left: 1px solid color(darkest-grey);
      border-bottom: 1px solid color(darkest-grey);
    }
  }


  @include respond-at-and-above(1200px) {
    top: 67%;

    .product-diagram-item-image-marker {
      left: -125.5%;
      top: -355%;
    }

    .product-diagram-item-wrapper:before {
      left: -124.5%;
      width: 120%;
      top: -218%;
      height: 136%;
    }
  }
}
