
.product-prop--pillows-positions,
.product-prop--pillows-cool {
  .prop-illustration-image--mobile {
    width: 170%;
    left: -35%;

    @include respond-at-and-above(500px) {
      width: 140%;
      left: -20%;
    }

    @include respond-at-and-above($break-small) {
      width: 93%;
      left: 4%;
    }
  }
}


.product-prop--pillows-positions {
  padding: 0 23px 0 23px;

  .product-prop-info {
    @include respond-at-and-above($break-large){
      padding-top: 4em;
    }

  }

  .product-prop-title {

    @include respond-at-and-above($break-medium){
      max-width: 300px;
    }

  }

  // .product-prop-copy {
  //   padding-right: 1em
  // }

  .prop-illustration-video {
    margin-bottom: -6px;

    @include respond-at-and-above($break-medium) {
      margin-left: -36%;
      width: 180%;
    }

    @include respond-at-and-above($info-nav-break){
      margin-left: -43%;
    }

    @include respond-at-and-above($break-large) {
      margin-left: -10em;
    }
  }
}

.product-prop--pillows-cool {
  padding-top: 4em;

  @include respond-at-and-above($break-medium) {
    padding-bottom: 4em;
  }

  @include respond-between($break-medium, $break-large) {

    .product-prop-title {
      max-width: 300px;
    }

  }

  .prop-illustration-image-fallback {
    @include respond-at-and-above($break-medium) {
      margin-left: 66%;
      width: 172%;
    }

    @include respond-at-and-above($break-large) {
      margin-left: 78%;
      width: 150%;
    }
  }
}
