/*------------------------------------*\
    #CLEARFIX
\*------------------------------------*/

/**
 * Micro clearfix, as per: css-101.org/articles/clearfix/latest-new-clearfix-so-far.php
 * @TODO Move to display_helpers?
 */

 @mixin clearfix {
   &:after {
     content: "";
     display: table;
     clear: both;
   }
 }

 .clearfix {
   @include clearfix;
 }
 
