// Copied from Accoutrement accessiblity

@mixin is-hidden--position {
  left: -9999px;
  position: absolute;
  top: -9999px;
}

@mixin is-hidden--clip {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(1px 1px 1px 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
}

@mixin is-hidden(
  $method: clip
) {
  @if $method == position {
    @include is-hidden--position;
  } @else {
    @include is-hidden--clip;
  }
}

.is-invisible {
  @include is-hidden;
}

.is-hidden {
  display: none;
}

.is-hidden-on-small-screens {

  @include respond-below($break-small) {
    display: none !important;
  }
}

.is-hidden-on-large-screens {

  @include respond-at-and-above($break-small) {
    display: none !important;
  }
}
