/**
 * @file Content Panel
 * @module Content Panel
 * @overview Content and image panels with square ratios
 */

.content-panel {

  @include respond-at-and-above($break-medium) {
    display: flex;
  }
}

.content-panel-image,
.content-panel-content {

  @include respond-at-and-above($break-medium) {
    width: 50%;
  }
}

.content-panel-image--right {

  @include respond-at-and-above($break-medium) {
    order: 1;
  }
}

.content-panel-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: ms(7) ms(2);
}

.content-panel-content-body {
  max-width: 22em;
  font-size: ms(1);
  text-align: center;
}
