// @@@ Revisit when image/icon system in place
.logo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: none;
  fill: color(primary);

  @include respond-at-and-above($break-main-nav) {
    width: 110px;
    max-width: 70px;
    flex: 1 1 100%;
    margin-right: 20px;
  }


  @include respond-at-and-above($info-nav-break) {
    margin-right: 25px;
  }


  .icon-logo {
    width: 100px;
    height: 32px;
    margin-top: 2px;
    transition: width 0.15s, height 0.15s;

    @include respond-at-and-above($break-main-nav) {
      width: 110px;
      height: 35px;
    }
  }

  .nav-item-text {
    @extend %is-hidden;
  }

  .nav-main & {
    flex-shrink: 0;
    max-width: 110px;
    padding: 0;
  }
}
