.nav-mobile-overlay {
  @include square(0);

  @include z-index(nav-mobile-overlay);

  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: 0.15s opacity;

  &.is-open {
    @include square(100%);

    opacity: 1;
    visibility: visible;
  }

  &.anim-fadeout {
    opacity: 0;
  }
}
