// short full width product banner, on all products
// currently has free shipping and returns message

.banner {
  padding: ms(0) ms(3) 0.9rem;
  letter-spacing: size(small-tracking);
  font-size: ms(0);
  text-transform: uppercase;
  border-top: solid 1px color(dark-border);
  border-bottom: solid 1px color(dark-border);
  line-height: 1.3;
}

.banner--background {
  background: color(background);
}

.banner-content {
  margin: 0;
  text-align: center;
}
