{#
  * @overview Macros for site banners.
  * @module Banners
#}

{% from '../icons/icons.macros.html' import svg %}
{% from '../buttons/buttons.macros.html' import button %}

{#
  * Renders a basic banner for short-lines of content or a link.
  * @param {string} Banner text content
  * @param {string} Banner type (optional)
  * @param {string} URL for banners that have click-through CTAs (optional)
  * @param {string} Class name for style or JS targeting (optional)
  * @param {string} ID for JS targeting (optional)
#}
{% macro banner(content, type=null, href=null, class=null, id=null) %}
<div data-banner{% if type %}="{{ type }}"{% endif %}{% if class %} class="{{ class }}"{% endif %}{% if id %} id="{{ id }}"{% endif %}>
  <p class="r-centered">{% if href %}<a class="link-arrow" href="{{ href }}">{% endif %}{{ content }}{% if href %} {{ svg('arrow') }}</a>{% endif %}</p>
</div>
{% endmacro %}


{#
  * Renders a banner with a header and a link button. Only used at the bottom
  * of pages to drive click-through to other sections.
  * @param {string} Banner text content
  * @param {string} Call to action text
  * @param {string} URL for banners that have click-through CTAs (optional)
  * @param {string} Button style (optional, default: 'primary')
  * @param {string} Background image imgix path (optional)
  * @param {string} Video background s3 asset path (optional)
  * @param {string} Video fallback image imgix path (optional)
  * @param {boolean} Setting to display a large hero style image (optional, default: false)
  * @param {string} Class name for imgix fluid targeting (optional, default: 'imgix-fluid--nocss')
  * @param {string} Class name for style or JS targeting (optional)
  * @param {string} ID for JS targeting (optional)
  *
  * @todo: Enable playing with JS when in view, instead of `autoplay` attribute
  * @todo: Refactor to use video `poster` attribute? See issue below
  * https://github.com/CasperSleep/nightshade-core/issues/11
 #}
{% macro cta_banner(content, cta, href, button_style='primary', background_path=null, video_path=null, video_fallback_path=null, large_background=false, imgix_class='imgix-fluid--nocss', class=null, id=null) %}
<div class="cta-banner{% if large_background %} cta-banner--large-background{% endif %} {{ imgix_class }}{% if class %} {{ class }}{% endif %}"{% if id %} id="{{ id }}"{% endif %}{% if background_path %} data-src="https://casper.imgix.net/{{ background_path }}"{% endif %}>

  {% if video_path %}
  <video class="cta-bg cta-bg--vid" autoplay loop src="https://s3.amazonaws.com/casper-images/assets/video/{{ video_path }}"></video>
  <div class="cta-bg cta-bg--img imgix-fluid--nocss" data-src="https://casper.imgix.net/video/fallbacks/{{ video_fallback_path }}?auto=format&amp;crop=left&amp;fit=crop&amp;q=60"></div>
  {% endif %}

  <div class="cta-content">
    <h2 class="cta-heading -dark">{{ content }}</h2>
    {{ button(cta, button_style, href=href) }}
  </div>
</div>
{% endmacro %}
