{#
  * @overview Macros for site banners.
#}

{% from '../icons/icons.macros.html' import svg %}
{% from '../buttons/buttons.macros.html' import button %}

{#
  * Renders a basic banner for short-lines of content or a link.
#}
{% macro banner(content, type=null, href=null, class=null, id=null) %}
<div data-banner{% if type %}="{{ type }}"{% endif %}{% if class %} class="{{ class }}"{% endif %}{% if id %} id="{{ id }}"{% endif %}>
  <p class="r-centered">{% if href %}<a class="link-arrow" href="{{ href }}">{% endif %}{{ content }}{% if href %} {{ svg('arrow') }}</a>{% endif %}</p>
</div>
{% endmacro %}


{#
  * Renders a banner with a header and a link button. Only used at the bottom
  * of pages to drive click-through to other sections.

  * @todo: Enable playing with JS when in view, instead of `autoplay` attribute
  * @todo: Refactor to use video `poster` attribute? See issue below
  * https://github.com/CasperSleep/nightshade-core/issues/11
 #}
{% macro cta_banner(content, cta, href, button_style='primary', background_path=null, video_path=null, video_fallback_path=null, large_background=false, class=null, id=null) %}
<div class="cta-banner{% if large_background %} cta-banner--large-background{% endif %}{% if class %} {{ class }}{% endif %}"{% if id %} id="{{ id }}"{% endif %}{% if background_path %} style="background-image: url('https://casper.imgix.net/{{ background_path }}')"{% endif %}>

  {% if video_path %}
  <video class="cta-bg cta-bg--vid" autoplay loop src="https://s3.amazonaws.com/casper-images/assets/video/{{ video_path }}"></video>
  <div class="cta-bg cta-bg--img imgix-fluid" data-src="https://casper.imgix.net/video/fallbacks/{{ video_fallback_path }}?auto=format&amp;crop=left&amp;fit=crop&amp;q=60"></div>
  {% endif %}

  <div class="cta-content">
    <h2 class="-dark">{{ content }}</h2>
    {{ button(cta, button_style, href=href) }}
    </a>
  </div>
</div>
{% endmacro %}
