/**
 * @file Fonts Config
 * @module Typography
 * @overview Font configuration
 *
 * @todo Create a mixin for fonts. https://trello.com/c/pjMl9MoQ
 */

$calibre-light: "Calibre Light";
$calibre-medium: "Calibre Medium";
$verlag: "Verlag A", "Verlag B";
$chronicle-deck: "Chronicle Deck A", "Chronicle Deck B";
$chronicle-display: "Chronicle SSm A", "Chronicle SSm B";

$sans-stack: "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif-stack: Georgia, serif;

%calibre-light {
 font-family: $sans-stack;
 font-weight: 400;
 font-style: normal;

 .wf-active & {
   font-family: $calibre-light;
 }
}

%calibre-medium {
 font-family: $sans-stack;
 font-weight: 400;
 font-style: normal;

 .wf-active & {
   font-family: $calibre-medium;
 }
}

%verlag {
  font-family: $sans-stack;
  font-weight: 400;
  font-style: normal;

  .wf-active & {
    font-family: $verlag;
  }
}

%verlag-light {
  font-family: $sans-stack;
  font-weight: 300;
  font-style: normal;

  .wf-active & {
    font-family: $verlag;
  }
}

%verlag-black {
 font-family: $sans-stack;
 font-weight: 800;
 font-style: normal;
 text-transform: uppercase; // @todo: Address for i18n. Update content to desired case, remove transform

 .wf-active & {
   font-family: $verlag;
 }
}

%chronicle-deck {
 font-family: $serif-stack;
 font-weight: 400;
 font-style: normal;

 .wf-active & {
   font-family: $chronicle-deck;
 }
}

%chronicle-display {
  font-family: $serif-stack;
  font-weight: 400;
  font-style: normal;

  .wf-active & {
    font-family: $chronicle-display;
  }
}

%chronicle-italic {
 font-family: $serif-stack;
 font-weight: 400;
 font-style: italic;

 .wf-active & {
   font-family: $chronicle-deck;
 }
}
