/*doc
---
title: Typography
name: typography
category: stylekit
---

Typography styles are applied with classes in the markup.
Use `-light` and `-dark` modifier classes to change the text color for any
element. Default color is `color(text)`.

*/

// Base styles

ol,
ul {
  @include lists;
}

a {
  text-decoration: none;
  color: color(primary);
}


// Color Modifiers
// ---------------
// Modifier classes for light (white) or dark (Casper blue) headlines or copy

.-light {
  color: color(background);
}

.-medium {
  color: color(medium-text);
}

.-dark {
  color: color(primary);
}

.-darkest {
  color: color(dark-text);
}


// Paragraphs and Content
// -----------------------
// Classes for styling blocks of copy

.body--serif {
  @include body--serif;
}

.body--sans {
  @include body--sans;
}

.body--sans-small {
  @include body--sans-small;
}

.body--sans-medium {
  @include body--sans-medium;
}

.body--sans-large {
  @include body--sans-large;
}

.body--quote {
  @include body--quote;
}

.body--numerals-large {
  @include body--numerals-large;
}

// Headings
// ---------
// Base styling and classes for styling headers

$headings: "h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6";
$headings: ".heading-1, .heading-2, .heading-3, .heading-4, .heading-5, .heading-6";

// Generates h1-h4 and complimentary heading classes
@each $element in $headings {
  #{$element} {
    @include headers;
  }
}

.heading-1 {
  @include heading-1;
  margin-top: 0;
}

.heading-2 {
  @include heading-2;
}

.heading-3 {
  @include heading-3;
}

.heading-4 {
  @include heading-4;
}

.heading-5 {
  @include heading-5;
}

p {
  margin: 0;
}

.-spaced {
  margin-bottom: size(large);
}

.-no-trailer {
  margin-bottom: 0 !important;
}

.-nowrap {
  white-space: nowrap;
}
