/**
 * @file Fonts Config
 * @module Typography
 * @overview Font configuration
 * @see nightshade/app/assets/js/load-fonts.js
 *
 * @todo Create a mixin for fonts. https://trello.com/c/pjMl9MoQ
 */

$calibre-thin: "Calibre Thin";
$calibre-light: "Calibre Light";
$calibre-medium: "Calibre Medium";
$verlag-black: "Verlag Black";
$chronicle-deck: "Chronicle Deck";
$chronicle-deck-italic: "Chronicle Deck Italic";

$sans-stack: "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif-stack: Georgia, serif;

@mixin calibre-thin {
  font-family: $sans-stack;
  font-weight: 400;
  font-style: normal;

  .fonts-1 & {
    font-family: $calibre-light;
  }

  .fonts-2 & {
    font-family: $calibre-thin;
  }
}

@mixin calibre-light {
  font-family: $sans-stack;
  font-weight: 400;
  font-style: normal;

  .fonts-1 & {
    font-family: $calibre-light;
  }
}

@mixin calibre-medium {
 font-family: $sans-stack;
 font-weight: bold;
 font-style: normal;

 .fonts-1 & {
   font-family: $calibre-light;
 }

 .fonts-2 & {
   font-family: $calibre-medium;
   font-weight: 400;
 }
}

@mixin verlag-black {
  font-family: $sans-stack;
  font-weight: bold;

  .fonts-2 & {
    font-family: $verlag-black;
    font-weight: 400;
  }
}

@mixin chronicle-deck {
 font-family: $serif-stack;
 font-weight: 400;
 font-style: normal;

  .fonts-2 & {
    font-family: $chronicle-deck;
  }
}

@mixin chronicle-italic {
 font-family: $serif-stack;
 font-weight: 400;
 font-style: italic;

  .fonts-2 & {
    font-family: $chronicle-deck-italic;
    font-style: normal;
  }
}
