/**
 * @file Fonts Config
 * @module Typography
 * @overview Font configuration
 * @see nightshade/app/assets/js/load-fonts.js
 *
 * @todo Create a mixin for fonts. https://trello.com/c/pjMl9MoQ
 */

$calibre-light: "Calibre Light";
$calibre-medium: "Calibre Medium";
$verlag: "Verlag A", "Verlag B";
$chronicle-deck: "Chronicle Deck A", "Chronicle Deck B";

$sans-stack: "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif-stack: Georgia, serif;

@mixin calibre-light {
  font-family: $sans-stack;
  font-weight: 400;
  font-style: normal;

  .wf-active & {
    font-family: $calibre-light;
  }
}

@mixin calibre-medium {
 font-family: $sans-stack;
 font-weight: 400;
 font-style: normal;

 .wf-active & {
   font-family: $calibre-medium;
 }
}

@mixin verlag-black {
  font-family: $sans-stack;
  font-weight: 800;
  font-style: normal;

  .wf-active & {
   font-family: $verlag;
  }
}

@mixin chronicle-deck {
 font-family: $serif-stack;
 font-weight: 400;
 font-style: normal;

 .wf-active & {
   font-family: $chronicle-deck;
 }
}

@mixin chronicle-italic {
 font-family: $serif-stack;
 font-weight: 400;
 font-style: italic;

 .wf-active & {
   font-family: $chronicle-deck;
 }
}
