@mixin headers {
  @include verlag-black;
  text-transform: uppercase;
  line-height: 1.4;
}

@mixin headers--dark {
  color: color(primary);
}

@mixin headers--light {
  color: color(background);
}

@mixin heading-1 {
  font-size: ms(4);
  letter-spacing: size(small-tracking);
}

@mixin heading-2 {
  font-size: ms(2);
  letter-spacing: size(small-tracking);
}

@mixin heading-3 {
  font-size: ms(1);
  letter-spacing: size(small-tracking);
}

@mixin heading-4 {
  font-size: ms(0);
  letter-spacing: size(normal-tracking);
}

@mixin heading-5 {
  font-size: ms(-1);
  letter-spacing: size(normal-tracking);
}
