/*
  * @todo Kill all extends
 */

@mixin headers {
  @include verlag-black;
  text-transform: uppercase;
  letter-spacing: size(small-tracking);
  margin-top: 0
}

@mixin headers--dark {
  color: color(primary);
}

@mixin headers--light {
  color: color(background);
}

@mixin h1 {
  font-size: ms(2);
}

@mixin h2 {
  font-size: ms(1);
}

@mixin h3 {
  font-size: ms(0);
  letter-spacing: size(normal-tracking);
}

@mixin h4 {
  font-size: ms(-1);
  margin-bottom: ms(-3);
  letter-spacing: size(normal-tracking);
}

@mixin h5 {
  font-size: ms(-2);
  letter-spacing: size(normal-tracking);
}
