// Link styles
.link {
  @include link(medium-text, medium-text);
  text-align: left;
  letter-spacing: size(smallest-tracking);
  font-size: inherit;
}

.link--fancy {
  @extend %chronicle-italic;
  @include link(medium-text, medium-text);
  font-style: italic;
  font-size: inherit;
}
