/**
 * @file Load Web Fonts
 * @module Typography
 * @overview Load self-hosted web fonts with @font-face
 * @see app/assets/js/load-fonts.js
 */

@font-face {
  font-family: "Calibre Light";
  src: url('https://s3.amazonaws.com/nightshade-fonts/CalibreWeb-Light.woff2') format('woff2'),
       url('https://s3.amazonaws.com/nightshade-fonts/CalibreWeb-Light.woff') format('woff');
}

@font-face {
  font-family: "Calibre Medium";
  src: url('https://s3.amazonaws.com/nightshade-fonts/CalibreWeb-Medium.woff2') format('woff2'),
       url('https://s3.amazonaws.com/nightshade-fonts/CalibreWeb-Medium.woff') format('woff');
}

@font-face {
  font-family: "Calibre Thin";
  src: url('https://s3.amazonaws.com/nightshade-fonts/CalibreWeb-Thin.woff2') format('woff2'),
       url('https://s3.amazonaws.com/nightshade-fonts/CalibreWeb-Thin.woff') format('woff');
}
