/**
 * @file Modular Scale
 * @file Typography
 * @overview Initializes the Modular Scale Sass extension and scale defaults
 * @see http://www.modularscale.com/?16&px&1.2&sass&text
 */

$ms-base: 1rem;
$ms-ratio: $minor-third;
