/*
  * @todo Kill all extends
 */


@mixin body--quote {
  @include chronicle-deck;
  line-height: 1.75;
  font-size: 20px;
}

@mixin body--serif {
  @include chronicle-deck;
  font-size: ms(1);
  line-height: 1.5;
  letter-spacing: size(smaller-tracking);
}

@mixin body--sans-small {
  @include calibre-light;
  font-size: ms(0);
  letter-spacing: size (smaller-tracking);
}

@mixin body--sans {
  @include calibre-light;
  font-size: ms(1);
  letter-spacing: size(smaller-tracking);
}

@mixin body--sans-medium {
  @include calibre-light;
  font-size: ms(1);
  letter-spacing: size(smaller-tracking);
}

@mixin body--sans-large {
  @include calibre-light;
  font-size: ms(2);
  letter-spacing: size(smaller-tracking);
}

@mixin body--numerals-large {
  @include calibre-light;
  font-size: 46px;
  letter-spacing: 0.05em; // New variable, or use smaller-tracking?
  margin-top: 2px;
}
