.design-story-stats-list {
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  justify-content: center;
  align-items: flex-start;
  margin-top: size(normal);
  margin-bottom: size(smaller);

  @include respond-at-and-above($break-large) {
    margin-bottom: size(normal);
  }

  &-left {
    display: inline-block;
    text-align: center;

    .design-story-stat-header {
      max-width: 88%;
    }

    .design-story-stat-header,
    .design-story-stat-copy {
      @include respond-at-and-above($break-medium) {
        text-align: center;
        max-width: 66%;
      }
      @include respond-at-and-above($break-large) {
        text-align: left;
        max-width: 88%;
      }
    }

    .design-story-stat {
      @include respond-at-and-above($break-medium) {
        display: block;
      }
    }

    .design-story-stat-illustration {
      max-width: 180px;
      width: 50%;

      @include respond-at-and-above($break-large) {
        position: relative;
        right: 12px;
      }
    }


    @include respond-at-and-above($break-large) {
      display: flex;
    }
  }

  @include respond-at-and-above($break-medium) {
    flex-direction: row;
  }
}


.design-story-stat {
  margin-bottom: 1.75em;
  width: 100%;

  &-header {
    text-transform: uppercase;
    max-width: 218px;
    margin-left: auto;
    margin-right: auto;
  }

  @include respond-below($break-medium) {

    &:last-child {
      margin-bottom: 0;
    }
  }

  @include respond-at-and-above($break-medium) {
    display: flex;
    flex-direction: column;
    flex-wrap: no-wrap;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
    flex-shrink: 1; // Fix for IE10
    margin-bottom: inherit;
    padding: size(smaller);

    &--borders {
      border-right: 1px solid color(border);

      &:last-child {
        border-right: 0;
      }
    }
  }
}


.design-story-stat-illustration {
  width: 25%;
  max-width: 82px;
  margin: size(small) 0;

  @include respond-at-and-above($break-medium) {
    margin-bottom: size(largest);
    width: 100%;
    max-width: 92px;

    &-fill {
      max-width: 220px;
    }
  }
}


.design-story-stat-copy {
  max-width: 380px;
  margin: size(smaller) auto 0;

  @include respond-at-and-above($break-large) {
    max-width: 330px;
    font-size: 18px;
  }
}
