.design-value-prop {
  padding: size(5em) 23px;

  @include respond-at-and-above(64em) {
    padding: 5em 23px;
  }

  &:nth-child(odd) {
    background: color(lightest-grey);
  }

  &:nth-child(even) {

    .design-value-prop-container {

      @include respond-at-and-above($break-medium) {

          flex-direction: row-reverse;
      }
    }
  }
  .design-value-prop-container {
    flex-direction: row;
  }


  .design-value-prop-container {

    @include respond-at-and-above($break-medium) {
      display: flex;
      align-items: center;
      justify-content: space-around;
      min-height: 260px;
    }
  }
}

.design-value-prop--fibers {

  &-container {
    margin-top: size(large);
    padding: size(large) 0;
    position: relative;

    &:before {
      top: 0;
      content: '';
      width: 96%;
      height: 1px;
      background: color(dark-border);
      left: 50%;
      margin-left: -47.5%;
      position:absolute;
    }

    @include respond-at-and-above($break-medium) {
      padding-top: size(4em);
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-direction: row-reverse;
      min-height: 300px;

      .design-value-prop-illustration {
        width: 40%;
        margin: 0 5%;
      }
    }
  }

  &-copy-block {

    @include respond-at-and-above($break-medium) {
      width: 42%;
      text-align: left;
    }
  }

  &-list {

    .fibers-list-item {
      margin-top: size(small);
      padding-top: size(small);
      position: relative;

      &:after {
        position: absolute;
        content: '';
        width: 30px;
        background: color(border);
        height: 1px;
        top: 0;
        left: 50%;
        margin-left: -15px;
      }

      @include respond-at-and-above($break-medium) {
        width: 33%;
        min-height: 80px;
        margin-top: 0;
        padding-top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: size(normal);

        &:after {
          height: 20px;
          width: 1px;
          right: 0;
          left: auto;
          top: 50%;
          margin-top: -10px;
        }

        &:nth-child(2n) {
          padding: 0 size(normal);
        }

        &:last-child {
          padding-left: size(normal);
          &:after {
            width: 0;
          }
        }
      }
    }

    @include respond-at-and-above($break-medium) {
      display: flex;
      align-items: center;
      justify-content: space-around;
      max-width: 540px;
    }
  }
}

.design-value-prop-container {
  width: 100%;
}

.design-value-prop-illustration {
  display: inline-block;
  width: 80%;
  min-width: 120px;
  max-width: 280px;
  margin: size(large) auto size(large);

  img {
    width: 88%;
  }

  @include respond-at-and-above($break-medium) {
    width: 38%;
    max-width: 390px;
    padding: size(large) 0 size(large);
    margin: 0;
  }
}

.design-value-prop-illustration--desktop {
  display: none;

  @include respond-at-and-above($break-medium) {
    display: inline-block;
  }

}

.design-value-prop-illustration--mobile {
  display: inline-block;

  @include respond-at-and-above($break-medium) {
    display: none;
  }
}

.design-value-prop-copy {

  @include respond-between($break-mobile, $break-medium - 1px) {
    padding: 0 size(small);
  }

  @include respond-at-and-above($break-medium) {
    width: 52%;
  }
}

.design-value-prop-copy-paragraph {
  padding: 0 0 size(small) 0;

  @include respond-at-and-above($break-medium){
    padding: 0 0 size(normal) 0;
  }

}

.design-value-prop-header {
  margin-left: auto;
  margin-right: auto;

  @include respond-at-and-above($break-medium) {
    display: inline-block;
    max-width: 24em;
  }
}

.design-value-prop--cool {

  .design-value-prop-illustration {

    @include respond-at-and-above($break-medium) {
      margin-bottom: size(small);
    }
  }
}

.design-value-prop.design-value-prop--marriage {
  .design-value-prop-illustration {
    padding: 0 0 size(larger) 0;
  }
}

.design-value-prop.design-value-prop--partners {
  .design-value-prop-illustration {
    img {
      width: 78%;
    }
  }
}

.design-value-prop.design-value-prop--mattress {
  .design-value-prop-illustration {
    margin-bottom: size(small)
  }
}

.design-value-prop.design-value-prop--mattress,
.design-value-prop.design-value-prop--pillow,
.design-value-prop.design-value-prop--sheets,
.design-value-prop.design-value-prop--detail,
.design-value-prop.design-value-prop--marriage,
.design-value-prop.design-value-prop--stats {

  .design-value-prop-copy {

    @include respond-at-and-above($break-medium) {
      width: 86%;

      &-paragraph {
        width: 86%;
        margin: 0 auto;
      }
    }

    @include respond-at-and-above($break-large) {
      width: 76%;
    }
  }
}


.design-value-prop--sheets,
.design-value-prop--pillow,
.design-value-prop--fill,
.design-value-prop--fibers {

  .design-value-prop-copy {

    @include respond-at-and-above($break-medium) {
      width: percentage(2/3);

      .design-value-prop-copy-paragraph {
        width: percentage(4/5);
        margin: 0 auto;
      }

      .design-value-prop-header {
        width: percentage(3/5);
      }
    }
  }
}


.design-value-prop--mattress,
.design-value-prop--sheets,
.design-value-prop--pillow,
.design-value-prop--marriage,
.design-value-prop.design-value-prop--stats {

  .design-value-prop-illustration {
    width: 100%;
    max-width: 100%;
    display: block;
    margin: 0 auto;

    @include respond-at-and-above($break-mobile) {
      max-width: 85%;
    }
    @include respond-at-and-above($break-medium) {
      padding: size(large) 0;
    }
  }
}

.design-value-prop--sheets {

  .design-value-prop-illustration {
    padding-top: 4.5em;
  }

}

.design-value-prop--fibers {

  .design-value-prop-illustration {
    width: 100%;
    max-width: 600px;

    &-graph {
      max-width: 460px;
    }

    @include respond-at-and-above($break-medium) {
      padding: size(large) 0;
    }
  }
}

.design-value-prop--chemicals {

  .design-value-prop-copy {

    @include respond-at-and-above($break-medium) {
      text-align: left;
    }

    .design-value-prop-header {
      max-width: 260px;
      margin-left: auto;
      margin-right: auto;


      @include respond-at-and-above($break-large) {
        max-width: 360px;
      }

      @include respond-at-and-above($break-large) {
        max-width: 360px;
      }
    }
  }

  .design-value-prop-container {

    @include respond-at-and-above($break-medium) {

        flex-direction: row-reverse;
    }
  }
}

.design-value-prop--partners,
.design-value-prop--mountains,
.design-value-prop--unboxing,
.design-value-prop--dimension {

  .design-value-prop-copy {

    @include respond-at-and-above($break-medium) {
      text-align: left;
      max-width: 528px;
    }
  }

  .design-value-prop-copy-paragraph {
    padding-bottom: size(normal);
  }

  .design-value-prop-header,
  .design-value-prop-copy-paragraph {

    @include respond-at-and-above($break-large) {
      max-width: 540px;
    }
  }
}

.design-value-prop--mountains {

  .design-value-prop-header {
    max-width: 320px;

    @include respond-at-and-above(500px) {
      max-width: 450px;
    }
  }
}

// styling the play button for mobile
.mattress-design-story {
  .btn--play {

    @include respond-below(378px) {

      &:before {
        @include square(57px);
        left: 6px;
        right: 6px;
      }

      &:after {
        border-left: 15px solid color(primary);
        border-right: 15px solid transparent;
        left: 27px;
        top: 34px;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
      }
    }
  }
}

.design-story-detail-list {

  .flickity-prev-next-button{
    @include z-index(gallery-controls);
    @include square(65px);
    border-radius: 33px;
    transition: opacity 0.2s ease, background-color 0.15s;
    position: absolute;
    top: 45%;
    margin-top: -12.5px;
    right: 25px;
    cursor: pointer;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.3);

    &:hover {
      background-color: rgba(0,0,0,0.6);
      transition: opacity 0.2s ease, background-color 0.15s;
    }

    .touch & {
      display: none;
    }

    .arrow {
      fill: #fff;
    }

    svg {
      @include square(17px);
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -8.5px;
      margin-left: -8.5px;
      fill: color(background);
      transform: rotate(0deg);
    }

    #{$focus} {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }

  &:hover {

    .flickity-prev-next-button{
      opacity: .3;
    }
  }

  .design-story-detail {
    list-style-type: none;
    width: 100%;

    &-question {
      width: 100%;
      padding: 30px;
      margin: 20px auto 40px;
      font-size: 20px;
      line-height: 28px;
      max-width: 320px;
      background: color(background);
      position:relative;
      border-radius: size(normal-corners);

      &:after {
        position:absolute;
        bottom: -21px;
        left: 30px;
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 22px 26px 0 0px;
        border-color:  color(background) transparent transparent transparent;
      }

      @include respond-at-and-above($break-medium) {
        width: 40%;
        margin-left: 1.5%;
        margin-right: 1.5%;
        align-items: center;
        display: flex;
      }
    }

    &-answer {
      width: 100%;
      padding: 30px;
      text-transform: uppercase;
      margin: 20px auto 40px;
      font-weight: 800;
      letter-spacing: size(medium-tracking);
      font-size: 13px;
      line-height: 1.5;
      max-width: 320px;
      background: color(light-blue);
      position: relative;
      border-radius: size(normal-corners);

      &:after {
        position:absolute;
        bottom: -21px;
        right: 30px;
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 22px 0 0 26px;
        border-color:  color(light-blue) transparent transparent transparent;
      }

      @include respond-at-and-above($break-medium) {
        width: 40%;
        margin-left: 1.5%;
        margin-right: 1.5%;
        align-items: center;
        display: flex;
      }
    }

    @include respond-at-and-above($break-medium) {
      display: flex;
      align-items: stretch;
      justify-content: center;
    }

    // Fixes IE10 text overflow bug
    &-text-wrap {
      display: inline-block;
      width: 100%;
    }
  }
}

.design-value-prop--pillow {
  .design-value-prop-illustration {

    padding-top: size(largest);

    img {
      width: 100%;
    }
  }
}
