
// Default foam factor 1 to 2 to 3 columns

.design-foam-factors {
  padding: size(normal) size(normal) size(large);

  @include respond-at-and-above($break-medium) {
    padding: size(normal) size(normal) size(4em);
  }

  .flickity-viewport {
    overflow: visible; //override for the tooltips
    
    .touch & {
      .design-foam-factors-block{
        min-height: 225px; // sometimes flickity viewport heights get messed up; this forces it to have a min height
      }      
    }
  }

  .flickity-page-dots {
    bottom: -3px
  }

  .flickity-prev-next-button{
    @include z-index(gallery-controls);
    @include square(65px);
    border-radius: 33px;
    transition: opacity 0.2s ease, background-color 0.15s;
    position: absolute;
    top: 50%;
    margin-top: -12.5px;
    right: 25px;
    cursor: pointer;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.3);

    &:hover {
      background-color: rgba(0,0,0,0.6);
      transition: opacity 0.2s ease, background-color 0.15s;
    }

    .touch & {
      display: none;
    }

    .arrow {
      fill: #fff;
    }

    svg {
      @include square(17px);
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -8.5px;
      margin-left: -8.5px;
      fill: color(background);
      transform: rotate(0deg);
    }

    #{$focus} {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }

  &:hover {

    .flickity-prev-next-button{
      opacity: .3;
    }
  }

  &-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: size(normal);

    &:after {
      content: 'flickity';
      display: none; /* hide :after */
    }

    @include respond-at-and-above($break-medium) {

      &:after {
        content: '';
      }
    }

    .design-foam-factors-block {
      width: 100%;
      position: relative;

      &-container {
        max-width: 350px;
        margin: 0 auto;

        @include respond-at-and-above($break-medium) {
          width: 100%;
          padding: size(smaller);
        }
      }


      @include respond-at-and-above($break-medium) {
        width: percentage(1/2);
        flex-direction: row;
        padding: size(larger) size(small);
        border-right: 1px solid color(border);
        border-bottom: 1px solid color(border);

        &:nth-child(2n) {
          border-right: 0;
        }

        &:nth-child(5n),
        &:last-child {
          border-bottom: 0;
        }

        &.design-foam-factors-block-two {

          &:nth-child(3n) {
            border-bottom: 0;
          }
        }

      }

      @include respond-at-and-above($break-large) {

        &.design-foam-factors-block-three {
          width: percentage(1/3);
          display: flex;
          flex-direction: column;
          text-align: center;
          flex-wrap: no-wrap;
          align-items: center;
          justify-content: flex-start;
          flex-grow: 1;
          margin-bottom: inherit;
          padding: size(larger) size(small);
          padding-bottom: 23px;

          &:nth-child(2n) {
            border-right: 1px solid color(border);
          }

          &:nth-child(4n) {
            border-bottom: 0;
          }

          &:nth-child(3n),
          &:last-child {
            border-right: 0;
          }
        }
      }
    }

    @include respond-at-and-above($break-medium) {
      flex-direction: row;
      padding: 2.2em 1em;
    }

  }

  @include respond-at-and-above($break-medium) {
    padding: size(larger) size(mobile-sides);
  }
}

.design-factor-tooltip {
  @include square(20px);
  border-radius: 50%;
  background: color(light-grey);
  display: inline-block;
  text-align:center;
  cursor: pointer;
  font-size: 1em;
  margin-left: 3px;

  .design-foam-factor-tooltip-toggle {
    display: inline-block;
    position: relative;
    left: 1px;
    top: 1px;
  }

  .design-foam-factor-tooltip  {
    color: color(medium-grey);
    text-transform: none;
    font-size: 16px;
    bottom: 224%;
    box-shadow: 3px 3px 15px 3px rgba(0, 0, 0, 0.06);
  }

  // Custom Tooltip placement

  &.tooltip-placement-density {

    [data-arrow="bottom"]:after {
      margin-left: 23px;
    }
  }

  &.tooltip-placement-temperature {

    [data-arrow="bottom"]:after {
      margin-left: 101px;
    }
  }

  &.tooltip-placement-odor {

    [data-arrow="bottom"]:after {
      margin-left: 12px;
    }
  }

  &.tooltip-placement-staple {

    [data-arrow="bottom"]:after {
      margin-left: 53px;
    }
  }

}

.design-foam-factors-caption {
  font-size: 14px;
  max-width: 230px;
  line-height: 1.2;
  display: inline-block;
}

.design-foam-factors-illustration {

  max-width: 160px;
  padding: size(normal) 0;

  @include respond-at-and-above($break-medium) {
    width: 100%;
    padding: 0;
    margin-bottom: size(small);
  }

  @include respond-at-and-above($break-large) {
    max-width: 115px;
  }
}

.design-value-prop--detail {
  padding: 5em 23px 3em;

  @include respond-at-and-above($break-medium) {
    padding-bottom: 5em

  }

}
