// @@@@ This could abstract out into a generic hero component
// 1. TODO Checkout FlexEmbed or aspect ratio mixin

.hide-elms.hero--design {

  .hero--design-full-bleed-poster-wrapper {
    transition-delay: 0.6s;
    transition: all .1s;
    height: 0;

  }
  .hero--design-full-bleed-poster {
    transition: opacity .6s;
    opacity: 0;
    background-size: cover;
    background-repeat: no-repeat;

  }
}

// Better control over design posters

.sheets-design-story {

  .hero--design-full-bleed-poster {
    background-position: center top;
  }

}

.mattress-design-story {

  .hero--design-full-bleed-poster {
    background-position: center bottom;
  }

}

.pillows-design-story {

  .hero--design-full-bleed-poster {
    background-position: center center;
  }

}


.hero--design {
  &-wrapper {
    position: relative;
    background: color(darkest-grey);
  }
  &-full-bleed-poster {
    @include square(100%);
    position: absolute;
    background-size: cover;
    z-index: 2;
  }
  &-header {
    @include z-index(bump);
    position: relative;
    overflow: hidden;
    max-width: 1000px;
    opacity: 0;

    &-title {
      position: absolute;
      width: 100%;
      text-align: center;
      left: 0;
      z-index: 10;
      top: 15%;

      &-text {
        font-size: 23px;
        max-width: 360px;
        margin: 0 auto;
        text-shadow: 1px 4px 50px rgba(0,0,0,0.13);
      }

      @include respond-at-and-above(350px) {

        &-text {
          font-size: 28px;
        }
      }

      @include respond-at-and-above($break-mobile) {

        &-text {
          max-width: 490px;
          font-size: 38px;
        }
      }

      @include respond-at-and-above($break-medium) {
        top: 26%;

        &-text {
          max-width: 610px;
          font-size: 50px;
        }
      }
    }

  }

  .video-play-button {
    margin-top: 10px;

    @include respond-at-and-above($break-medium) {
      margin-top: 35px;
    }
  }

  .video-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    transition: 1s opacity;
    background: #ccc;
    text-align: center;

    video {
      width:100%;
      max-width: 1600px;
      height: auto;
      margin: 0 auto;
    }
  }

  &-copy {
    max-width: 805px;
    margin: size(normal) auto;
    position: relative;

    &-paragraph {
      padding-bottom: size(normal);
    }

    &:after {
      content: '';
      position: absolute;
      width: 150px;
      margin-left: -75px;
      height: 1px;
      background: color(border);
      left: 50%;
      bottom: 0;
    }
  }
}
