/*doc
---
title: Backdrops
name: backdrops
category: stylekit
---

Backdrops are helper classes used to create stylized backgrounds for
containers.

```
*/

.-backdrop {
  background-color: color(light-background);
}


.-backdrop--dark {
  background-color: color(primary);
  color: color(background);
}


.-backdrop--trial-warranty {
  background-color: color(dark-blue);
  background-image: image-url('big-stars.png');
  background-size: cover;
  color: color(background)
}
