.email-signup-newsletter {
  background-color: color(primary);
  padding-bottom: 11px;

  @include respond-between(400px, 500px) {
    @include padding-sides(55px);
  }


  @include respond-between(500px, 600px) {
    @include padding-sides(75px);
  }


  @include respond-between(600px, 750px) {
    @include padding-sides(100px);
  }


  @include respond-between(750px, 850px) {
    @include padding-sides(110px);
  }


  @include respond-between(851px, $break-large) {
    @include padding-sides(50px);
  }


  @include respond-at-and-above($break-large) {
    @include padding-sides(70px);
  }


  // @@@ TODO Need standard set of classes for section headers
  .section-header {
    float: left;

    @include respond-at-and-above(851px) {
      margin-top: 4px;
    }
  }

  .email-signup-response-text {
    color: color(background);
    padding-top: 4px;
    height: 26px;
    clear: both;
    width: 100%;
    float: left;

    @include respond-at-and-above(851px) {
      float: right;
      width: 55%;
    }
  }

  .email-signup-form {
    float: left;
    width: 100%;
    margin-top: 20px;

    @include respond-at-and-above(851px) {
      float: right;
      width: 53%;
      margin-top: 6px;
    }


    @include respond-between($break-small, 851px) {
      max-height: size(newsletter-input);
    }
  }

  .email-signup-input {
    width: 65%;

    &:focus {
      border-color: color(border);
    }

    @include respond-at-and-above($break-small) {
      font-size: 21px;
      height: size(newsletter-input);
    }


    @include respond-between($break-small, 990px) {
      width: 70%;
    }


    @include respond-at-and-above(990px) {
      width: 75%;
    }
  }

  .email-signup-submit {
    width: 35%;
    min-width: 85px;

    @include respond-at-and-above($break-small) {
      height: size(newsletter-input);
    }


    @include respond-between($break-small, 990px) {
      width: 30%;
    }


    @include respond-at-and-above(990px) {
      width: 25%;
    }
  }
}

// @@@OTOD need a way to provide tight to large margins for headers without
// setting globals
.email-signup-newsletter-title {
  margin-bottom: size(smallest);
}
