.hero--approach {
  position: relative;
  background-color: color(purple);

  .hero--header {
    max-width: 1400px;
    margin: 0 auto;
    padding: size(4em) size(mobile-sides);
  }

  .header-title {
    padding-top: size(normal);
    padding-bottom: size(smaller);
    margin: 0;

    @include respond-at-and-above($break-mobile) {
      padding-top: size(larger);
    }

    @include respond-at-and-above($break-large) {
      padding-top: size(normal);
    }
  }

  .header-copy {
    padding: 0 0 size(smaller);

    @include respond-at-and-above($break-medium) {
      padding: 0 1em size(smallest);
    }
  }

  &-copy {
    width: 100%;
    max-width: 684px;
    margin: 0 auto;
    padding: 0 size(smallest);
  }

  .hero--illustration {
    width: 100%;
    margin-bottom: size(large);

    .approach-illustration {
      width: 90%;
      margin: 0 auto;
      max-width: 490px;
      padding: 0 size(largest);
    }

    @include respond-at-and-above($break-medium) {
      margin-bottom: 0;
    }
  }
}

.hero--approach-container {

  @include respond-at-and-above($break-large) {
    display: flex;

    .hero--illustration {
      width: 45%;
      padding: 3em size(smaller) 0;

      .approach-illustration {
        padding:0;
      }
    }

    .hero--approach-copy {
      padding: 0 size(smaller);
      width: 53%;
      max-width: 600px;
      margin: 0 auto;
    }
  }

  @include respond-at-and-above($break-large) {

    .hero--illustration {
      padding-top: 1em;
    }
  }

  @include respond-at-and-above($break-xl) {

    .hero--approach-copy {
      background: white;
      border-radius: size(normal-corners);
      border: 2px solid color(blue);
      padding: size(large);
    }

    .hero-illustration {
      width: 50%;
    }
  }
}
