.approach-video-container {
  @include z-index(bump);
  padding: size(largest);
  position: relative;

  @include respond-at-and-above($break-medium) {
    padding: size(6em);
  }
}


.approach-video {
  width: 100%;
  position: relative;
  background: color(lightest-grey);
}


.approach-video-module {
  width: 100%;

  &.hide-elms {

    .approach-video-module--container {

      .video-play-button {
        transition: all .25s;
        background: rgba(255,255,255,0);
        z-index: -10;
      }

    }


    .icon-play-button {
      opacity: 0;
      transition: opacity .25s;
    }

    &:hover {

      .video-controls {
        @include z-index(bump);
        opacity: 1;
        transition: opacity .25s ease-in-out;
      }
    }
  }

  &--video {
    width: 100%;
    height: 100%;
  }

  &--container {
    position: relative;

    .video-play-button {
      @include square(60px);
      content: '';
      background: rgba(255,255,255, 1);
      border-radius: 50%;
      position: absolute;
      z-index: 8;
      top: 50%;
      cursor: pointer;
      left: 50%;
      margin-left: -40px;
      margin-top: -30px;
      transition: background-color .25s;

      &:hover {
        background: rgba(255,255,255,.5);
        transition: background-color .25s;
      }

      @include respond-at-and-above($break-medium) {
        @include square(80px);
        margin-top:  -40px;
      }
    }
  }
}


.video-copy {
  padding: size(larger) 0 0;
  position: relative;
  text-align: center;
  color: color(medium-grey);

  &-quote {
    @extend %chronicle-deck;
    padding: 20px 0 12px;
    font-size: size(video-quote);
    letter-spacing: size(smaller-tracking);
    line-height: 1.5;

    &:before {
      @extend %chronicle-deck;
      content: open-quote;
      font-size: 60px;
      display: block;
      text-align: center;
      color: color(dark-grey);
      line-height: .2;
    }

    @include respond-at-and-above($break-medium) {
      width: 85%;
      margin: 0 auto;
      font-size: 28px;
      padding: 20px 0 26px;

      &:before {
        font-size: 90px;
      }
    }

    @include respond-at-and-above(915px) {
      width: 610px;
    }

    @include respond-at-and-above($break-large) {
      padding-top: size(medium);
      width: 87%;
    }
  }

  .video-copy-name {
    padding: size(normal) 0 0;
    margin: 0;
  }

  @include respond-at-and-above($break-medium) {
    padding: size(larger) 0 0;
  }
}
