// Footer
// 1. This is to fix a bug where the footer disappears in certain places http://stackoverflow.com/questions/11258877/fixed-element-disappears-in-chrome
// 2. Remove space below footer in IE 10/11

// @@@ This file needs some TLC. Refactoring to work mobile out will help
// reduce the bloat on the page

.r-footer {
  color: color(background);
  background-color: color(primary);
  -webkit-transform: translateZ(0);
}

.r-footer-top {
  padding: 4rem 0 5rem;
  background-color: color(primary);
}

.r-footer-bottom {
  background-color: color(dark-blue);
  overflow: hidden;

  @include respond-below(500px) {
    .touch &.mobile-cta-padding {
      height: 92px;
    }
  }


  @include respond-at-and-above($break-medium) {
    padding-bottom: size(medium);
  }
}

.footer-nav {
  position: relative;
  width: 100%;

  .icon-logo {
    fill: color(background);
    width: 110px;
    height: 35px;
  }
}

// Checkout Footer
// @@@ Consider moving to checkout
[data-controller="spree/checkout"] {
  .r-footer-top {
    padding: size(largest) 0;
  }

  .r-footer-bottom {
    text-align: center;
  }

  .footer-help {
    margin-top: size(medium);
  }
}

.footer-nav-group {
  padding-right: 2.5rem;
  display: inline-block;
  vertical-align: top;

  [data-controller="spree/checkout"] & {
    padding-right: 0;
  }

  &--showrooms,
  &--bottom {
    padding-right: 0;
  }
}

.footer-nav-group--right {
  position: absolute;
  right: 0;
  top: 0;
  padding-right: 0;

  .footer-link--contact {
    display: inline-block;
  }
}

.footer-nav-group--logo,
.footer-nav-group--links {
  float: left;
}

.footer-nav-title {
  text-transform: uppercase;
  margin: 0 0 size(smaller) 0;
}

.footer-nav-title--email {
  margin-bottom: size(small);
}

.footer-link {

  transition: opacity 0.2s ease;
  display: block;
  color: color(background);
  margin: 0.1rem 0;
  letter-spacing: size(smaller-tracking);

  &:hover {
    opacity: 0.7;
  }

  .touch .r-footer-top & {
    padding: 0.2em 0;
  }

  .icon-logo {
    margin-right: 1.5rem;
  }
}

.footer-link--home {
  margin: 0;

  &:hover {
    opacity: 1;
  }
}

.footer-link--contact {
  display: inline-block;
  margin: 0;

  &:last-child {
    margin-left: size(largest);
  }

  [data-icon] {
    fill: color(#6576a0); // Find a new color for this from our stacks
  }

  [data-icon="envelope"] {
    @include square(20px);
  }
}

.footer-link--country {
  display: inline-block;
  margin: 0 size(smaller) 0 0;

  [data-icon] {
    fill: color(background);
  }
}

.footer-text--bottom {
  display: inline-block;
  vertical-align: middle;
  margin: size(normal) size(smallest);
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: size(medium-tracking);
}

.footer-text--contact {
  font-weight: 800;
  padding-right: 0;
  margin-right: 0;
}

.footer-text-mobile-centered {
  display: inline;
}

@include respond-below(1178px) {
  .r-footer-top {
    padding: 4rem 3rem 5rem;
    max-width: 100%;
  }

  .r-footer-bottom .r-inner {
    padding: 0 3rem;
    max-width: 100%;
  }
}


@include respond-below(1080px) {
  .footer-link--contact:last-child {
    margin-left: size(small);
  }

  .footer-address {
    display: none;
  }
}


@include respond-below(950px) {
  .r-footer-top {
    padding-top: 3rem;
  }

  .footer-nav-group--logo,
  .footer-address {
    display: none;
  }
}


@include respond-below($break-medium - 1) {
  .r-footer-top {
    padding: 2.5rem 2.5rem 5rem;
  }

  .r-footer-bottom {
    height: 42px;

    .r-inner {
      padding: 0 2.5rem;
    }
  }

  .footer-text--bottom {
    font-size: 11px;
  }

  .footer-link--country,
  .footer-link--contact {
    margin-top: 8px;
  }

  .footer-link--country {

    [data-icon] {
      @include square(20px);
    }
  }

  .footer-text--contact {
    display: none;
  }

  .footer-text-mobile-centered {
    position: absolute;
    top: 0;
    left: 50%;
    width: 190px;
    margin-left: -95px;
    text-align: center;

    [data-controller="spree/checkout"] & {
      position: static;
      width: auto;
      margin-left: 0;
    }
  }
}


@include respond-below(720px) {
  .r-footer-top {
    padding-bottom: size(normal);
  }

  .footer-nav-group--connect {
    display: block;
    position: static;
    padding-top: size(large);
    clear: both;
  }
}


@include respond-below(500px) {
  .footer-link--contact:last-child {
    margin-left: size(smallest);
  }
}


@include respond-below($break-mobile) {
  .r-footer-top {
    padding: 2.5rem size(large) size(normal);
  }

  .r-footer-bottom .r-inner {
    padding: 0 size(large);
  }

  .footer-text--bottom {
    font-size: 10px;
  }

  .footer-link--country {
    margin-right: size(smallest);
  }

  .footer-text-mobile-centered {
    top: 1px;
  }

  .hide-on-mobile {
    display: none;
  }

  .footer-nav-title--email {
    clear: both;
  }

  .footer-nav-group--top {
    margin-top: 0;
  }
}


@include respond-below(380px) {
  .r-footer-top {
    padding-right: 1rem;
  }

  .footer-nav-group--links:not(.footer-nav-group--showrooms) {
    padding-right: 8vw;
  }
}


@include respond-below(350px) {
  .footer-nav-group--links:not(.footer-nav-group--showrooms) {
    padding-right: 4.5vw;
  }
}


@include respond-below(340px) {
  .r-footer-bottom .r-inner {
    padding: 0 size(normal);
  }
}
