// ===============
// Header
//
// Site header contains main menu
// ===============

.r-header {
  @include clearfix;

  @include z-index(header);

  width: 100%;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.12);
  background-color: color(background);
  position: fixed;
  top: 0;

  &.is-locked {
    position: absolute;
  }

  // &.is-condensed
  //   .header-wrapper,
  //   .logo
  //     height: size(fixed-header-height)

  &.is-condensed {
    @include respond-at-and-above($break-main-nav) {
      .icon-logo {
        width: 100px;
        height: 32px;
      }
    }
  }
}

.header-wrapper {
  height: size(condensed-header-height);
  position: relative;

  @include respond-at-and-above($break-main-nav) {
    height: size(header-height);
  }
}
