// Layout
//
// 1. Spree-auth-devise hax which I hate
//
// @@@ TODO
// This file should just be positioning/layout helper classes

// class for defining sections of content
.r-section {
  position: relative;
}


// wrapper that contrains regions to max site width
.r-wrapper {
  width: $site-max-width;
}


// class for centering sections
.r-centered {
  text-align: center;
}


#search-bar {
  display: none; // [1]
}


.r-wrapper-centered {
  width: $site-max-width;
  margin-left: auto;
  margin-right: auto;
}

.r-inner {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
}


.r-section-wrapper {
  padding: 35px 23px;
}


.r-section-wrapper--sm {
  padding: 40px 23px 30px;

  /*@include respond-between($break-large, $site-max-container) {
    padding: 30px 50px;
  }*/
}


.mx-auto {
  margin-left: auto;
  margin-right: auto;
}


.-backdrop--dark {
  background-color: color(primary);
  color: color(background);
}


.-hoisted {
  @include respond-at-and-above(1200px) {
    margin-top: -40px;
  }
}


.r-section-wrapper--large {
  padding: 5rem 0 7rem;

  @include respond-at-and-above($break-large) {
    padding: 5.5rem 0 2rem;
  }

  @include respond-below(475px) {
    padding: 2rem 1rem;
  }
}


