//
// Main Menu
//
// 1. Remove grey highlight on iOS
// 2. Explicitly declare width for IE10 overlap bug. Cannot use
// shortform flex: 1 1 70px.

@import "main_menu_config";
@import "menu/mobile_menu_icon";
@import "menu/logo";
@import "menu/mobile_overlay";
@import "menu/states";

.nav-main {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  height: 100%;
  background: color(background);
  text-align: center;

  @include respond-at-and-above($break-main-nav) {
    display: flex;
    align-items: center;
    overflow: hidden;
    padding: 0 size(large);
  }


  @include respond-at-and-above(900px) {
    padding: 0 size(largest);
  }


  @include respond-below($break-main-nav - 1) {
    flex-direction: column;
  }
}

// @@@ Rename this to follow bem
@include respond-at-and-above($break-main-nav) {
  .phone-number .nav-item {
    position: relative;
    margin-right: size(medium);
    white-space: nowrap;

    @include after() {
      top: -6px;
      right: -(size(smaller));
      width: 1px;
      height: 30px;
      background: color(dark-border);
    }
  }
}


// @@@ TODO cleanup redundant class
.nav-main--primary {
  &.is-open .nav-main-group {
    display: block;
    text-align: left;

    @include respond-below($break-main-nav - 1) {
      // Make phone number last on mobile
      &--user {
        display: flex;
        flex-direction: column-reverse;
      }
    }
  }

  .nav-main-group {
    list-style-type: none;
    display: none;
    width: 100%;
    margin: 0;
    padding-left: size(normal);
    padding-right: size(normal);
    background: color(light-background);

    @include respond-at-and-above($break-main-nav) {
      display: flex;
      margin-left: auto;
      flex: 2 1 auto;
      text-align: left;
      background: color(background);
      padding: 0;

      &--user {
        text-align: right;
        margin-left: auto;
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}

.nav-item {
  @extend %verlag-black;

  color: color(text);
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: size(normal-tracking);
  transition: color 0.15s;

  @include respond-at-and-above($break-main-nav) {
    color: color(header-text);
  }


  &:not(.nav-item--unique) {
    display: block;
    padding: 1rem size(tiny);
    border-top: 1px solid color(border);

    @include respond-at-and-above($break-main-nav) {
      border: 0;
      display: inline-block;
    }


    @include respond-between($break-main-nav, 899px) {
      padding: 0 size(smaller);
    }


    @include respond-at-and-above(900px) {
      padding: 0 size(small);
    }


    #{$focus},
    &.is-selected {
      color: color(text);
    }
  }

  .icon-phone {
    @include square(13px);

    fill: currentColor;
    vertical-align: top;
    margin: 2px size(smallest) 0 0;

    @include respond-between($break-main-nav, 800px) {
      display: none;
    }
  }
}

.nav-main-group--primary {
  position: relative;

  @include respond-below($break-main-nav - 1) {
    @include before() {
      top: 0;
      left: 0;
      width: 100%;
      height: 5px;
      background-image: linear-gradient(mix(color(background), color(medium-background), 30%), color(light-background));
    }


    > li:first-child .nav-item {
      padding-bottom: size(smallest);
      border-top: none;
    }
  }
}

.nav-main-group--user {
  // Prevent nav-items breaking in between breakpoints
  @include respond-between($break-main-nav, 800px) {
    width: auto;
  }
}

.submenu-wrapper {
  height: inherit;
}

.submenu {
  visibility: hidden;
  position: fixed;
  left: 0;
  width: 100%;
  min-height: 10em;
  display: flex;
  align-items: center;

  // Always show submenu on mobile
  @include respond-below($break-main-nav - 1) {
    visibility: visible;
    position: relative;
    padding-bottom: 1em;
    min-height: 0;
  }


  @include respond-at-and-above($break-main-nav) {
    top: size(header-height);
    width: 100%;
    max-height: 161px;
    padding: size(smaller) 4em;
    justify-content: center;
    border-bottom: 1px solid color(dark-border);
    transition: transform 0.25s ease-out;
    transform: translateY(-100%);
    z-index: -1;
  }


  // Use a better state class to minimize confusion
  .is-uncollapsed & {
    visibility: visible;

    @include respond-at-and-above($break-main-nav) {
      transform: translateY(0);
    }
  }

  .is-retracted & {
    @include respond-at-and-above($break-main-nav) {
      transform: translateY(-100%);
    }
  }

  .form-field {
    margin-right: size(normal);

    &:last-child {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

// icon hiding

.has-submenu {
  [data-icon="arrow"] {
    @include square(8px);
    vertical-align: baseline;
    margin-left: 2px;
    transform: rotate(90deg);
    fill: currentColor;
  }

  @include respond-at-and-above($break-main-nav) {
    @include before($position: fixed) {
      top: 60px;
      left: 0;
      width: 100%;
      height: 5px;
      background-image: linear-gradient(rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0));
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.15s ease-out;
    }
  }


  &.is-uncollapsed {
    .nav-item {
      color: color(text);
    }

    [data-icon="arrow"] {
      transform: rotate(-90deg);
    }

    @include respond-at-and-above($break-main-nav) {
      &:before {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  &.is-retracted {
    @include respond-at-and-above($break-main-nav) {
      &:before {
        opacity: 0;
      }
    }
  }

  &.submenu-uncollapsible {
    @include respond-below($break-main-nav - 1) {
      [data-icon="arrow"] {
        @include is-hidden;
      }
    }
  }
}

// Class that wraps the left and right set of nav links
.submenu {
  @include respond-at-and-above($break-main-nav) {
    background-color: rgba(231, 232, 232, 0.97);
  }
}

.submenu--left {
  @extend .submenu;

  .is-uncollapsed & {
    justify-content: flex-start;
  }
}

.submenu--right {
  @extend .submenu;

  .is-uncollapsed & {
    justify-content: flex-end;
  }
}

.submenu-items {
  display: flex;
  flex-direction: column;
  padding-left: 0;

  @include respond-at-and-above($break-main-nav) {
    flex-direction: row;
  }
}

.submenu-item {
  opacity: 0;
  text-align: center;

  &:only-child {
    text-align: left;
  }

  @include respond-below($break-main-nav - 1) {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: no-wrap;
    max-height: 58px;
    opacity: 1;
  }


  @include respond-at-and-above($break-main-nav) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: size(normal);

    &:only-child {
      width: auto;
      margin-right: 0;
    }

    // Ideally elements type is fixed to leverage last-of-type
    &:last-child {
      margin-right: 0;
    }
  }


  .is-uncollapsed & {
    opacity: 1;
  }

  // for the cool shadow effect
  @include respond-at-and-above($break-main-nav) {
    &:hover,
    &:active {
      .submenu-item-icon {
        transform: translateY(-2%);
      }

      .submenu-item-image:after {
        opacity: 0.8;
      }
    }
  }
}

.submenu-item-action {
  display: block;
  color: color(text);

  @include respond-at-and-above($break-main-nav) {
    margin-top: -(size(small));
  }
}

.submenu-item-icon {
  max-width: 100px;
  transition: 0.15s transform ease-out;

  @include respond-at-and-above($break-main-nav) {
    max-width: 100%;
  }
}

.submenu-item-copy {
  font-size: 17px;
  letter-spacing: size(smaller-tracking);
  color: color(text);

  @include respond-below($break-main-nav - 1) {
    vertical-align: middle;
  }


  @include respond-at-and-above($break-main-nav) {
    display: inline-block;
    transform: translateY(-18px);
  }
}

.submenu-item-image {
  margin-right: size(smallest);
  display: inline-block;
  position: relative;

  @include respond-at-and-above($break-main-nav) {
    margin-right: 0;
    display: block;
    width: 180px;
    height: 137px;
  }
}

// Our approach specific styling
.submenu--our-approach {
  @include respond-below($break-main-nav - 1) {
    .submenu-item {
      padding-left: size(small);
      padding-bottom: size(small);
    }

    .submenu-item-image {
      @include is-hidden;
    }
  }


  @include respond-at-and-above($break-main-nav) {
    .submenu-item {
      margin-right: size(larger);

      &:last-child {
        margin-right: 0;
      }
    }

    .submenu-item--our-approach {
      position: relative;
      margin-right: 5.5em;

      @include after() {
        top: 7.5%;
        right: -(size(larger));
        height: 85%;
        width: 1px;
        background-color: color(medium-border);
        opacity: 0.4;
      }


      .submenu-item-action {
        margin-top: 0;
      }

      .submenu-item-copy {
        transform: translateY(-10px);
      }
    }

    .submenu-item-action {
      margin-top: 14px;
    }

    .submenu-item-image {
      width: 100px;
      height: 76px;

      &:not(.submenu-item-image--compass) {
        margin: 0 auto size(small);
      }

      &--compass {
        width: 130px;
        height: 99px;
      }
    }

    .submenu-item-copy {
      transform: translateY(-13px);
    }
  }
}

// Collapsible shared styles
.submenu-collapsible {
  @include respond-below($break-main-nav - 1) {
    &.is-collapsed {
      .submenu {
        @include is-hidden;
      }
    }
  }
}

// Shadows

.submenu-item-image:after {
  @include square(100%);

  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: opacity 0.15s;
  background-size: 100%;
  background-position: center 0;
}

.submenu-item-image--mattress:after {
  background-image: url("https://casper.imgix.net/nav/mattress-shadow.png?auto=format&w=180");
}

.submenu-item-image--sheets:after {
  background-image: url("https://casper.imgix.net/nav/sheets-shadow.png?auto=format&w=180");
}

.submenu-item-image--pillow:after {
  background-image: url("https://casper.imgix.net/nav/pillow-shadow.png?auto=format&w=180");
}

@include respond-at-and-above($break-main-nav) {
  .submenu-item-image--compass:after {
    background-image: url("https://casper.imgix.net/nav/compass-ruler-shadow.png?auto=format&w=130");
  }
}
