{% import 'nightshade-styles/modules/icons/macros.html' as icon %}
{% import 'nightshade-styles/modules/forms/forms.macros.html' as form %}


{% macro stacked_2_column_grid() %}
<div class="grid-two-column-container r-inner">
  <div class="grid-two-column-left r-section-wrapper">

  </div>

  <div class="grid-two-column-right r-section-wrapper">
  </div>
</div>
{% endmacro %}


{% macro social_links() %}

  {% set socialLinksList = {
    "facebook": "https://www.facebook.com/caspersleep",
    "twitter": "https://twitter.com/casper",
    "instagram": "https://instagram.com/casper",
    "pinterest": "https://www.pinterest.com/caspersleep"
  } %}

  <div class="social-links">
    {% for social, url in socialLinksList %}
      <a class="social-link" href="{{ url }}" target="blank">
        {{ icon.icon(social) }}
      </a>
    {% endfor %}
   </div>
{% endmacro %}


{% macro shipping_returns() %}
<section class="r-section r-centered shipping-returns-block mx-auto">
  <header class="photo-panel-header">

      {{ icon.icon("truck", size="medium" )}}

      <h3 class="photo-panel-title -dark">
      Free shipping &
      <span class="line-break">
        returns
      </span>
    </h3>
  </header>
  <ul>
    <li class="shipping-returns-text body--sans-small mx-auto">Free UPS delivery to your door in the US and Canada</li>
    <li class="shipping-returns-text body--sans-small mx-auto">Change your mind? No problem, returns are free and easy</li>
  </ul>
</section>
{% endmacro %}


{% macro newsletter_signup() %}
<section class="r-section r-centered newsletter-block mx-auto">
  <header class="photo-panel-header">

    {{ icon.icon("book-closed", size="medium" )}}

    <h3 class="photo-panel-title -dark">
      More bedtime
      <span class="line-break">
        reading
      </span>
    </h3>
  </header>
  <p class="newsletter-block-text body--sans-small">
    Sign up to receive our monthly Snoozeletter and other updates
  </p>
  {{ form.email_signup() }}

</section>
{% endmacro %}
