.banner {
  padding: 50px 23px;

  .user-info {
    font-weight: 400;
    font-size: 20px;
  }

  @include respond-at-and-above($break-large) {
    padding-top: 78px;
    padding-bottom: 78px;
  }
}

.banner-title {
  font-size: 30px;
  margin-bottom: 10px;

  @include respond-at-and-above($break-medium) {
    font-size: 36px;
  }
}