// pagination... for now
.reviews-pagination {
  .pagination {
    span {
      @include square(30px);

      display: inline-block;
      margin: 0 10px 0 0;
      vertical-align: top;
      text-align: center;
      font-size: 12px;
      line-height: (7 / 3);

      a {
        @include square(100%);

        display: block;
        color: color(text);
      }
    }

    .first,
    .prev,
    .next,
    .last {
      a {
        font-size: size(large);
        color: color(primary);
        position: relative;
        top: -4px;
        line-height: 1.2;
      }
    }

    .first,
    .prev,
    .next,
    .last,
    .current,
    .page {
      background-color: white;
      border: 1px solid color(dark-border);
      border-radius: size(small-corners);
      transition: border 0.15s;

      &:hover {
        border: 1px solid color(medium-border);
      }
    }

    .current {
      font-weight: 600;
      color: color(primary);
    }
  }
}
