.financing-modal {
  .modal-body {
    width: 800px;
    height: 500px;
    max-width: 100%;
  }
}

.financing-callout {
  height: 100%;
  padding: 40px 40px 80px;
  text-align: left;

  &.show-purchase {
    padding: 40px 40px 120px;
  }
}

.financing-callout-header {
  max-width: 600px;
  padding: 10px;
  margin-bottom: 0.5em;
}

.financing-callout-affirm-logo {
  height: 36px;
  display: inline-block;
}

.financing-callout-affirm-logo-image {
  height: 100%;
}

.financing-callout-summary {
  padding: 0 3em;
}

.financing-callout-content {
  padding: 0;
  letter-spacing: -0.31em;
}

.financing-callout-col {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  letter-spacing: 0;
  padding: 1.5em 1em 0;
}

.financing-callout-item {
  position: relative;
  padding-left: 82px;
  max-width: 420px;

  @include before() {
    background-image: image-url("affirm-icons.png");
    background-size: 79px 489px;
    top: 0;
    left: 0;
    width: 62px;
    height: 61px;
    margin: 5px;
  }
}

.financing-callout-item--payment:before {
  background-position: (-7px) -318px;
}

.financing-callout-item--flexible:before {
  background-position: (-8px) -401px;
}

.financing-callout-subheader {
  margin: 0;
}

.financing-callout-copy {
  margin: 0.5em 1em 0.5em 0;
}

.financing-callout-cta {
  padding-top: 1em;
}

.financing-callout-crawler {
  @extend .dialog-callout-crawler;

  @include respond-below(380px) {
    font-size: 12px !important;
  }
}

@include respond-below(900px) {
  .financing-callout-copy {
    margin: 0.5em 0;
    font-size: 16px;
  }
}


@include respond-below($break-medium) {
  .financing-callout-header {
    font-size: 22px;
  }

  .financing-callout-affirm-logo {
    height: 22px;
  }

  .financing-callout-summary {
    margin: 0;
    padding: 0;
    font-size: 16px;
  }

  .financing-callout-col {
    display: block;
    width: 100%;
    padding-top: 1em;
  }

  .financing-callout-cta {
    padding-top: 0.5em;
  }
}


@include respond-below($break-small) {
  .financing-callout-header {
    font-size: 18px;
    margin-bottom: 0;
  }

  .financing-callout-affirm-logo {
    height: 18px;
  }

  .financing-callout {
    padding: 10px 10px 70px;

    &.show-purchase {
      padding: 40px 40px 120px;
    }
  }

  .financing-callout-summary {
    font-size: 16px;
  }

  .financing-callout-cta {
    font-size: 16px;
  }
}


@include respond-below(370px) {
  .financing-callout-header {
    font-size: 16px;
  }

  .financing-callout-summary {
    font-size: 14px;
  }

  .financing-callout-copy {
    font-size: 14px;
  }

  @include respond-below(500px, height) {
    .financing-callout-copy {
      font-size: 12px;
    }

    .financing-callout-cta {
      font-size: 13px;
    }
  }
}
