/**
 * @file Beacon
 * @module Beacon
 * @overview Beacon button that scrolls to a page section
 */

.beacon {
  @include square(48px);
  position: absolute;
  z-index: 1;
  left: 50%;
  bottom: ms(7);
  background: color(background);
  border-radius: 50%;
  transform: translate(-50%, 50%);
  transition: 0.25s transform ease-out;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;

  @include after {
    @include square(16px);
    left: 50%;
    top: 5px;
    transform: translate(-50%, 50%) rotate(45deg);
    border-right: solid 2px color(primary);
    border-bottom: solid 2px color(primary);
  }

  &:hover {
    transform: translate(-50%, 60%);
  }
}
