/**
 * @file ScrollTo Nav
 * @module ScrollTo Nav
 * @overview ScrollTo Nav with links that scroll to corresponding sections
 */

.scrollto-nav {
  @extend %headers;
  background: color(background);
  font-size: ms(-1);
  line-height: 1.4;
  letter-spacing: size(normal-tracking);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);

  &.is-sticky {
    position: fixed;
    z-index: 10;
    width: 100%;
    top: 0;
  }
}

.scrollto-nav-inner {
  display: flex;
  justify-content: center;
  padding: ms(0) 0;
  text-align: center;
}

.scrollto-nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  width: 25%;
  min-height: 2.42rem;
  border-right: 1px solid color(medium-border);

  &:first-child {
    border-left: 1px solid color(medium-border);
  }
}

.scrollto-nav-link {
  width: 100%;
  padding: 0 ms(3);
  color: color(dark-text);

  &:hover,
  &.is-selected {
    color: color(primary);
  }
}

.scrollto-nav-link-text {
  display: inline-block;
}
