/**
 * @file ScrollTo Nav IE9 styles
 * @module ScrollTo Nav
 * @overview ScrollTo Nav IE9 styles
 */

.scrollto-nav {
  font-size: 0;
}

.scrollto-nav-item {
  display: inline-block;
  vertical-align: middle;
  font-size: ms(0);
}
