.customer-return-detail {
  font-size: 15px;
  max-width: 1126px;
}

.return-center-header-wrap {
  text-align: center;
  padding: 99px 30px 104px 30px;
  background-color: #28275b;
  color: #fff;
  position: relative;
  overflow: hidden;

  h1 {
    font-weight: 800;
    text-transform: uppercase;
    font-size: 32px;
    margin-bottom: 20px;
  }

  p.secondary {
    max-width: 600px;
    margin: 0 auto;
  }

  // Revisit this section when we refactor the warranty section
  .icon-trial-warranty {
    fill: #fff;
    opacity: 0.54;
    width: 122px;
    margin-bottom: 18px;
  }

  .return-center-header-content,
  .small-stars {
    position: relative;
  }

  .small-stars {
    position: absolute;
    z-index: 0;
    background-size: 100% auto;
    background-position-y: 0;
    background-color: transparent;
    width: 100%;
    height: 500px;
    top: 0;
    left: 0;
  }

  .return-center-header-content {
    z-index: 1;
  }
}

.return-center {
  font-size: 15px;
  max-width: 900px;
  margin: 72px auto 100px auto;
  color: color(darkest-grey);

  @include respond-below($break-medium) {
    padding: 0 12px;
  }


  h2 {
    font-size: 1.4em;
    color: color(blue);
    text-transform: uppercase;
    font-weight: 800;
  }

  hr {
    border-bottom: 2px solid #eee;
    margin: 40px 0 90px 0;
  }

  .info-boxes {
    text-align: center;

    .info-box {
      min-height: 100px;
      background: color(lightest-grey);
      padding: 75px 42px;
      margin-bottom: 24px;

      .info-box-copy {
        min-height: 130px;
      }
    }

    p {
      margin: 17px 0 34px 0;
      font-size: 21px;
      font-weight: 300;
      color: color(darkest-grey);
      line-height: 1.2em;
    }
  }

  .return-guide {
    margin-top: 66px;
  }

  .section {
    text-align: center;

    &.mattress-returns {
      h2 {
        margin-bottom: 19px;
      }

      p {
        font-size: 21px;
        margin: 0 auto 24px auto;
        max-width: 502px;
      }

      .help-center-link {
        margin-top: 13px;
      }
    }

    .items {
      margin: 50px auto 0 auto;
      max-width: 740px;

      .item {
        height: 167px;
        position: relative;
        overflow: visible;
        margin-bottom: 50px;

        .item-img {
          width: 97px;
          margin: 0 auto;

          &.label-img {
            margin-top: 0;
          }

          &.printer-img {
            margin-top: 0;
          }

          &.box-img {
            margin-top: 0;
          }
        }

        p {
          position: absolute;
          font-size: 21px;
          bottom: 0;
          width: 100%;
          text-align: center;
          padding: 0 14px;
        }
      }
    }
  }
}

.card-img {
  margin-top: 5px;
}

@include respond-below($break-medium) {
  .return-center {
    margin: 12px auto 88px auto;

    .info-boxes {
      .info-box {
        padding: 60px 42px;
        margin-bottom: 12px;

        .btn {
          width: 238px;
          margin: 0 auto;
        }
      }
    }

    .section {
      .items {
        .item {
          &.print-item,
          &.label-item,
          &:last-child {
            height: 156px;
          }

          &.print-item {
            margin-bottom: 66px;
          }

          &.label-item {
            margin-bottom: 60px;
          }

          &:last-child {
            margin-top: -20px;
            margin-bottom: 48px;
          }

          p {
            font-size: 20px;
            padding: 0;
          }
        }
      }
    }

    .return-guide {
      margin-top: 50px;
    }

    .section {
      &.mattress-returns {
        p {
          padding: 0 28px 6px 28px;
        }

        .bottom-button-wrap {
          padding: 0 42px;
        }
      }
    }
  }

  hr {
    margin: 50px auto 100px auto;
  }

  .section.mattress-returns {
    .help-center-link {
      width: auto;
      display: inline-block;
      margin-top: 0 !important;
    }
  }

  .btn {
    font-size: 13px;
    padding: 18px 30px;
  }
}


@include respond-at-and-above($break-medium) {
  .left-col,
  .right-col {
    float: left;
    width: 50%;
  }

  .left-col {
    padding-right: 0.95%;
  }

  .right-col {
    padding-left: 0.95%;
  }
}


.form-legend {
  margin-bottom: 24px;
}

.form-title {
  color: color(blue);
  font-size: 1.2em;
  font-weight: 800;
  text-transform: uppercase;
}

.spacer {
  width: 100%;
  height: 12px;

  &.md {
    height: 24px;
  }
}

.form-wrapper-return {
  max-width: 1080px;
  margin: 30px auto;
}

.new-return-form-wrap {
  opacity: 0;
  font-size: 16px;
}

.return-authorization-form {
  padding-top: 12px;
  overflow: visible;
  font-size: 16px;

  .return-item {
    margin-bottom: 24px;
    box-shadow: 0 0 0 1px #dbdbdb;
    border-radius: 4px;
    padding: 0;
    position: relative;

    .return-item-notes, select {
      color: #616161;
      border: 1px solid #dbdbdb;
    }

    .return-item-notes {
      width: 100%;
      height: 86px;
      resize: none;
      border-radius: 4px;
      margin-top: 18px;
      padding: 9px 12px;
    }

    .notes-wrap {
      height: 0;
      overflow: hidden;
    }

    select {
      padding: 9px 12px;
      cursor: pointer;
      margin-top: 10px;
      font-size: 16px;
      fill: color(medium-text);
      padding-right: size(large);
      background-image: image-url("nightshade/icons/select-arrow.svg");
      background-repeat: no-repeat;
      background-position: right 15px center;
      background-size: 12px 8px;
      appearance: none;
      border-radius: size(small-corners);
      cursor: pointer;

      &:-moz-focusring {
        color: transparent;
        text-shadow: 0 0 0 color(text);
      }
    }

    .product-image {
      margin-top: 4px;
    }

    .return-item-inner {
      padding: 24px 20px 26px 20px;
    }

    .rma-bottom-info {
      display: none;
      text-align: left;
      padding: 13px 17px;
      clear: both;
      background: color(lighter-grey);
      border-radius: 0 0 4px 4px;

      a {
        color: #616161;
        text-decoration: none;
        border-bottom: 1px solid #616161;
        padding-bottom: 2px;
      }

      a:hover {
        color: #7d7d7d;
        cursor: pointer;
        text-decoration: none;
        border-bottom: 1px solid #7d7d7d;
      }
    }

    &.checked {
      box-shadow: 0 0 0 2px color(blue);

      .return-item-checkbox-wrap {
        .check-icon {
          display: block;
        }
      }

      .notes-wrap {
        height: auto;
      }
    }

    &.even {
      margin-right: 0;
    }

    &.in-rma {
      display: block;

      &,
      .product-info-label {
        &:hover {
          cursor: not-allowed;
        }
      }

      .existing-rma-message {
        font-weight: 700;
      }

      .product-image {
        cursor: default;
      }

      .rma-bottom-info {
        display: block;

        &:hover {
          cursor: default;
        }
      }
    }
  }

  .product-title {
    color: color(blue);
    text-transform: none;
    font-weight: 600;
  }

  .product-description {
    padding-top: 0;
    margin-bottom: 2px;
    width: 100%;
    padding-right: 0;
  }

  .return-item-checkbox-wrap {
    position: absolute;
    top: 13px;
    right: 13px;
    border: 1px solid #dbdbdb;
    background: #fff;
    border-radius: 2px;
    width: 22px;
    height: 22px;
    text-align: center;
    line-height: 20px;
    padding-top: 2px;
    font-size: 15px;
    cursor: pointer;

    input {
      display: none;
    }

    .check-icon {
      color: color(blue);
      display: none;
      font-weight: 300;
    }
  }

  .existing-rma-link {
    margin-top: 12px;
    font-size: 0.75em;
  }
}

.return-item-reason {
  width: 100%;
  clear: both;
}

.col-1,
.col-2,
.col-3 {
  float: left;
  width: 100%;
}

.col-1 {
  position: absolute;
  left: 20px;
  max-width: 96px;
}

.col-2 {
  padding-left: 110px;
}

.product-image {
  width: 100%;
  height: auto;
  cursor: pointer;
}

.col-3 {
  max-width: 516px;
}

.product-info-label,
.product-image {
  display: block;

  &:hover {
    cursor: pointer;
  }
}

.product-info-label {
  min-height: 98px;

  .product-title {
    padding-right: 24px;
  }

  &, p {
    font-size: 1em;
  }
}

.return-success-message {
  .form-legend {
    font-size: 33px;
  }
}

.rma-shipment {
  border-bottom: 1px solid #ccc;
  margin-bottom: 24px;
}

.rma-shipment-well.packing-slip-loaded {
  position: relative;

  .loading-heading,
  .loading-copy {
    display: none;
  }

  .loaded-heading,
  .loaded-copy {
    display: block;
  }
}

.rma-shipment-wrap {
  margin-bottom: 24px;

  &.shippable {
    border: 2px solid #ccc;
    padding: 14px 18px 16px 18px;
  }
}

.packing-slip-box {
  position: relative;
  margin-bottom: 30px;

  h2 {
    font-size: 33px;

    span.not-ready {
      display: none;
    }
  }

  p {
    font-size: 20px;
  }
}

h2.shipment-items-head {
  font-size: 23px;
  margin: 4px 0 32px 0;
  text-transform: uppercase;
}

.rma-shipment-well {
  .loaded-heading,
  .loaded-copy {
    display: none;
  }

  .loading-copy-sub {
    display: none;
    font-size: 13px;
    color: #616161;
    max-width: 312px;
    margin: 14px auto 0 auto;
  }
}

.rma-shipment-well.packing-slip-loaded .packing-slip-box {
  h2 {
    span.not-ready {
      display: none;
    }

    span.ready {
      display: inline;
    }
  }
}

.rma-shipment-well.not-loaded .packing-slip-box {
  h2 {
    span.not-ready {
      display: inline;
    }

    span.ready {
      display: none;
    }
  }
}

.rma-shipment-well.not-loaded {
  .loading-copy-sub {
    display: block;
  }
}

.rma-shipment-items, .rma-info {
  margin: 0 0 20px 0;
  opacity: 0;

  h2 {
    font-size: 1.3em;
    font-weight: 900;
    text-transform: uppercase;
    color: color(blue);
    margin-bottom: 12px;
  }

  .shipment-return-item {
    margin-bottom: 30px;
    border: 1px solid #e7e8e8;
    padding: 24px 20px 28px 20px;
    border-radius: 4px;
    font-size: 15px;

    .left-col,
    .right-col {
      overflow: visible;
    }

    .left-col {
      width: 112px;
      position: absolute;
    }

    .right-col {
      width: 100%;
      padding-left: 120px;
      min-height: 103px;
    }

    .product-description,
    .product-price,
    .reason {}

    .product-image {
      margin-top: 5px;
      margin-right: 0;
    }

    .product-title {
      color: color(blue);
      font-weight: 600;
    }
  }
}

.rma-shipment-items .shipment-item {
  .product-item-description {
    ul {
      margin: 0;
      padding: 0;
    }

    .product-size,
    .product-description,
    .product-price,
    .reason {
      font-size: 18px;
      margin-bottom: 10px;
    }
  }
}

.packing-slip-button {
  margin: 10px 0 0 0;

  .loading-spinner {
    width: 13px;
    height: 13px;
    left: 0;
    top: 0;
  }

  .loading-spinner-wrap {
    display: none;
    margin-right: 10px;
    margin-left: -5px;
    top: 1px;
    position: relative;
    overflow: visible;
  }

  &.is-empty {
    opacity: 0.55;

    &:hover {
      cursor: not-allowed;
    }

    .loading-spinner-wrap {
      display: inline-block;
    }

    .loading-spinner {
      display: block;
    }
  }
}

.non-shippable-items-section {
  padding: 14px 20px 18px 20px;
  margin-top: 20px;
  border-radius: 4px;
  border: 1px #ddd solid;
  background-color: #f3f3f3;

  h3 {
    font-size: 30px;
    margin-bottom: 12px;
  }

  p.info {
    font-size: 21px;
    line-height: 125%;
    margin-bottom: 24px;
  }
}

.btn.back-to-orders {
  margin: 0 auto;
  font-family: "Verlag A", "Verlag B", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 800;
}

.cancel-return-button,
.continue-return-button {
  padding: 1.15em 5.4em;
  margin: 0 7px 18px 7px;
}

.multiple-return-shipments-message {
  border: 1px #ddd solid;
  background-color: #f3f3f3;
  font-size: 18px;
  padding: 18px;
  margin-bottom: 20px;
}

.form-actions {
  width: 100%;
  margin-top: 0;
  clear: both;

  &.customer-return-form-actions {
    text-align: center;
    margin-top: 66px;
    margin-bottom: 90px;
  }
}

.well {
  padding: 60px 20px 68px 20px;
  border-radius: 5px;
  background: color(lightest-grey);
  text-align: center;
  margin-bottom: 40px;

  h2 {
    color: color(blue);
    font-size: 1.3em;
    text-transform: uppercase;
    font-weight: 800;
  }

  p {
    font-size: 1.3em;
    margin: 12px auto 38px auto;
  }
}

@include with-layout($account-layout) {
  .three-col {
    @include container;

    .col-1,
    .col-2,
    .col-3 {
      position: relative;
      left: auto;
      max-width: 100%;
      padding: 0;
    }

    .col-1 {
      @include span(4);
    }

    .col-2 {
      @include span(4);
    }

    .col-3 {
      @include span(4);
    }

    @include respond-below($break-medium) {
      .col-1,
      .col-2,
      .col-3 {
        @include span(12);
      }
    }
  }
}


@include respond-below($break-medium) {
  .packing-slip-box {
    h2 {
      font-size: 25px;
    }
  }

  .return-authorization-form,
  .rma-shipment-items, .rma-info {
    .return-item,
    .shipment-return-item {
      .return-item-inner {
        padding: 18px;

        .product-title {
          padding-right: 25px;
        }
      }

      .col-1,
      .left-col {
        max-width: 80px;
      }

      .col-2,
      .right-col {
        padding-left: 92px;
        min-height: 101px;
      }

      .product-image {
        margin-right: 5px;
      }
    }
  }

  .rma-shipment-items {
    .shipment-return-item {
      padding: 18px 24px 20px 24px;
    }
  }

  .return-authorization-form {
    .return-item {
      width: 100% !important;

      &.odd {
        margin-right: 0 !important;
      }
    }
  }

  .form-wrapper-return {
    margin-top: 0;

    .cancel-return-button,
    .continue-return-button {
      margin-right: 0;
      display: inline-block;
      clear: both;
      float: none !important;
    }
  }
}
