// form specifics - move
// abstract out the button
.form-wrapper-login {

  max-width: 412px;
  margin-left: auto;
  margin-right: auto;
  margin-top: size(normal);

  .btn {
    display: block;
    width: 100%;
  }

  @include respond-at-and-above($break-large) {
    max-width: 475px;
    margin-top: 50px;

    .btn {
      display: inline-block;
      width: auto;
    }
  }

  .login-link {
    @extend %verlag-black;
    @include link(medium-text, text);
    padding-bottom: 2px;
    border-bottom: 1px solid color(text);
    color: color(text);
    margin-left: size(tiny);
    margin-right: size(tiny);

    &:hover {
      color: color(medium-text);
      border-bottom: 1px solid color(gray--light3);
    }
  }

  .remember-me-label{
    margin-top: -5px;
  }

  .remember-me-label-text{
    @extend %verlag-black;
    padding-bottom: 2px;
    border-bottom: 1px solid color(text);
    color: color(text);
    text-transform: none;
    font-size: 16px;
  }

  .login-submit-button-container{
    margin-top: 2.75em;
  }

  .form-input--checkbox {
    float: left;
    margin-right: 8px;
    margin-top: 2px;
  }
}

.form-wrapper-registration {

  .create-account {

    @include respond-below($break-large - 1) {
      margin-bottom: size(large);

      .form-wrapper-login {
        margin-top: 0;
      }
    }
  }

  .checkout-guest {
    margin-top: 50px;

    @include respond-below($break-large - 1) {
      order: -1;
      margin-top: size(normal);
    }
  }
}


.form-wrapper-account {
  max-width: 1080px;
  margin: 0 auto 100px auto;

  .order-summary {
    width: 100%;
    text-align: left;
  }

  .order-summary.with-rma-link .order-total {
    text-align: left;
  }

  .order-total {
    text-align: right;
  }

  .form-actions {
    max-width: 312px;
  }

  .account-summary {
    margin-bottom: size(normal)
  }

  .account-my-orders {
    padding-top: 24px;
    margin-top: 41px;
  }

  .account-email-link,
  .order-number-link {
    @include link(dark-text, text);
    transition: color .2s;
  }

  .email-addr {
    font-size: 24px;
  }
}

h3.orders-header {
  font-size: 22px;
  color: color(blue);
  margin-bottom: 12px;
}
