/**
 * @file Forms
 * @module Forms
 * @overview Website form elements and components
 */

// Reset form elements
form,
figure,
fieldset,
legend,
button {
  margin: 0;
  padding: 0;
}

form {
  overflow: hidden;
  width: 100%;
}

legend {
  border: 0;
  display: block;
  width: 100%;
}

fieldset {
  border: 0;
}

button,
input {
  border: 0;
  background: none;
  cursor: pointer;

  #{$focus} {
    outline: 0;
  }
}

button[disabled] {
  cursor: default;
}

// Get rid of number dropdown "spinners" for an overwhelming amount of browsers
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

input[type="radio"] {
  -webkit-appearance: radio;
  border-radius: 50%;
  border: 1px solid color(text);

  &:checked {
    background-color: color(gray);
  }
}

// Get rid of number dropdown "spinners" for browsers
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  -ms-appearance: textfield;
  appearance: textfield;
}

select {
  outline: 0;
  box-shadow: 0;
  background: transparent;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: "";
  appearance: none;

  &:focus {
    border: 1px solid color(gray--light3);
  }

  &::-ms-expand {
    display: none;
  }
}

.form-section-special-instructions {
  margin-top: size(between-form-spacing);
}

// Custom form classes
// @depreciating please use `.form-wrapper` instead
.form {
  margin-top: 34px;
}

// @@@ refactor and consolidate into one class or better way to apply
.form-section + .form-section,
.form-fieldset + .form-section,
.form-section + .form-fieldset,
.form-fieldset + .form-fieldset {
  margin-top: 65px;

  @include respond-at-and-above($break-large) {
    margin-top: 80px;
  }
}

.form-field-payment-method {
  margin-bottom: 8px !important;
}


// the title element
.form-legend {
  @include heading-3;
  padding-bottom: ms(-2);
  margin-bottom: ms(3);
  color: color(text);
  border-bottom: 1px solid color(border);
  align-items: center;

  @include respond-at-and-above($form-max) {
    display: flex;
  }
}

.form-legend-alt {
  font-size: ms(0);
  letter-spacing: size(smaller-tracking);
  text-transform: lowercase;
  display: block;
  margin-top: ms(0);

  @include respond-at-and-above($form-max) {
    margin-left: auto;
    margin-top: 0;
  }
}

// @@@ this is overriding default h2
// how often are we doing this?!
.form-section-title {
  margin-bottom: 0.5rem;
}

@include respond-at-and-above($break-large) {
  .form-field-group {
    display: flex;

    .form-field {
      flex: 1 1 50%;

      &:last-child:not(:only-child) {
        margin-left: size(normal);
      }

      &.form-field--house-number:last-child {
        margin-left: 0;
      }
    }

    .form-field--three-quarter {
      flex: 1 1 75%;
    }

    .form-field--quarter {
      flex: 1 1 25%;
    }
  }
}

.form-field {
  position: relative;
  margin-bottom: ms(3);

  // @todo Turn this into a modifier when nightshade styles port over (e.g. form-field--standard)
  &:not(.form-field--float) {

    .form-label {
      @include heading-5;
      display: block;
      margin-bottom: ms(-6);
      color: color(text);

      & + .form-input {
        margin-top: ms(-6);
      }
    }
  }
}

.form-field--float {

  &.has-text {

    .form-label {
      transform: translateY(0);
      opacity: 1;
      pointer-events: auto;
    }

    .form-input {
      padding: 1.3rem ms(0) 0.4rem;
    }

    .form-input--select {
      color: color(text);
    }
  }

  .form-label {
    position: absolute;
    top: ms(-4);
    left: 1.1rem;
    font-size: ms(-1);
    letter-spacing: size(smaller-tracking);
    line-height: 1;
    color: color(dark-text);
    opacity: 0;
    pointer-events: none;
    transform: translateY(ms(-9));
    transition: transform 0.25s ease-out, opacity 0.25s ease-out;
  }

  .form-input--select {
    color: color(dark-text);
  }
}


.form-label-copy {
  display: inline-block;
}

.form-label--alt {
  @include verlag-black;
  font-size: 0.94rem;
  text-transform: uppercase;
  letter-spacing: size(small-tracking);
}

.form-label--radio-check {
  display: block;
  position: relative;
  padding-left: ms(2);
  cursor: pointer;

  &.form-label {
    .form-input--checkbox,
    input[type="radio"] {
      top: 2px; // Positioning for Verlag Black labels
    }
  }

  .form-input--checkbox,
  input[type="radio"] {
    position: absolute;
    top: 4px; // Positioning for regular body sans labels
    left: 0;
    margin: 0;
  }
}

.form-input {
  @include calibre-light;
  font-size: ms(0);
  letter-spacing: size(smaller-tracking);
  width: 100%;
  border: 1px solid color(dark-border);
  margin: 0;
  padding: 0.85rem ms(0);
  color: color(text);
  border-radius: size(normal-corners);
  background: color(background);
  cursor: auto;
  transition: padding 0.25s ease-out;

  &:not(.form-input--checkbox) {
    appearance: none;
  }

  &:focus {
    border-color: color(primary);
  }

  // these are for jquery validation plugin
  // @@@ consolidate these into one class
  &.has-errors,
  &.error {
    border-color: color(accent);
  }
}

.form-input::placeholder {
  color: color(dark-text);
}

// Autoprefixer isn't adding -moz prefix, and Firefox needs opacity to be set
.form-input::-moz-placeholder {
  color: color(dark-text);
  opacity: 1;
}

.form-input--textarea {

  #{$focus} {
    outline: 0;
  }
}

.form-input--select {
  padding-right: size(large);
  background-image: image-url("nightshade/icons/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 15px center;
  background-size: 12px 8px;
  border-radius: size(normal-corners);
  cursor: pointer;

  // @@@ mozilla arrow
  &:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 color(text);
  }
}

.form-input--checkbox {
  width: auto;
  margin: 0;
  padding: 0;
  cursor: pointer;

  // iOS styling
  background: color(light-background);
  border: 1px solid color(gray);
  border-radius: 5px;

  &:checked {
    background: color(gray);
  }
}

.form-input--radio {
  @include circle(44px, primary);

  &:checked {
    background: color(primary);
  }
}

// Grouped input/submit buttons (e.g. Newsletter signup)
.form-input-group {
  display: flex;

  .form-input,
  .btn {
    height: 48px;
  }

  .form-input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .btn {
    padding: size(smaller) size(small);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    &:focus {
      box-shadow: none;
    }
  }
}

.form-actions {
  margin-top: size(large);
}

.form-description {
  margin-top: size(small);
  margin-bottom: 10px;
  max-width: 540px;

  // for radios and checkboxes
  .form-label + & {
    margin-top: 0;
    margin-left: ms(2);
  }
}

.form-help {
  display: block;
  font-size: ms(-1);
  color: color(primary);
  margin-top: 0.7rem;

  a {
    @include link(text, dark-text, "after");
  }

  &.form-help--tight {
    margin-top: size(smallest);
  }
}

// Form States
// -----------
.is-required {
  color: color(accent);
}

.has-errors {
  // Class added by jQuery form validation when a form-field is invalid
  &.form-input {
    border-color: color(accent);
  }
}

// @@@ consolidate error handling

// from jquery validation plugin
label.error {
  color: color(accent);
  margin-top: 0.7rem;
}

// jQuery's validation plugin generates a label. We don't display it to
// sighted users, but accessible hide it for unsighted users
label.has-errors {
  @include is-hidden;

  color: color(accent);
}

// Form button states
form {
  .btn--primary {
    &:focus {
      box-shadow: 0px 0px 0px 2px mix(color(background), color(primary), 70%);
    }
  }

  .btn--secondary {
    &:focus {
      box-shadow: 0px 0px 0px 2px mix(color(background), color(primary), 20%);
    }
  }

  .btn--accent {
    &:focus {
      box-shadow: 0px 0px 0px 2px mix(color(background), color(accent), 70%);
    }
  }
}

// Inline validation error
.form-inline-error {
  position: absolute;
  bottom: -1.1rem;
  left: 0;
  font-size: ms(-1);
  line-height: 1;
}
