.form-input-group {
  .email-signup-input {
    width: 65%;
    letter-spacing: size(smaller-tracking);

    &:focus {
      border-color: color(dark-border);
    }
  }

  .email-signup-submit {
    width: 35%;
    padding: size(smaller) size(small);
    font-size: 13px;
  }
}

.email-signup-response-text {
  padding-top: ms(-1);
}
