/**
 * @file Input Group
 * @module Input Group
 * @overview Input group has an input and a button.  If the button has text, it
 * is alongside the input field, if it has an icon, it is positioned absolutely on top
 */



// Generic Input Group, consists of an input and a button
.input-group {
  display: flex;

  .input {
    @include body--sans-small;

    width: 100%;
    border: 1px solid color(border);
    margin: 0;
    padding: size(smaller) size(small);
    color: color(dark-text);
    background: color(background);
    cursor: auto;
    border-radius: size(normal-corners) 0 0 size(normal-corners);

    &:focus {
      border-color: color(gray--light3);
    }
  }

  [data-button] {
    padding: size(smaller) size(small);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

// Search Input field
.search-input {
  position: relative;

  .input {
    // width of the search icon in a button
    padding-right: 40px;
    border-radius: size(normal-corners);
  }

  // Need a better way to vertical align this button
  [data-button] {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    margin-top: size(smallest);
  }
}
