.size-selector--exposed {
  width: 100%;

  // @@@ hack to cleanup
  // Fix inline-block spacing
  letter-spacing: -0.31em;
  margin-top: -2px;

  .size-selector-exposed-cta,
  .size-selector-exposed-dimensions {
    padding: 0 5px 7px;
  }

  .size-selector-exposed-cta {
    float: left;
  }

  .size-selector-exposed-dimensions {
    float: right;
  }

  .form-field {
    padding-bottom: 1.35rem;
  }

  // @@@ normalize this into a class
  .size-selector-exposed-cta,
  .size-selector-exposed-dimensions,
  .size-selector-option {
    @extend %verlag-black;

    font-size: 13px;
    letter-spacing: size(normal-tracking);
    text-transform: uppercase;
    line-height: 2;
  }

  .size-selector-selected {
    display: none;
  }

  .size-selector-options {
    padding: 0;
    clear: both;
    border-radius: 6px;
    border: 1px solid color(dark-border);
  }

  .size-selector-option {
    width: percentage(1 / 3);
    display: inline-block;
    position: relative;

    // @@@ bet this can get done with less code
    &:nth-child(1) {
      .size-selector-name {
        border-right: 1px solid color(dark-border);
        border-bottom: 1px solid color(dark-border);
      }
    }

    &:nth-child(2) {
      .size-selector-name {
        border-bottom: 1px solid color(dark-border);
      }
    }

    &:nth-child(3) {
      .size-selector-name {
        border-left: 1px solid color(dark-border);
        border-bottom: 1px solid color(dark-border);
      }
    }

    &:nth-child(4) {
      .size-selector-name {
        border-right: 1px solid color(dark-border);
      }
    }

    &:last-child {
      .size-selector-name {
        border-left: 1px solid color(dark-border);
      }
    }

    &.is-selected .size-selector-name {
      background: color(dark-border);
    }
  }

  .size-selector-name {
    display: block;
    width: 100%;
    padding: 0.3rem 0;
    text-align: center;
    cursor: pointer;
    // @@@ expensive property to animate
    transition: background 0.15s ease;

    &:hover {
      background: lighten(color(dark-border), 5%);
    }
  }

  .size-selector-dimensions {
    display: none;
  }
}

.form-input--price {
  .currency {
    @extend %verlag-black;

    display: block;
    text-align: left;
    margin-top: 20px;
    margin-left: 0;
    font-size: 13px;
    letter-spacing: size(normal-tracking);
  }
}

