// Tooltip styles
.tooltip-container {
  position: relative;
}

.tooltip {
  position: absolute;
  left: 50%;
  bottom: calc(100% + 18px);
  transform: translateX(-50%);
  min-width: 160px;
  padding: ms(-3) ms(-1);
  background: color(gray--light1);
  color: color(background);
  font-size: ms(-1);
  line-height: 1.3;
  font-weight: bold;
  letter-spacing: size(small-tracking);
  text-align: center;
  border-radius: size(normal-corners);
  pointer-events: none;
  z-index: 1;

  &.is-invisible {
    visibility: hidden;
  }

  &:after {
    content: "";
    @include arrow('bottom', gray--light1, 10px);
  }
}
