// short full width product banner, on all products
// currently has free shipping and returns message

[data-banner] {
  padding: size(small) size(medium);
  letter-spacing: size(medium-tracking);
  font-size: 14px;
  text-transform: uppercase;
  border-top: solid 1px color(dark-border);
  border-bottom: solid 1px color(dark-border);

  @include respond-at-and-above($break-medium) {
    font-size: 16px;
    height: size(condensed-header-height);
    line-height: size(condensed-header-height);
    padding: 0;
  }

  .icon-arrow {
    top: 4px;
  }
}

[data-banner="background"] {
  background: color(background);
}
