.cta-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-position: center center;
}


.product-footer .cta-banner .cta-bg-vid {
    display: none;
}

.product-footer .cta-banner .cta-bg {
    z-index: 1;
    display: block;
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
