// Small block version of the 100 night trial banner component
// Currently used on checkout flow

$trial-warranty-block: (
  container: 350px,
  output: isolate,
  columns: 1 2,
  gutters: .2,
  gutter-position: before
);


@include with-layout($trial-warranty-block) {
  .trial-warranty--block {
    @include container;
    padding: size(large) 23px;
    position: relative;

    .icon-trial-seal-hundrednight {
      @include span(1 first);
      height: 75px;
      fill: color(gray--light3);
    }

    .icon-text {
      @include span(1 last);

      @include respond-below($form-2col) {
        padding-top: size(small);
      }
    }
  }
}
