$slot-time-width: 48 / 16 * 1em;

@import "picker_states";

.tabs-container--courier-picker {
  margin-bottom: size(large);
}

.courier-slot-picker-scroller {
  margin-bottom: size(large);

  // Adding a border to the parent class causes the border to spill over
  // the container despite the visibility settings. We must set it on
  // this class. Can be revisited.
  .flickity-viewport {
    border-left: 1px solid color(border);
  }
}

.courier-slot-picker-nav {
  text-align: center;
  margin-top: size(smaller);
}

// Element that contains the title, calendar, and arrows
.courier-slot-picker-header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: color(primary);
  padding: size(smaller);
  color: color(background);
  fill: color(background);
  height: size(courier-header);
}

// Hidden input required by Rome plugin
// Due to constraints of the plugin, we must position the input where we want
// the top of the calendar widget to appear
.courier-slot-picker-day-selector {
  bottom: 0;
  left: 0;

  @include respond-between($form-2col, $form-tablet) {
    left: 10%;
  }


  @include respond-at-and-above($form-tablet) {
    left: 30%;
  }
}

// Calendar input element
// @@@ better class
.courier-slot-picker-day-selector-toggler {
  display: flex;
  flex: 1 1 auto;
  order: 2;
  text-align: center;
  cursor: pointer;
  justify-content: center;

  .icon {
    @include square(20px);

    margin-left: size(smallest);

    // @@@ TODO pass these classes to the helper

  }

  .icon-text {
    @extend %h4;

    @extend %headers;

    margin-bottom: 0;
    align-self: flex-end;
  }
}

.courier-slot-picker-nav-arrow {
  transition: color 0.15s;

  .no-touch & {
    cursor: pointer;
    position: relative;
  }

  [data-icon] {

    #{$focus} {
      color: rgba(0, 0, 0, 0.2);
    }
  }

  // @@@ handle with icon system
  &.back {
    margin-right: size(largest);

    [data-icon] {
      transform: rotate(180deg);
    }
  }

  &.next {
    margin-left: size(largest);
    order: 3;
  }

  &[disabled] {
    opacity: 0;
  }
}

// Each day in the picker. Represented by HTML `fieldset`
.courier-slot-picker-day {
  width: 100%;
  position: relative;

  @include respond-at-and-above($form-2col) {
    display: inline-block;
  }


  @include respond-between($form-2col, $form-tablet) {
    width: 50%;
  }


  @include respond-at-and-above($form-tablet) {
    width: percentage(1 / 3);
  }
}

// Element that displays the day of the week, i.e. the form `legend`
.courier-slot-picker-day-title {
  padding: size(smaller);
  text-align: center;
  margin-bottom: 0;
  border-right: 1px solid color(border);
  background-color: color(medium-background);
  height: size(courier-header);
}

// `label` element for each timeslot.
// contains courier-slot-time (start and end)
.courier-slot-label {
  cursor: pointer;
  display: block;
  padding: size(smaller);
  transition: background-color 0.15s, color 0.15s;
  border-right: 1px solid color(border);
  border-bottom: 1px solid color(border);
  color: color(primary);

  .touch & {
    padding: size(small);
  }

  #{$focus} {
    background-color: tint(color(tab-hover), 60%);
  }
}

// Shared element class for start and end times
.courier-slot-time {
  @extend %h4;

  &:first-child:after {
    content: "to";
  }
}

// Slider
.courier-slot-picker-scroller {
  overflow-x: hidden;
  white-space: nowrap;
  width: 100%;
}

// Tabbing
.parcel-tabpanel,
.courier-tabpanel {
  display: none;

  &.is-active {
    display: block;

    label.error {
      border: 1px solid color(accent);
      border-radius: size(normal-corners);
      padding: size(smaller);
      margin-top: 0;
      margin-bottom: size(smaller);
      display: inline-block;
    }
  }
}

// Flash notice that displays the customers selected time slot
.courier-rsvp {
  margin-bottom: size(normal);

  .icon {
    height: 4em;
    width: 100%;
    fill: color(primary);
  }
}

// Copy below the RSVP block
.courier-delivery-terms {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}
