.design-sublime {
  padding: size(5em) 23px;
  background: color(lightest-grey);

  &--copy {
    max-width: 720px;
    margin: 0 auto;
  }

  &--illustration {
    padding: size(large) size(normal);
    width: 100%;
    max-width: 600px;

    @include respond-at-and-above($break-medium) {
      padding: size(4em) size(normal);
    }
  }

  &--graph {

    @include respond-below($break-small) {
      @include is-hidden;
    }

    @include respond-below($break-medium) {
      width: 75%;
      margin: size(larger) auto 0;
    }

    &-illustration {
      width: 100%;
    }

    &-illustration-container {

        @include respond-at-and-above($break-medium) {
          text-align: center;
          width: 100%;
          padding: size(large) size(largest)
        }
    }

    &-copy {

      @include respond-at-and-above($break-medium) {
        width: 40%;
        padding-right: 9%;
        text-align: left;
      }
    }

    &-container {

      @include respond-at-and-above($break-medium) {
        display: flex;
        align-items: center;
        justify-content: space-around;
        min-height: 300px;
        flex-direction: row;
      }
    }

    @include respond-at-and-above($break-medium) {
      margin-top: size(largest);
      background: white;
      max-width: 690px;
      margin: 5.5em auto 3.5em;
      border-radius: size(normal-corners);
    }
  }

  &--details {
    text-align: center;
    position: relative;
    margin-top: size(smaller);
    padding-top: size(smaller);

    &:before {
      content: '';
      height: 1px;
      width: 94%;
      background: color(dark-border);
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -48%;
    }

    &-container {
      padding: size(normal) 0;

      @include respond-at-and-above($break-medium) {
        padding: size(larger) 0;
        display: flex;
        align-items: center;
        justify-content: space-around;
        min-height: 300px;
        flex-direction: row-reverse;
      }

    }

    &-container-copy {

      @include respond-between($break-mobile, $break-medium - 1) {
        padding-left: size(large);
        padding-right: size(large);
      }

      @include respond-at-and-above($break-medium) {
        width: 45%;
        padding-left: 0;
        padding-right: 0;
      }
    }


    &-illustration {
      max-width: 360px;
      width: 100%;
      padding: size(normal);
    }

    &-illustration-container {

      @include respond-at-and-above($break-medium) {
        text-align: center;
        width: 45%;
      }
    }


    @include respond-at-and-above($break-medium) {
      text-align: left;
      padding-top: size(larger);
    }
  }
}
