/**
 * @file Callout
 * @module Callout
 * @overview Callout module with heading and layout content beneath
 */

.callout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: ms(16);
  padding: ms(8) ms(2);
  background: color(light-background);
  text-align: center;
}

.callout-heading {
  max-width: 27em;
  font-size: ms(0);

  @include respond-between($break-small, $break-medium) {
    font-size: ms(2);
  }

  @include respond-at-and-above($break-xl) {
    font-size: ms(2);
  }
}
