$break-sandwich: 900px;

.home__sandwich {
  .is-mobile & {
    display: none;
  }

  @include respond-below($break-sandwich) {
    display: none;
  }
}

.home__products {
  display: none;

  .is-mobile & {
    display: block;
  }

  @include respond-below($break-sandwich) {
    display: block;
  }
}

.home__shop-items {
  @include respond-below($break-sandwich) {
    display: none;
  }
}
