@function em($value, $base: 16) {
  @return $value / $base * 1em;
}

@mixin min-height($media) {
  @media only screen and (min-height: $media) {
    @content;
  }
}

@mixin setItemSize($width, $height) {
  width: $width;
  height: $height;
  margin-left: -($width / 2);
  margin-top: -($height / 2);
  line-height: $height;
}

//
// variables
//

$bg-grey: #f5f5f5;
$button-bg-hover: #e7e8e8;

$break-mobile-buttons: 500px;

//
// button
//

.btn {
  white-space: nowrap;
}

//
// hero
//

.sandwich__hero {
  position: relative;
  height: 94vh;
  min-height: 450px;
  margin-top: -60px;
  text-align: center;

  @include respond-below($break-medium) {
    margin-top: -50px;
  }
}

//
// hero image
//

.hero__image {
  position: absolute;
  top: 60px;
  left: 0;
  bottom: 0;
  width: 100%;


  @include respond-below($break-medium) {
    top: 50px;
  }
}

//
// hero header
//

.hero__header {
  position: relative;
  top: 60px;
  height: 25%;
  max-width: 900px;
  margin: 0 15px;
  color: color(background);

  @include respond-below($break-medium) {
    top: 50px;
  }


  @include respond-at-and-above($break-mobile-buttons) {
    height: 40%;
    margin: 0 auto;
    padding: 0 0.5em;
  }
}

.hero__header-inner {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

//
// hero title
//

.hero__title {
  margin-bottom: em(8, 26);
  font-size: em(26);
  line-height: 1.25em;

  @include respond-at-and-above(380px) {
    font-size: em(32);
  }


  @media (min-height: 450px) {
    @include respond-at-and-above($break-mobile) {
      font-size: em(36);
    }


    @include respond-at-and-above($break-small) {
      font-size: em(44);
    }


    @include respond-at-and-above($break-medium) {
      font-size: em(56);
    }


    @include respond-at-and-above($break-large) {
      font-size: em(64);
    }
  }

  @media (min-height: 730px) and (min-width: $break-xl) {
    font-size: em(72);
  }
}

//
// hero subtitle
//

.hero__subtitle {
  display: none;
  width: 90%;
  margin: 0 auto;
  font-size: em(18);
  font-weight: 400;
  text-transform: none;

  @include respond-at-and-above($break-mobile-buttons) {
    display: block;
  }


  @include respond-at-and-above($break-mobile) {
    font-size: em(20);
  }


  @include respond-at-and-above($break-small) {
    font-size: em(20);
  }
}

//
// button
//

.hero__button {
  position: relative;
  z-index: 1;
  margin: 40px auto 0;
  border: none;

  &:before {
    display: none;
    content: "";
    position: absolute;
    left: 50%;
    top: 163%;
    width: 48px;
    height: 48px;
    background: white;
    border-radius: 50%;
    transform: translate(-50%, 50%);
    transition: 0.25s transform ease-out;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
  }

  &:after {
    display: none;
    position: absolute;
    left: 50%;
    top: 222%;
    width: 16px;
    height: 16px;
    transform: translate(-50%, 50%) rotate(45deg);
    transition: 0.25s transform ease-out;
    border-right: solid 2px color(primary);
    border-bottom: solid 2px color(primary);
    content: "";
  }

  &:hover {

    &:before {
      transform: translate(-50%, 60%);
    }

    &:after {
      transform: translate(-50%, 80%) rotate(45deg);
    }
  }

  @include respond-at-and-above($break-mobile-buttons) {
    position: absolute;
    left: 50%;
    bottom: em(90);
    transform: translateX(-50%);

    &:before,
    &:after {
      display: block;
    }
  }
}

//
// sandwich section
//

.sandwich__section {
  position: relative;
  height: 745px;

  &--dark {
    background-color: $bg-grey;
  }
}

//
// product section
//

.sandwich__product-section {
  height: 990px;

  h1 {
    line-height: normal;
  }

  .sandwich__text-item {
    transform: translateY(-253px);

    p {
      font-size: em(24);
    }

    .btn {
      margin-top: 3em;
    }
  }

  .sandwich__pillow-item {
    transform: translate(-290px, 0px);
  }

  .sandwich__duvet-item {
    transform: translate(120px, 20px);
  }

  .sandwich__sheet-item {
    transform: translate(120px, 190px);
  }

  .sandwich__mattress-item {
    transform: translate(0, 290px);
  }
}

//
// pillow section
//

.sandwich__pillow-section {
  .sandwich__pillow-item {
    transform: translateX(-280px);
  }

  .sandwich__text-item {
    transform: translate(-40px, -50%);
  }
}

//
// sheet section
//

.sandwich__sheet-section {
  .sandwich__text-item {
    transform: translateY(-190px);
  }

  .sandwich__pillow-item {
    transform: translate(-290px, 30px);
  }

  .sandwich__duvet-item {
    transform: translate(120px, 30px);
  }

  .sandwich__sheet-item {
    transform: translate(120px, 200px);
  }
}

//
// mattress section
//

.sandwich__mattress-section {
  .sandwich__text-item {
    transform: translateY(-120px);
  }

  .sandwich__mattress-item {
    transform: translateY(100px);
  }
}

//
// sandwich item
//

.sandwich__item {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  text-align: center;
}

//
// sandwich image
//

.sandwich__image {
  pointer-events: none;
}

//
// pillow
//

.sandwich__pillow-item {
  z-index: 4;
}

.sandwich__pillow-image {
  @include setItemSize(178px, 155px);

  .is-desktop & {
    background-image: url(https://casper.imgix.net/home/sandwich/sandwich_pillow.png?auto=format);
  }
}

.sandwich__pillow2x-image {
  @include setItemSize(277px, 240px);

  .is-desktop & {
    background-image: url(https://casper.imgix.net/home/sandwich/sandwich_pillow_big.png?auto=format);
  }
}

//
// duvet
//

.sandwich__duvet-item {
  z-index: 5;
}

.sandwich__duvet-image {
  @include setItemSize(619px, 238px);

  .is-desktop & {
    background-image: url(https://casper.imgix.net/home/sandwich/sandwich_duvet.png?auto=format);
  }
}

//
// sheet
//

.sandwich__sheet-item {
  z-index: 3;
}

.sandwich__sheet-image {
  @include setItemSize(611px, 224px);

  .is-desktop & {
    background-image: url(https://casper.imgix.net/home/sandwich/sandwich_sheet.png?auto=format);
  }
}

//
// mattress
//

.sandwich__mattress-item {
  z-index: 2;
}

.sandwich__mattress-image {
  @include setItemSize(643px, 253px);

  .is-desktop & {
    background-image: url(https://casper.imgix.net/home/sandwich/sandwich_mattress.png?auto=format);
  }
}

//
// button
//

.sandwich__button-item {
  .btn {
    transform: translate(-50%, -50%);
  }
}

//
// text
//

.sandwich__text-item {
  z-index: 1;
  transition: 0.75s opacity;

  &--left {
    text-align: left;

    .sandwich__text {
      transform: translate(-50px, -50%);
    }
  }

  &--center .sandwich__text {
    width: 900px;
    transform: translate(-50%, -50%);
  }

  &--right {
    text-align: right;

    .sandwich__text {
      transform: translate(-100%, -50%);
    }
  }

  .btn {
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.sandwich__text {
  width: em(600);
  transform: translateY(-50%);

  p {
    margin: 0;
    font-size: em(32);
  }

  .btn--play {
    display: inline-block;
    margin: 2em 0 0;
  }
}

//
// pillow 1 image
//

.sandwich__pillow-image--00 {
  background-position: (-178px) 0px;
}

.sandwich__pillow-image--01 {
  background-position: (-178px) -465px;
}

.sandwich__pillow-image--02 {
  background-position: 0px -155px;
}

.sandwich__pillow-image--03 {
  background-position: (-178px) -155px;
}

.sandwich__pillow-image--04 {
  background-position: (-356px) 0px;
}

.sandwich__pillow-image--05 {
  background-position: (-356px) -155px;
}

.sandwich__pillow-image--06 {
  background-position: 0px -310px;
}

.sandwich__pillow-image--07 {
  background-position: (-178px) -310px;
}

.sandwich__pillow-image--08 {
  background-position: (-356px) -310px;
}

.sandwich__pillow-image--09 {
  background-position: (-534px) 0px;
}

.sandwich__pillow-image--10 {
  background-position: (-534px) -155px;
}

.sandwich__pillow-image--11 {
  background-position: (-534px) -310px;
}

.sandwich__pillow-image--12 {
  background-position: 0px -465px;
}

.sandwich__pillow-image--13 {
  background-position: 0px 0px;
}

.sandwich__pillow-image--14 {
  background-position: (-356px) -465px;
}

.sandwich__pillow-image--15 {
  background-position: (-534px) -465px;
}

.sandwich__pillow-image--16 {
  background-position: (-712px) 0px;
}

.sandwich__pillow-image--17 {
  background-position: (-712px) -155px;
}

.sandwich__pillow-image--18 {
  background-position: (-712px) -310px;
}

.sandwich__pillow-image--19 {
  background-position: (-712px) -465px;
}

.sandwich__pillow-image--20 {
  background-position: 0px -620px;
}

.sandwich__pillow-image--21 {
  background-position: (-178px) -620px;
}

.sandwich__pillow-image--22 {
  background-position: (-356px) -620px;
}

.sandwich__pillow-image--23 {
  background-position: (-534px) -620px;
}

.sandwich__pillow-image--24 {
  background-position: (-712px) -620px;
}

.sandwich__pillow-image--25 {
  background-position: (-890px) 0px;
}

.sandwich__pillow-image--26 {
  background-position: (-890px) -155px;
}

.sandwich__pillow2x-image--00 {
  background-position: (-277px) 0px;
}

.sandwich__pillow2x-image--01 {
  background-position: (-277px) -720px;
}

.sandwich__pillow2x-image--02 {
  background-position: 0px -240px;
}

.sandwich__pillow2x-image--03 {
  background-position: (-277px) -240px;
}

.sandwich__pillow2x-image--04 {
  background-position: (-554px) 0px;
}

.sandwich__pillow2x-image--05 {
  background-position: (-554px) -240px;
}

.sandwich__pillow2x-image--06 {
  background-position: 0px -480px;
}

.sandwich__pillow2x-image--07 {
  background-position: (-277px) -480px;
}

.sandwich__pillow2x-image--08 {
  background-position: (-554px) -480px;
}

.sandwich__pillow2x-image--09 {
  background-position: (-831px) 0px;
}

.sandwich__pillow2x-image--10 {
  background-position: (-831px) -240px;
}

.sandwich__pillow2x-image--11 {
  background-position: (-831px) -480px;
}

.sandwich__pillow2x-image--12 {
  background-position: 0px -720px;
}

.sandwich__pillow2x-image--13 {
  background-position: 0px 0px;
}

.sandwich__pillow2x-image--14 {
  background-position: (-554px) -720px;
}

.sandwich__pillow2x-image--15 {
  background-position: (-831px) -720px;
}

.sandwich__pillow2x-image--16 {
  background-position: (-1108px) 0px;
}

.sandwich__pillow2x-image--17 {
  background-position: (-1108px) -240px;
}

.sandwich__pillow2x-image--18 {
  background-position: (-1108px) -480px;
}

.sandwich__pillow2x-image--19 {
  background-position: (-1108px) -720px;
}

.sandwich__pillow2x-image--20 {
  background-position: 0px -960px;
}

.sandwich__pillow2x-image--21 {
  background-position: (-277px) -960px;
}

.sandwich__pillow2x-image--22 {
  background-position: (-554px) -960px;
}

.sandwich__pillow2x-image--23 {
  background-position: (-831px) -960px;
}

.sandwich__pillow2x-image--24 {
  background-position: (-1108px) -960px;
}

.sandwich__pillow2x-image--25 {
  background-position: (-1385px) 0px;
}

.sandwich__pillow2x-image--26 {
  background-position: (-1385px) -240px;
}

//
// duvet image
//

.sandwich__duvet-image--00 {
  background-position: 0px -240px;
}

.sandwich__duvet-image--01 {
  background-position: (-1863px) -1440px;
}

.sandwich__duvet-image--02 {
  background-position: (-621px) 0px;
}

.sandwich__duvet-image--03 {
  background-position: (-621px) -240px;
}

.sandwich__duvet-image--04 {
  background-position: 0px -480px;
}

.sandwich__duvet-image--05 {
  background-position: (-621px) -480px;
}

.sandwich__duvet-image--06 {
  background-position: 0px -720px;
}

.sandwich__duvet-image--07 {
  background-position: (-621px) -720px;
}

.sandwich__duvet-image--08 {
  background-position: 0px -960px;
}

.sandwich__duvet-image--09 {
  background-position: (-621px) -960px;
}

.sandwich__duvet-image--10 {
  background-position: (-1242px) 0px;
}

.sandwich__duvet-image--11 {
  background-position: (-1242px) -240px;
}

.sandwich__duvet-image--12 {
  background-position: (-1242px) -480px;
}

.sandwich__duvet-image--13 {
  background-position: (-1242px) -720px;
}

.sandwich__duvet-image--14 {
  background-position: (-1242px) -960px;
}

.sandwich__duvet-image--15 {
  background-position: 0px -1200px;
}

.sandwich__duvet-image--16 {
  background-position: (-621px) -1200px;
}

.sandwich__duvet-image--17 {
  background-position: (-1242px) -1200px;
}

.sandwich__duvet-image--18 {
  background-position: 0px -1440px;
}

.sandwich__duvet-image--19 {
  background-position: (-621px) -1440px;
}

.sandwich__duvet-image--20 {
  background-position: (-1242px) -1440px;
}

.sandwich__duvet-image--21 {
  background-position: (-1863px) 0px;
}

.sandwich__duvet-image--22 {
  background-position: (-1863px) -240px;
}

.sandwich__duvet-image--23 {
  background-position: (-1863px) -480px;
}

.sandwich__duvet-image--24 {
  background-position: (-1863px) -720px;
}

.sandwich__duvet-image--25 {
  background-position: (-1863px) -960px;
}

.sandwich__duvet-image--26 {
  background-position: (-1863px) -1200px;
}

.sandwich__duvet-image--27 {
  background-position: 0px 0px;
}

.sandwich__duvet-image--28 {
  background-position: 0px -1680px;
}

.sandwich__duvet-image--29 {
  background-position: (-621px) -1680px;
}

.sandwich__duvet-image--30 {
  background-position: (-1242px) -1680px;
}

.sandwich__duvet-image--31 {
  background-position: (-1863px) -1680px;
}

.sandwich__duvet-image--32 {
  background-position: 0px -1920px;
}

.sandwich__duvet-image--33 {
  background-position: (-621px) -1920px;
}

.sandwich__duvet-image--34 {
  background-position: (-1242px) -1920px;
}

.sandwich__duvet-image--35 {
  background-position: (-1863px) -1920px;
}

.sandwich__duvet-image--36 {
  background-position: 0px -2160px;
}

.sandwich__duvet-image--37 {
  background-position: (-621px) -2160px;
}

.sandwich__duvet-image--38 {
  background-position: (-1242px) -2160px;
}

.sandwich__duvet-image--39 {
  background-position: (-1863px) -2160px;
}

.sandwich__duvet-image--40 {
  background-position: (-2484px) 0px;
}

.sandwich__duvet-image--41 {
  background-position: (-2484px) -240px;
}

.sandwich__duvet-image--42 {
  background-position: (-2484px) -480px;
}

.sandwich__duvet-image--43 {
  background-position: (-2484px) -720px;
}

.sandwich__duvet-image--44 {
  background-position: (-2484px) -960px;
}

.sandwich__duvet-image--45 {
  background-position: (-2484px) -1200px;
}

.sandwich__duvet-image--46 {
  background-position: (-2484px) -1440px;
}

.sandwich__duvet-image--47 {
  background-position: (-2484px) -1680px;
}

.sandwich__duvet-image--48 {
  background-position: (-2484px) -1920px;
}

.sandwich__duvet-image--49 {
  background-position: (-2484px) -2160px;
}

.sandwich__duvet-image--50 {
  background-position: 0px -2400px;
}

.sandwich__duvet-image--51 {
  background-position: (-621px) -2400px;
}

.sandwich__duvet-image--52 {
  background-position: (-1242px) -2400px;
}

.sandwich__duvet-image--53 {
  background-position: (-1863px) -2400px;
}

.sandwich__duvet-image--54 {
  background-position: (-2484px) -2400px;
}

//
// sheet image
//

.sandwich__sheet-image--00 {
  background-position: 0px -224px;
}

.sandwich__sheet-image--01 {
  background-position: (-1833px) -672px;
}

.sandwich__sheet-image--02 {
  background-position: (-611px) 0px;
}

.sandwich__sheet-image--03 {
  background-position: (-611px) -224px;
}

.sandwich__sheet-image--04 {
  background-position: 0px -448px;
}

.sandwich__sheet-image--05 {
  background-position: (-611px) -448px;
}

.sandwich__sheet-image--06 {
  background-position: 0px -672px;
}

.sandwich__sheet-image--07 {
  background-position: (-611px) -672px;
}

.sandwich__sheet-image--08 {
  background-position: 0px -896px;
}

.sandwich__sheet-image--09 {
  background-position: (-611px) -896px;
}

.sandwich__sheet-image--10 {
  background-position: (-1222px) 0px;
}

.sandwich__sheet-image--11 {
  background-position: (-1222px) -224px;
}

.sandwich__sheet-image--12 {
  background-position: (-1222px) -448px;
}

.sandwich__sheet-image--13 {
  background-position: (-1222px) -672px;
}

.sandwich__sheet-image--14 {
  background-position: (-1222px) -896px;
}

.sandwich__sheet-image--15 {
  background-position: 0px -1120px;
}

.sandwich__sheet-image--16 {
  background-position: (-611px) -1120px;
}

.sandwich__sheet-image--17 {
  background-position: (-1222px) -1120px;
}

.sandwich__sheet-image--18 {
  background-position: 0px -1344px;
}

.sandwich__sheet-image--19 {
  background-position: (-611px) -1344px;
}

.sandwich__sheet-image--20 {
  background-position: (-1222px) -1344px;
}

.sandwich__sheet-image--21 {
  background-position: 0px -1568px;
}

.sandwich__sheet-image--22 {
  background-position: (-611px) -1568px;
}

.sandwich__sheet-image--23 {
  background-position: (-1222px) -1568px;
}

.sandwich__sheet-image--24 {
  background-position: (-1833px) 0px;
}

.sandwich__sheet-image--25 {
  background-position: (-1833px) -224px;
}

.sandwich__sheet-image--26 {
  background-position: (-1833px) -448px;
}

.sandwich__sheet-image--27 {
  background-position: 0px 0px;
}

.sandwich__sheet-image--28 {
  background-position: (-1833px) -896px;
}

.sandwich__sheet-image--29 {
  background-position: (-1833px) -1120px;
}

.sandwich__sheet-image--30 {
  background-position: (-1833px) -1344px;
}

.sandwich__sheet-image--31 {
  background-position: (-1833px) -1568px;
}

.sandwich__sheet-image--32 {
  background-position: 0px -1792px;
}

.sandwich__sheet-image--33 {
  background-position: (-611px) -1792px;
}

.sandwich__sheet-image--34 {
  background-position: (-1222px) -1792px;
}

.sandwich__sheet-image--35 {
  background-position: (-1833px) -1792px;
}

.sandwich__sheet-image--36 {
  background-position: 0px -2016px;
}

.sandwich__sheet-image--37 {
  background-position: (-611px) -2016px;
}

.sandwich__sheet-image--38 {
  background-position: (-1222px) -2016px;
}

.sandwich__sheet-image--39 {
  background-position: (-1833px) -2016px;
}

.sandwich__sheet-image--40 {
  background-position: (-2444px) 0px;
}

.sandwich__sheet-image--41 {
  background-position: (-2444px) -224px;
}

.sandwich__sheet-image--42 {
  background-position: (-2444px) -448px;
}

.sandwich__sheet-image--43 {
  background-position: (-2444px) -672px;
}

.sandwich__sheet-image--44 {
  background-position: (-2444px) -896px;
}

.sandwich__sheet-image--45 {
  background-position: (-2444px) -1120px;
}

.sandwich__sheet-image--46 {
  background-position: (-2444px) -1344px;
}

.sandwich__sheet-image--47 {
  background-position: (-2444px) -1568px;
}

.sandwich__sheet-image--48 {
  background-position: (-2444px) -1792px;
}

.sandwich__sheet-image--49 {
  background-position: (-2444px) -2016px;
}

.sandwich__sheet-image--50 {
  background-position: 0px -2240px;
}

.sandwich__sheet-image--51 {
  background-position: (-611px) -2240px;
}

.sandwich__sheet-image--52 {
  background-position: (-1222px) -2240px;
}

.sandwich__sheet-image--53 {
  background-position: (-1833px) -2240px;
}

.sandwich__sheet-image--54 {
  background-position: (-2444px) -2240px;
}

//
// mattres image
//

.sandwich__mattress-image--00 {
  background-position: 0px -253px;
}

.sandwich__mattress-image--01 {
  background-position: (-1286px) -1012px;
}

.sandwich__mattress-image--02 {
  background-position: (-643px) 0px;
}

.sandwich__mattress-image--03 {
  background-position: (-643px) -253px;
}

.sandwich__mattress-image--04 {
  background-position: 0px -506px;
}

.sandwich__mattress-image--05 {
  background-position: (-643px) -506px;
}

.sandwich__mattress-image--06 {
  background-position: 0px -759px;
}

.sandwich__mattress-image--07 {
  background-position: (-643px) -759px;
}

.sandwich__mattress-image--08 {
  background-position: 0px -1012px;
}

.sandwich__mattress-image--09 {
  background-position: (-643px) -1012px;
}

.sandwich__mattress-image--10 {
  background-position: (-1286px) 0px;
}

.sandwich__mattress-image--11 {
  background-position: (-1286px) -253px;
}

.sandwich__mattress-image--12 {
  background-position: (-1286px) -506px;
}

.sandwich__mattress-image--13 {
  background-position: (-1286px) -759px;
}

.sandwich__mattress-image--14 {
  background-position: 0px 0px;
}

.sandwich__mattress-image--15 {
  background-position: 0px -1265px;
}

.sandwich__mattress-image--16 {
  background-position: (-643px) -1265px;
}

.sandwich__mattress-image--17 {
  background-position: (-1286px) -1265px;
}

.sandwich__mattress-image--18 {
  background-position: 0px -1518px;
}

.sandwich__mattress-image--19 {
  background-position: (-643px) -1518px;
}

.sandwich__mattress-image--20 {
  background-position: (-1286px) -1518px;
}

.sandwich__mattress-image--21 {
  background-position: (-1929px) 0px;
}

.sandwich__mattress-image--22 {
  background-position: (-1929px) -253px;
}

.sandwich__mattress-image--23 {
  background-position: (-1929px) -506px;
}

.sandwich__mattress-image--24 {
  background-position: (-1929px) -759px;
}

.sandwich__mattress-image--25 {
  background-position: (-1929px) -1012px;
}

.sandwich__mattress-image--26 {
  background-position: (-1929px) -1265px;
}

.sandwich__mattress-image--27 {
  background-position: (-1929px) -1518px;
}
