/*doc

 ---
 title: Fonts
 name: fonts
 category: stylekit
 ---

 Casper uses **Verlag** and **Chronicle**. We use Verlag because it
 doesn't take itself seriously while maintaining polish and sophistication.
 We use Chronicle because it pairs well with Verlag, complimenting its playful
 sophistication.

*NB:** _Font extend helpers should only be used for rapid prototyping. Font extends
 should be avoided in production. Use heading and paragraphs classes for
 typographic styles._

  Font Usage                                                  | Extend helpers
  ------------------------------------------------------------ | -----------------
  <p class="verlag">Used for text</p>                          | `%verlag`
  <p class="verlag-light">Light text variant</p>               | `%verlag-light`
  <p class="verlag-black">Used for headlines</p>               | `%verlag-black`
  <p class="chronicle-deck">Body copy larger than 16px</p>     | `%chronicle-deck`
  <p class="chronicle-display">Body copy smaller than 16px</p> | `%chronicle-display`
  <p class="chronicle-italic">Italic text for emphasis</p>     | `%chronicle-italic`


 Fonts are served from [cloud.typography.com](cloud.typography.com).

 */

$sans: "Verlag A", "Verlag B";
$sans-stack: "Helvetica Neue", Helvetica, Arial, sans-serif;

$serif: "Chronicle Deck A", "Chronicle Deck B";
$serif-stack: Georgia, serif;

%sans-family-stack {
  font-family: $sans, $sans-stack;
}

%serif-family-stack {
  font-family: $serif, $serif-stack;
}

%verlag {
  @extend %sans-family-stack;

  font-weight: 400;
  font-style: normal;
}

%verlag-light {
  @extend %sans-family-stack;

  font-weight: 300;
  font-style: normal;
}

%verlag-black {
  font-family: "Verlag Black A", "Verlag Black B", $sans-stack;
  font-weight: 800;
  font-style: normal;
}

%chronicle-deck {
  @extend %serif-family-stack;

  font-weight: 400;
  font-style: normal;
}

%chronicle-display {
  font-family: "Chronicle SSm A", "Chronicle SSm B", $serif-stack;
  font-weight: 400;
  font-style: normal;
}

%chronicle-italic {
  @extend %serif-family-stack;

  font-weight: 400;
  font-style: italic;
}
