.product-infographic {
  position: relative;
  padding-bottom: 60px;

  @include respond-at-and-above($break-small) {
    padding-top: 4em;
    padding-bottom: 4em;
  }
}

.product-infographic-section-title {
  margin: 15px auto 34px;
  max-width: 317px;

  @include respond-at-and-above($break-small) {
    max-width: 100%;
  }
}

.product-infographic-option-title {
  margin-bottom: ms(-4);
}

.product-infographic-option-copy {
  padding-left: ms(2);
  padding-right: ms(2);
}

.product-infographic-drawing {
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  height: 83px;
  margin: ms(0) auto ms(0);

  @include respond-at-and-above(560px) {
    height: 134px;
  }


  img {
    max-height: 100%;
  }
}

.product-infographic-option {
  max-width: 328px;
  width: 100%;
  margin: 0 ms(1) ms(4);
}

// Flickity specific styles

.product-infographic {
  .product-infographic-options:after {
    content: "flickity";
    display: none;
  }

  .flickity-prev-next-button {
    @include is-hidden;
  }
}
