$gallery-dot-width: 62%;

.product-purchase {
  .gallery {
    transition: all 150ms ease;
    background-color: color(product-gallery-background);
    max-height: 620px;

    .gallery-container {
      @include respond-between(433px, 1240px) {
        @include aspect-ratio(4 / 3);
      }
    }

    .gallery-controls {
      display: none;
    }

    .gallery-thumb {
      display: none;
    }

    .gallery-dots {
      bottom: 4px;

      @include respond-at-and-above($break-large) {
        bottom: 49px;
        width: $gallery-dot-width;
      }


      @include respond-at-and-above(500px) {
        bottom: 22px;

        // At larger sizes, dots become thumbnails
        .gallery-dot {
          @include square(52px);

          border-radius: 0;
          box-shadow: none;
          border: 1px solid color(dark-border);
          opacity: 1;
          background: none;

          .gallery-thumb {
            display: block;
          }

          &.is-active {
            border-color: color(medium-border);
          }

          @include respond-at-and-above(500px) {
            background-color: color(light-background);
          }
        }
      }
    }
  }
}
