.product-purchase-wrapper {
  background-color: color(background);

   @include respond-at-and-above(1024px) {
    background-color: color(product-gallery-background);
  }

}

.product-purchase {
  margin-left: auto;
  margin-right: auto;

  .form-input--select {
    background-image: image-url('nightshade/icons/select-arrow-red.svg');
  }

  //check mark styling
  [data-icon="checkmark"] {
    fill: color(medium-text);
    vertical-align: top;
    position: relative;
    top: 3px;
    margin-left: 3px;
  }
}


// Temporary
// Positions the add to card module
.add-to-cart {
  position: relative;
  z-index: 1;

  @include respond-at-and-above(1024px) {
    position: absolute;
    top: 15%;
    right: 20px;
  }

  @include respond-at-and-above(1160px) {
    right: 40px;
  }

  @include respond-at-and-above(1300px) {
    right: 70px;
  }

  @include respond-at-and-above(1440px) {
    left: 64%;
    right: auto;
  }

  .form-actions {
    display: flex;
    align-items: center;
    margin-top: size(medium);
  }

  .form-field--price {
    flex-shrink: 0;
    min-width: 40%;
    font-size: ms(4);
  }

  .add-to-cart-button {
    @include padding-sides(size(smallest));
    flex-shrink: 1; // Fix for IE10
  }
}
