/**
 * @file Layout Blocks
 * @module Blocks
 * @overview Side-by-side or stacked layout blocks
 */

 .block-group {
   display: flex;
   justify-content: space-around;
   width: 100%;
   text-align: center;
 }

.block-group--stacked {
  @include respond-below($break-medium - 1) {
    flex-direction: column;
  }
}

.block-item {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  min-width: 25%;
  padding: 0 ms(2);

  .block-group--stacked & {

    @include respond-below($break-medium - 1) {
      padding: 0;

      &:not(:last-child) {
        margin-bottom: ms(6);
      }
    }
  }
}

.block-item-image {
  margin-bottom: ms(2);
  fill: color(primary);

  .icon {
    @include square(100%);
  }
}

.block-item-heading {
  max-width: 14em;
}
