/**
 * @file Layout Blocks IE9 styles
 * @module Blocks
 * @overview Layout Blocks IE9 styles
 */

.block-group {
 font-size: 0;
}

.block-item {
 display: inline-block;
 width: percentage(1 / 3);
 font-size: ms(0);
}

.block-item-image,
.block-item-description,
.block-item-body {
 @include margin-auto;
}
