//doc
//
// ---
// title: Gallery
// name: gallery
// category: components
// ---
//
// Galleries commonly hold collection of images or text that the user cycles
// through.  Galleries can have thumbnails or dots for pagination as well as
// next and previous arrows.
//
// Casper Galleries come in various degrees of firmness depending
// on the content.
//
//  **NB** We are phasing out background galleries in favor of the retina
//   flavor. Pardon the unrest, but our galleries are snoozing in
//   Nightshade at the moment. Check out Casper.com to see them in action.
//
//
//  ### Background Images
//
//  These galleries inline images as CSS backgrounds.
//
//  ```haml
//    = render 'nightshade/shared/gallery', :count => 5, :path => "nightshade/products/mattress", :name => "mattress", :ratio => "4by3"
//   ```
//
//  ### Retina Enhanced
//
//  These galleries leverage the `<picture>` element to serve retina
//  and non-retina images.
//
//  ```haml_example
//    = render 'nightshade/shared/gallery_picture', :count => 3, :path => "nightshade/products/mattress/lifestyle", :name => "lifestyle"
//   ```
//
//   To instantiate a carousel include the partial and pass in the necessary
//   parameters.

// ---------------------------------------------------------

.gallery {
  position: relative;
  overflow: hidden;

  &:hover {
    .gallery-controls {
      opacity: 1;
    }
  }
}

.gallery-slider {
  width: 100%;
  height: 100%;
  white-space: nowrap;
}

// @@@ [1] inflexible positioning and size should not be determined
// by the component. let each instance define their own or set
// overideable defaults
.gallery-controls {
  @include z-index(gallery-controls);

  @include square(65px);

  border-radius: 33px;
  transition: opacity 0.2s ease, background-color 0.15s;
  position: absolute;
  top: 50%;
  margin-top: -32.5px;
  right: 25px;
  text-align: center;
  cursor: pointer;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.3);

  .touch & {
    display: none;
  }

  [data-icon="arrow"] {
    vertical-align: top;
    margin-top: 24px;
    fill: color(background);
    transform: rotate(0deg);
  }

  #{$focus} {
    background-color: rgba(0, 0, 0, 0.2);
  }
}

.gallery-prev {
  left: 25px;

  [data-icon="arrow"] {
    margin-right: 2px;
    transform: rotate(180deg);
  }
}

.gallery-slide {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.gallery-slide-image {
  width: 100%;
  cursor: pointer;
}

.gallery-dots {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.gallery-dot {
  @include circle(8px, primary);

  @include active-opacity(0.5);

  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
  transition: opacity 0.2s ease;
  margin: 6px;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.4);
  background-size: contain;
}

.gallery-slide-wrapper {
  @include square(100%);
}
