/**
 * @file Breadcrumbs
 * @module Breadcrumbs
 * @overview Styles for Casper breadcrumbs
 * @TODO: expand/solidify styling, here they have styles to support grey and blue (like on the main site)
 */

.breadcrumbs {

  .breadcrumbs-link {
    color: color(text);

    &:hover {
      border-color: currentColor;
    }
  }

  [data-icon="arrow"],
  [data-icon="casper-logo-mark"] {
    fill: color(text);
  }
}

.breadcrumbs--dark {
  
  .breadcrumbs-link {
    color: color(blue);
  }

  [data-icon="arrow"],
  [data-icon="casper-logo-mark"] {
    fill: color(blue);
  }
}

.breadcrumbs-list-item {
  display: inline-block;
  margin: 0 ms(-6);

  &:first-child {
    margin-left: 0;
  }
}
