/**
 * @file Breadcrumbs
 * @module breadcrumbs
 * @overview Styles for Casper breadcrumbs
 * todo: work on styling, here they have styles to support grey on white and white on blue (like on the main site)
 */

.breadcrumbs {
  .link {
    color: color(text);
  }

  [data-icon="arrow"],
  [data-icon="casper-logo-mark"] {
    fill: color(text);
  }

  &.dark {
    .link {
      color: color(blue);
    }

    [data-icon="arrow"],
    [data-icon="casper-logo-mark"] {
      fill: color(blue);
    }
  }
}

.breadcrumbs-list-item {
  display: inline-block;
  margin: 0 ms(-6);

  &:first-child {
    margin-left: 0;
  }
}
