/**
 * @file Breadcrumbs
 * @module Breadcrumbs
 * @overview Styles for Casper breadcrumbs
 */

.breadcrumbs-list-item {
   display: inline-block;
   margin-left: ms(-7);

   &:before {
     content: "\003E";
     margin-right: ms(-7);
   }

   &:first-child {
     margin-left: 0;

     &:before {
       display: none;
     }
   }

   &:last-child {
     pointer-events: none;
   }
 }

 .breadcrumbs-link {
   font-size: ms(-1);
   letter-spacing: size(normal-tracking);
 }


 /**
  * Styling for default Breadcrumbs
  */
.breadcrumbs--default {

  .breadcrumbs-link {
    color: color(text);

    &:hover {
      color: color(blue);
    }
  }
}

/**
 * Styling for footer Breadcrumbs
 */
.breadcrumbs--footer {

  .breadcrumbs-link {
    color: color(white);
    opacity: 0.45;
    transition: 0.25s opacity ease;

    &:hover {
      opacity: 1;
    }
  }

  .breadcrumbs-list-item {
    color: color(white);
    vertical-align: middle;

    &:before {
      opacity: 0.45;
    }

    &:first-child {
      margin-top: -5px;
    }
  }

  [data-icon="casper-logo-mark"] {
    fill: color(white);
  }
}
