// landing.scss file with common styles
// break out other two into separate files and import into this one

@import "native_ad";
@import "nonbrand";

.landing {
  .photo-panel-content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 35px;

    .photo-panel-header {
      margin-top: 0;
    }

    .photo-panel-text {
      margin: 0 auto 1em;
      max-width: 315px;

      @include respond-between($break-small, $break-medium) {
        max-width: 420px;
      }

      @include respond-at-and-above($break-medium) {
        max-width: 495px;
      }
    }
  }

  .photo-panel-image {
    background-position: 40% 30%;

    @include respond-at-and-above($break-large) {
      background-position: 0% 50%;
    }
  }
}

.hero--landing {
  position: relative;
  background-color: color(background);

  .hero-content {
    padding-bottom: 80%; // 5by4 aspect ratio

    img {
      width: 100%;
    }

    @include respond-at-and-above($break-small){
      padding-bottom: 50%; // aspect ratio in full screen
    }
  }
}

// pefect mattress module is shared across both landing pages
.landing-perfect-mattress-img {
  max-width: 1024px;
  width: 100%;
}

.landing-perfect-mattress {
  background-color: color(light-background);
  padding: 4.5em 1em;
  text-align: center;
}

.landing-perfect-mattress-copy {

  margin: 0 20px;
  max-width: 900px;
  display: block;

  @include respond-between($break-small, $break-medium) {
    margin: -60px 20px 0;
  }

  @include respond-at-and-above($break-medium) {
    margin: -100px auto 0;
  }
}

.landing-perfect-mattress-header {
  margin-bottom: 20px;
  font-size: 30px;
  letter-spacing: size(smaller-tracking);
  color: color(primary);

  @include respond-at-and-above($break-small) {
    margin-bottom: -30px;
    letter-spacing: size(normal-tracking);
  }
}
