// A la carte Sheets purchase module

.add-to-cart.sheets {
  z-index: 2;

  @include respond-at-and-above($break-large) {
    margin-top: -60px;
  }

  .product-description {
    display: inline-block;
    max-width: 22.5em;
    margin-bottom: size(smaller);
  }

  .form-field {
    display: inline-block;
    vertical-align: top;

    &:not(.form-field--price) {
      margin-bottom: size(small);
    }
  }

  .form-label--duvet {
    display: inline-block;
    padding-top: size(smallest);
    cursor: pointer;
  }

  .fieldset-product-purchase-inner {

    @include respond-below($break-small) {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.sheets-purchase-form {
  overflow: visible;

  &.disable-actions {
    pointer-events: none;
  }
}

.add-to-cart-form.sheets {
  min-height: 300px;

  @include respond-below($break-large - 1) {
    transition: min-height 0.1s ease-out;
  }

  &.show-custom-products {
    min-height: 365px;
  }
}

.sheets-select {
  transition: opacity 0.25s ease, transform 0.25s ease-out;
  padding: ms(3);

  // The order of these modifiers should not change
  &--hide {
    opacity: 0;
    visibility: hidden;
  }

  &--show {
    opacity: 1;
    visibility: visible;
  }

  &--fade-out {
    opacity: 0;
  }

  &--animating {
    pointer-events: none;
  }

  .icon-arrow {
    @include circle(8px, border);
    box-sizing: content-box;
    padding: 6px;
    fill: color(text);
  }
}

.sheets-select--set {

  .form-field {

    &--color {
      width: calc(100% * (2 / 3));
      padding-right: size(smaller);

      @include respond-below($break-mobile) {
        width: 100%;
        padding-right: 0;

        .add-to-cart.sheets & {
          margin-bottom: size(small);
        }
      }

      &-exposed {
        margin-top: size(smallest);
      }
    }

    &--size {
      width: 100%;

      .custom-select {
        white-space: nowrap;
      }

      .custom-select-label {
        display: inline-block;
        width: calc(100% * (1 / 5));
      }

      .custom-select-selected {
        display: inline-block;
        width: calc(100% * (4 / 5));
      }

      @include respond-below($break-mobile) {
        width: 100%;
      }
    }
  }

  .form-field--size-set {

    .custom-select-options {
      width: calc(100% * (4 /5));
      right: -4px;
      top: 48px;
    }
  }

  .form-actions {
    margin-top: 0;
  }
}

.sheets-set-and-duvet {
  padding-bottom: ms(2);
  border-bottom: 1px solid color(dark-border);

  .duvet-label-title,
  .duvet-label-copy {
    margin-left: 28px;
  }

  .duvet-radio {
    display: none;
  }

  .duvet-list-item {
    &:first-child {
      margin-bottom: 20px;
    }
  }
}

.duvet-label-title {
  font-weight: 600;
  position: relative;
  cursor: pointer;

  // Custom radio button outer
  &:before {
    @include circle(18px);
    content: '';
    position: absolute;
    left: -28px;
    top: 2px;
    border: 1px solid color(medium-border);
    transition: 0.15s border-color ease-out;

    input[type="radio"]:checked + & {
      border-color: color(medium-grey);
    }
  }

  // Custom radio button inner
  &:after {
    @include circle(12px);
    content: '';
    position: absolute;
    left: -25px;
    top: 5px;
    transition: 0.15s background ease-out;

    input[type="radio"]:checked + & {
      background: color(medium-grey);
    }
  }

  &:hover {

    &:before {
      border-color: color(medium-grey);
    }
  }
}

.sheets-set-info {

  @include respond-below(380px) {
    max-width: 19.5em;
    margin: 0 auto;
  }
}

.sheets-separates-divider .text,
.btn-sheets-customize {
  @extend %verlag;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: size(normal-tracking);
}

.sheets-pillowcase {
  display: none;

  &.is-visible {
    display: inline;
  }
}

.btn-sheets-customize {
  font-size: 14px;
  font-weight: 600;
  color: color(text);

  &:hover {

    .icon-arrow {
      transform: translateX(3px);
    }
  }

  .icon-arrow {
    vertical-align: top;
    margin-left: 2px;
    transition: transform 0.15s ease-out;
  }
}

.sheets-select--custom {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  min-height: 100%;
  background: color(background);
  text-align: left;

  @include respond-at-and-above($break-large) {
    background: color(product-gallery-background);
  }

  &.sheets-select--fade-out {
    transform: translateX(100%);
  }

  .form-field {

    .add-to-cart.sheets & {
      margin-bottom: size(normal);
    }

    &--color {
      width: 100%;

      .add-to-cart.sheets & {
        margin-bottom: size(small);
      }
    }

    &--size {
      width: calc(100% * (2 / 3));
    }

    &--quantity {
      width: calc(100% / 3);
      padding-left: size(smaller);
    }
  }

  .add-to-cart-button {
    width: 100%;
  }
}

.sheets-custom-products {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  position: relative;
  height: 300px;
}

.sheets-product {
  @include square(calc(50% - 8px)); // Adds 16px padding between products
  position: absolute;
  padding: size(smaller);
  text-align: center;
  background: color(background);
  border: 1px solid color(dark-border);
  border-radius: size(normal-corners);
  transition: opacity 0.2s ease-out, width 0.2s ease-out, height 0.2s ease-out;

  &:nth-child(2) {
    right: 0;
  }

  &:nth-child(3) {
    bottom: 0;
  }

  &:last-child {
    right: 0;
    bottom: 0;
  }

  &.slug-casper-duvet-cover {
    opacity: 0.5;
  }

  &--collapsed {
    cursor: pointer;

    @include after($content: "+") {
      top: 0;
      right: 0;
      width: 30px;
      height: 30px;
      font-size: 30px;
      line-height: 30px;
      color: color(dark-text);
      background: color(light-background);
      border-left: 1px solid color(dark-border);
      border-bottom: 1px solid color(dark-border);
      border-bottom-left-radius: size(normal-corners);
    }

    &.slug-casper-duvet-cover {
      &:after {
        visibility: hidden;
      }
    }

    &:hover {
      border-color: color(accent);
      box-shadow: 0px 0px 0px 1px color(accent);
      overflow: visible;


      &.slug-casper-duvet-cover {
        box-shadow: none;
        border-color: color(dark-border); // default
        cursor: not-allowed;
      }

      &:after {
        color: color(background);
        background: color(accent);
        border-color: color(accent);
      }
    }
  }

  &--collapsed,
  &--expanding {
    overflow: hidden;
  }

  &--expanded,
  &--collapsing {
    z-index: 5; // Ensure selected product sits above siblings
  }

  &--collapsing {
    @include square(calc(50% - 8px)); // Adds 16px padding between products
  }

  &--expanded {
    @include square(100%);
    padding: size(medium) size(medium) size(normal);
    text-align: left;
  }

  .product-selected &:not(&--expanded) {
    opacity: 0; // Fade out other products when selecting one
  }
}

.sheets-product-header {
  position: relative;

  .sheets-product--expanded & {
    height: 50px;
    margin-bottom: size(normal);
    padding: size(tiny) 0 0 80px;
  }
}

.sheets-product-img {
  width: 51px;
  height: 46px;
  margin: size(smallest) 0 size(smaller);

  .sheets-product--expanded & {
    position: absolute;
    top: 2px;
    left: 0;
    margin: 0;
    width: 56px;
    height: 50px;
  }
}

.sheets-product-title {
  margin-bottom: size(tiny);

  .sheets-product--collapsing &,
  .sheets-product--collapsed & {
    font-size: 14px;

    @include respond-below(360px) {
      font-size: 12px;
    }
  }
}

.sheets-product-price-range,
.sheets-product-price {
  font-size: 15px;
}

.sheets-product-price-range {

  .sheets-product--expanded & {
    display: none;
  }
}

.sheets-product-price {
  display: none;

  .sheets-product--expanded & {
    display: block;
  }
}

.sheets-product-form {
  display: none;

  .sheets-product--expanded & {
    display: block;
  }

  .add-to-cart-button {
    height: 48px;
    line-height: 1;
  }

  .btn--close {
    position: absolute;
    top: 10px;
    right: 8px;
    padding: 5px;
    opacity: 0.35;
    transition: opacity 0.15s ease-out;

    &:hover {
      opacity: 0.7;
    }
  }
}

.sheets-select-back {
  @extend %verlag;
  display: inline-block;
  color: color(text);
  font-size: 13px;
  line-height: 21px;
  letter-spacing: size(normal-tracking);
  text-transform: uppercase;

  &:hover {

    .icon-arrow {
      transform: scale(-1) translateX(3px);
    }
  }

  .icon-arrow {
    vertical-align: top;
    margin-right: 3px;
    transform: scale(-1);
    transition: transform 0.15s ease-out;
  }
}

.product-purchase--sheets {
  .product-purchase-details {
    border-bottom: none;
  }
}

// Updated sheets select styling

.sheets-select-container {
  border: 1px solid color(dark-border);
  border-top: 0;
  clear: both;
  position: relative;

  @include respond-at-and-above(445px) {
    border-bottom-right-radius: size(normal-corners);
    border-bottom-left-radius: size(normal-corners);
  }
}


.sheets-select-nav {
  @include z-index(size-selector);
  position: relative;
  top: -4px;
  height: 33px;
  background-color: color(background);
  white-space: nowrap;

  @include respond-at-and-above($break-medium) {
    top: -3px;
  }

  @include respond-at-and-above($break-large) {
    background-color: color(light-background);
  }
}

.sheet-select-tab-container {
  width: 50%;
  display: inline-block;
}

.sheets-select-nav-tab-text {
  font-size: ms(-1);
  color: color(text);
  padding: ms(-3);
  font-weight: 600;
  letter-spacing: size(small-tracking);
}

.sheets-select-tab {
  display: inline-block;
  width: 90%;
  border: 1px solid color(dark-border);
  border-bottom: 0;
  border-top-left-radius: size(normal-corners);
  border-top-right-radius: size(normal-corners);
  background-color: color(medium-background);
  transition: background-color .15s, margin .15s, width .15s;
  position: relative;
  margin: 0 auto;

 &.is-active{
  width: 100%;
 }


  &--set {

    &:before {
      height: size(normal-corners);
      width: 11px;
      position: absolute;
      bottom: -5px;
      content: " ";
      border: 1px solid color(dark-border);
      left: -11px;
      border-top-left-radius: size(normal-corners);
      border-width: 1px 0 0 1px;
      box-shadow: 2px 2px 0 color(background);

      @include respond-at-and-above($break-large) {
        box-shadow: 2px 2px 0 color(light-background);
      }
    }

    &.is-active {

      &:before {
        width: 1px;
        left: -1px;
        border-top-left-radius: 0;
      }

      &:after {
        height: size(normal-corners);
        width: 12px;
        position: absolute;
        bottom: 0;
        content: " ";
        border: 1px solid color(dark-border);
        right: -12px;
        border-bottom-left-radius: size(normal-corners);
        border-width: 0 0 1px 1px;
        box-shadow: (-2px) 2px 0 color(background);

        @include respond-at-and-above($break-large) {
          box-shadow: (-2px) 2px 0 color(light-background);
        }
      }
    }
  }

  &--custom {
    right: 3px;

    &:after {
      height: size(normal-corners);
      width: 11px;
      position: absolute;
      bottom: -5px;
      content: " ";
      border: 1px solid color(dark-border);
      right: -11px;
      border-top-right-radius: size(normal-corners);
      border-width: 1px 1px 0 0;
      box-shadow: (-2px) 2px 0 color(background);

      @include respond-at-and-above($break-large) {
        box-shadow: (-2px) 2px 0 color(light-background);
      }
    }

    &.is-active {

      &:before {
        height: size(normal-corners);
        width: 11px;
        position: absolute;
        bottom: 0;
        content: " ";
        border: 1px solid color(dark-border);
        left: -11px;
        border-bottom-right-radius: size(normal-corners);
        border-width: 0 1px 1px 0;
        box-shadow: 2px 2px 0 color(background);

        @include respond-at-and-above($break-large) {
          box-shadow: 2px 2px 0 color(light-background);
        }
      }

      &:after {
        width: 1px;
        right: -1px;
        border-top-right-radius: 0;
      }
    }
  }

  &.is-active {
    background-color: color(background);

    @include respond-at-and-above($break-large) {
      background-color: color(light-background);
    }

    &:hover {
      background-color: color(background);

      @include respond-at-and-above($break-large) {
        background-color: color(light-background);
      }
    }
  }

  &:hover {
    background-color: darken(color(medium-background), 10%);
  }
}

.exposed-select {
  white-space: nowrap;

  .exposed-select-options {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
  }

  .exposed-select-container {
    @include square(28px);
    position: relative;
    display: inline-block;
    margin-right: size(smallest);

    input:checked + .exposed-select-radio-target {
      border-color: color(accent);
      box-shadow: 0px 0px 0px 1px color(accent);
      overflow: visible;
    }
  }

  .exposed-select-option {

    .exposed-select-radio-target {
      @include square(100%);
      position: absolute;
      border: 1px solid color(dark-border);
      border-radius: size(normal-corners);
      background: color(background);
      transition: border-color .15s, box-shadow .15s
    }

    &[data-color*="chambray"] {
      .exposed-select-radio-target {
        background-image: linear-gradient(135deg, color(background) 50%, color(medium-grey) 50%, color(medium-grey));
      }
    }
  }
}

.form-field--color-exposed {
  width: 100%;
}

.exposed-select-radio {
  @extend %is-hidden;
}

.exposed-select-color-display {
  display: inline-block;
  vertical-align: top;
  position: relative;
  top: 4px;
  margin-left: size(smallest);
}

.exposed-select-label {
  display: inline-block;
  width: calc(100% * (1 / 5));
  text-transform: uppercase;
  position: relative;
  font-size: ms(-1);
  letter-spacing: size(small-tracking);
  font-weight: 600;
  vertical-align: top;

  &--color {
    top: 7px;
  }

  &--size {
    top: 15px;
  }
}
