// A la carte Sheets purchase module

.add-to-cart.sheets {
  z-index: 2;
  text-align: center;

  @include respond-at-and-above($break-large) {
    margin-top: -60px;
  }

  .product-description {
    display: inline-block;
    max-width: 22.5em;
    margin-bottom: size(smaller);
  }

  .form-field {
    display: inline-block;
    vertical-align: top;
    text-align: left;

    &:not(.form-field--price) {
      margin-bottom: size(medium);
    }
  }

  .form-label--duvet {
    display: inline-block;
    padding-top: size(smallest);
    cursor: pointer;
  }
}

.sheets-purchase-form {
  overflow: visible;

  &.disable-actions {
    pointer-events: none;
  }
}

.add-to-cart-form.sheets {
  min-height: 300px;

  @include respond-below($break-large - 1) {
    transition: min-height 0.1s ease-out;
  }

  &.show-custom-products {
    min-height: 365px;
  }
}

.sheets-select {
  transition: opacity 0.25s ease, transform 0.25s ease-out;

  // The order of these modifiers should not change
  &--hide {
    opacity: 0;
    visibility: hidden;
  }

  &--show {
    opacity: 1;
    visibility: visible;
  }

  &--fade-out {
    opacity: 0;
  }

  &--animating {
    pointer-events: none;
  }

  .icon-arrow {
    @include circle(8px, border);
    box-sizing: content-box;
    padding: 6px;
    fill: color(text);
  }
}

.sheets-select--set {
  padding-top: size(medium);

  .form-field {

    &--color {
      width: calc(100% * (2 / 3));
      padding-right: size(smaller);

      @include respond-below($break-mobile) {
        width: 100%;
        padding-right: 0;

        .add-to-cart.sheets & {
          margin-bottom: size(small);
        }
      }
    }

    &--size {
      width: calc(100% / 3);

      @include respond-below($break-mobile) {
        width: 100%;
      }
    }
  }
}

.sheets-set-and-duvet {
  padding-bottom: size(medium);
  border-bottom: 1px solid color(dark-border);
}

.sheets-set-info {

  @include respond-below(380px) {
    max-width: 19.5em;
    margin: 0 auto;
  }
}

.sheets-set-and-duvet,
.sheets-separates-divider .text,
.btn-sheets-customize {
  @extend %verlag;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: size(normal-tracking);
}

.sheets-king-pillowcase {
  display: none;

  &.is-visible {
    display: inline;
  }
}

.sheets-separates-divider {
  position: relative;
  margin: size(smaller) 0;
  line-height: 1.5;

  @include after() {
    top: 50%;
    left: 0;
    width: 100%;
    height: 0;
    border-top: 1px solid color(dark-border);
  }

  .text {
    position: relative;
    z-index: 1;
    padding: 0 size(smallest);
    text-transform: uppercase;
    background: color(background);

    @include respond-at-and-above($break-large) {
      background: color(light-background);
    }
  }
}

.btn-sheets-customize {
  font-size: 14px;
  font-weight: 600;
  color: color(text);

  &:hover {

    .icon-arrow {
      transform: translateX(3px);
    }
  }

  .icon-arrow {
    vertical-align: top;
    margin-left: 2px;
    transition: transform 0.15s ease-out;
  }
}

.sheets-select--custom {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  min-height: 100%;
  background: color(background);
  text-align: left;
  transform: translateX(100%);

  @include respond-at-and-above($break-large) {
    background: color(product-gallery-background);
  }

  &.sheets-select--show {
    width: 100%;
    transform: translateX(0);
  }

  &.sheets-select--fade-out {
    transform: translateX(100%);
  }

  .form-field {

    .add-to-cart.sheets & {
      margin-bottom: size(normal);
    }

    &--color {
      width: 100%;

      .add-to-cart.sheets & {
        margin-bottom: size(small);
      }
    }

    &--size {
      width: calc(100% * (2 / 3));
    }

    &--quantity {
      width: calc(100% / 3);
      padding-left: size(smaller);
    }
  }

  .add-to-cart-button {
    width: 100%;
  }
}

.sheets-custom-products {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  position: relative;
  height: 300px;
  margin: size(medium) 0 size(small);
}

.sheets-product {
  @include square(calc(50% - 8px)); // Adds 16px padding between products
  position: absolute;
  padding: size(smaller);
  text-align: center;
  background: color(background);
  border: 1px solid color(dark-border);
  border-radius: size(normal-corners);
  transition: opacity 0.2s ease-out, width 0.2s ease-out, height 0.2s ease-out;

  &:nth-child(2) {
    right: 0;
  }

  &:nth-child(3) {
    bottom: 0;
  }

  &:last-child {
    right: 0;
    bottom: 0;
  }

  &.slug-casper-duvet-cover {
    opacity: 0.5;
  }

  &--collapsed {
    cursor: pointer;

    @include after($content: "+") {
      top: 0;
      right: 0;
      width: 30px;
      height: 30px;
      font-size: 30px;
      line-height: 30px;
      color: color(dark-text);
      background: color(light-background);
      border-left: 1px solid color(dark-border);
      border-bottom: 1px solid color(dark-border);
      border-bottom-left-radius: size(normal-corners);
    }

    &.slug-casper-duvet-cover {
      &:after {
        visibility: hidden;
      }
    }

    &:hover {
      border-color: color(accent);
      box-shadow: 0px 0px 0px 1px color(accent);
      overflow: visible;


      &.slug-casper-duvet-cover {
        box-shadow: none;
        border-color: color(dark-border); // default
        cursor: not-allowed;
      }

      &:after {
        color: color(background);
        background: color(accent);
        border-color: color(accent);
      }
    }
  }

  &--collapsed,
  &--expanding {
    overflow: hidden;
  }

  &--expanded,
  &--collapsing {
    z-index: 5; // Ensure selected product sits above siblings
  }

  &--collapsing {
    @include square(calc(50% - 8px)); // Adds 16px padding between products
  }

  &--expanded {
    @include square(100%);
    padding: size(medium) size(medium) size(normal);
    text-align: left;
  }

  .product-selected &:not(&--expanded) {
    opacity: 0; // Fade out other products when selecting one
  }
}

.sheets-product-header {
  position: relative;

  .sheets-product--expanded & {
    height: 50px;
    margin-bottom: size(normal);
    padding: size(tiny) 0 0 80px;
  }
}

.sheets-product-img {
  width: 51px;
  height: 46px;
  margin: size(smallest) 0 size(smaller);

  .sheets-product--expanded & {
    position: absolute;
    top: 2px;
    left: 0;
    margin: 0;
    width: 56px;
    height: 50px;
  }
}

.sheets-product-title {
  margin-bottom: size(tiny);

  .sheets-product--collapsing &,
  .sheets-product--collapsed & {
    font-size: 14px;

    @include respond-below(360px) {
      font-size: 12px;
    }
  }
}

.sheets-product-price-range,
.sheets-product-price {
  font-size: 15px;
}

.sheets-product-price-range {

  .sheets-product--expanded & {
    display: none;
  }
}

.sheets-product-price {
  display: none;

  .sheets-product--expanded & {
    display: block;
  }
}

.sheets-product-form {
  display: none;

  .sheets-product--expanded & {
    display: block;
  }

  .add-to-cart-button {
    height: 48px;
    line-height: 1;
  }

  .btn--close {
    position: absolute;
    top: 10px;
    right: 8px;
    padding: 5px;
    opacity: 0.35;
    transition: opacity 0.15s ease-out;

    &:hover {
      opacity: 0.7;
    }
  }
}

.sheets-select-back {
  @extend %verlag;
  display: inline-block;
  color: color(text);
  font-size: 13px;
  line-height: 21px;
  letter-spacing: size(normal-tracking);
  text-transform: uppercase;

  &:hover {

    .icon-arrow {
      transform: scale(-1) translateX(3px);
    }
  }

  .icon-arrow {
    vertical-align: top;
    margin-right: 3px;
    transform: scale(-1);
    transition: transform 0.15s ease-out;
  }
}
