.product-diagram-widget--sheets {
  background-size: cover;

  @include respond-at-and-above($break-medium) {
    background-image: url("https://casper.imgix.net/product-diagrams/sheets.jpg?auto=format&w=2500");
  }

  @include respond-at-and-above($info-nav-break) {
    margin-top: ms(3);
  }


  @include respond-at-and-above($break-xl) {
    background-position: 10% 0;
  }
}

.product-diagram-items--sheets {
  padding-top: 0;

  @include respond-below($break-medium - 1) {
    .product-diagram-item-image-bubble {
      position: relative;
      clip: auto;
      clip-path: none;
      overflow: auto;
      left: -(size(smallest));
      margin-top: size(small);
      margin-bottom: size(large);
    }
  }


  @include respond-between($break-medium, 950px) {
    .product-diagram-item-copy {
      width: 80%;
      margin-left: 0;
    }
  }
}

// horizontal placement
.product-diagram-item--sheets-weave,
.product-diagram-item--sheets-thread-count,
.product-diagram-item--sheets-cotton {
  @include respond-between($break-medium, 850px) {
    right: 0;
  }


  @include respond-between(850px, 950px) {
    right: 6%;
  }


  @include respond-between(950px, $break-xl) {
    right: 6%;
  }


  @include respond-at-and-above($break-xl) {
    right: 6%;
  }
}

// Percale weave
.product-diagram-item--sheets-weave {
  @include respond-between($break-medium, 900px) {
    top: 16%;

    .product-diagram-item-image-marker {
      left: -127%;
    }

    .product-diagram-item-wrapper:before {
      width: 121%;
      left: -127%;
    }
  }


  @include respond-between(900px, $break-large) {
    top: 16%;

    .product-diagram-item-image-marker {
      left: -142%;
    }

    .product-diagram-item-wrapper:before {
      width: 136%;
      left: -142%;
    }
  }


  @include respond-at-and-above($break-large) {
    top: 17%;

    .product-diagram-item-image-marker {
      left: -157%;
    }

    .product-diagram-item-wrapper:before {
      width: 151%;
      left: -157%;
    }
  }
}

// Ideal thread count
.product-diagram-item--sheets-thread-count {
  @include respond-between($break-medium, 900px) {
    top: 36%;

    .product-diagram-item-image-marker {
      left: -47%;
    }

    .product-diagram-item-wrapper:before {
      width: 41%;
      left: -47%;
    }
  }


  @include respond-at-and-above(900px) {
    top: 36%;

    .product-diagram-item-image-marker {
      left: -67%;
    }

    .product-diagram-item-wrapper:before {
      width: 61%;
      left: -67%;
    }
  }
}

// Supima Cotton

.product-diagram-item--sheets-cotton {
  @include respond-between($break-medium, 900px) {
    top: 59%;

    .product-diagram-item-image-marker {
      left: -182%;
      top: -88%;
    }

    .product-diagram-item-wrapper:before {
      width: 176%;
      left: -182%;
      top: -88%;
    }
  }


  @include respond-between(900px, $break-large) {
    top: 59%;

    .product-diagram-item-image-marker {
      left: -212%;
    }

    .product-diagram-item-wrapper:before {
      width: 206%;
      left: -212%;
    }
  }


  @include respond-at-and-above($break-large) {
    top: 55%;

    .product-diagram-item-image-marker {
      left: -232%;
      top: -87%;
    }

    .product-diagram-item-wrapper:before {
      width: 226%;
      left: -232%;
      top: -87%;
    }
  }
}
