// Sheets Gallery
//
// All media queries need to be reviewed and refactored at the system level
// i.e. looking at all the other components to determine what
// can be standardized
//
// Currently lifted straight from the mattress gallery styles
//
// 1. Don't display next/prev on product carousel

.sheets-gallery {
  @include square(100%);

  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s;

  &.is-visible {
    @include square(auto);

    position: static;
    opacity: 1;
    visibility: visible;
  }

  &.fade-in {
    z-index: 1;
    opacity: 1;
    visibility: visible;
  }

  &.fade-out {
    opacity: 0;
  }

  .gallery {

    .gallery-slide {
      background-size: contain;
    }

    .gallery-slide-wrapper-1 {
      @include respond-at-and-above($break-large) {
        max-width: $gallery-dot-width;
        text-align: center;
      }
    }

    .gallery-slide-1 {
      background-position: 0 -9vw;
      background-size: cover;
      width: 112%;
      margin-left: -6%;


      @include respond-at-and-above($break-medium) {
        background-position: 0 -10vw;

      }

      @include respond-at-and-above(850px) {
        width: 100%;
        margin-left: 0;
      }


      @include respond-at-and-above($break-large) {
        max-width: 1000px;
        background-size: contain;
        display: inline-block;
        background-position: 0 1.5vw;
      }


      @include respond-at-and-above(1200px) {
        background-position: 0 -3.5vw;
      }


      @include respond-at-and-above(1400px) {
        background-position: 0 -6em;
      }


      @include respond-at-and-above(1550px) {
        background-position: 0 -8em;
      }
    }

    .gallery-slide-2 {
      background-position: 0 -8vw;
      background-size: 130%;

      @include respond-at-and-above(500px) {
        background-position: 0 -17vw;
      }

      @include respond-at-and-above($break-medium) {
        background-position: 0 -19vw;
      }

      @include respond-at-and-above($break-large) {
        max-width: 80%;
        background-size: contain;
        background-position: 0 calc(-3vw - 10px);
      }

      @include respond-at-and-above($break-xl) {
        background-position: 0 calc(-9vw - 10px);
      }


      @include respond-at-and-above(1500px) {
        background-position: 0 calc(-14vw - 10px);
      }

      @include respond-at-and-above(1850px) {
        max-width: calc(100% * (2 / 3));
        background-position: 0 calc(-10vw - 10px);
      }
    }

    .gallery-slide-wrapper-3 {
      @include respond-at-and-above($break-large) {
        max-width: $gallery-dot-width;
        text-align: center;
      }
    }

    .gallery-slide-3 {
      background-position: 0 -5vw;

      @include respond-at-and-above(500px) {
        background-position: 0 -14vw;
      }

      @include respond-at-and-above($break-large) {
        max-width: 1000px;
        display: inline-block;
        background-position: -3vw -40px;
      }

      @include respond-at-and-above($break-xl) {
        background-position: 0 calc(-6vw - 20px);
      }

      @include respond-at-and-above(1500px) {
        background-position: 0 calc(-11em - 20px);
      }
    }

    .gallery-slide-wrapper-4 {
      @include respond-at-and-above($break-large) {
        max-width: $gallery-dot-width;
        text-align: center;
      }
    }

    .gallery-slide-4 {
      background-position: 0 0;

      @include respond-at-and-above(500px) {
        background-position: 0 -1vw;
        max-width: 85%;
        margin-left: 7%;
      }

      @include respond-at-and-above(950px) {
        background-position: 0 -5vw;
      }

      @include respond-at-and-above($break-large) {
        max-width: 740px;
        margin-left: 0;
        background-position: -2vw 2vw;
      }

      @include respond-at-and-above(1200px) {
        background-position: 0 1vw;
      }

      @include respond-at-and-above(1500px) {
        background-position: center 0;
      }
    }

    .gallery-dot-2 {
      overflow: hidden;

      .gallery-thumb {
        max-width: 105%;
      }
    }

    .gallery-dot-4 {
      .gallery-thumb {
        position: relative;
        top: 10%;
      }
    }
  }
}
