// Sheets infographic section
//
// 1. Safari mobile does not respect flex-direction: column. Workaround is to
// use flex-wrap. Need to restrict width to ensure one item per row.

.sheets-infographic-container {
  margin-bottom: ms(6);
}

.sheets-infographic {
  .message-banner {
    margin-top: 2.5em;

    @include respond-at-and-above($break-mobile) {
      margin-top: 3.25em;
    }


    @include respond-below($break-medium) {
      max-width: 85%;
    }
  }

  @include respond-at-and-above($break-small) {
    padding-top: size(largest);
    padding-bottom: 3.5em;
  }


  .message-banner-inner {
    max-width: 200px;
    display: inline-block;

    @include respond-at-and-above($break-mobile) {
      max-width: none;
      display: inline;
    }
  }
}

.sheets-infographic-options {
  @include respond-at-and-above($break-medium + 1) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 444px;
    margin: 0 auto;
    max-width: 100%;
  }
}

.sheets-infographic-option {
  @include respond-between($break-medium + 1, $break-large) {
    width: 50%;
    display: inline-block;
    margin-left: 0;
    margin-right: 0;

    &--pillowcases,
    &--duvet-cover {
      margin-top: size(large);
    }
  }


  @include respond-at-and-above($break-large + 1) {
    flex: 1 0 25%;
    margin: 0;
    align-self: baseline;
  }


  .sheets-infographic-option-copy {
    @include respond-at-and-above($break-medium + 1) {
      padding: 0px ms(1);
    }
  }
}

.sheets-infographic-drawing {
  @include respond-below(559px);

  height: 125px;
}

// Flickity styling

.sheets-infographic {
  .flickity-page-dots {
    bottom: -136px;

    @include respond-at-and-above($break-mobile) {
      bottom: -120px;
    }


    @include respond-at-and-above($break-medium) {
      bottom: -130px;
    }
  }

  @include respond-below($break-medium) {
    padding-left: 0;
    padding-right: 0;
  }


  /* disable Flickity for large devices */
  @include respond-at-and-above($break-medium + 1) {
    .sheets-infographic-options:after {
      content: "";
    }
  }


  @include respond-between($break-mobile, $break-medium) {
    .sheets-infographic-option {
      transition: opacity 0.15s;
      opacity: 0.3;

      &.is-selected {
        opacity: 1;
      }
    }
  }
}
