
.product-prop--sheets-cool,
.product-prop--sheets-thread {
  .prop-illustration-image--mobile {
    width: 170%;
    left: -35%;

    @include respond-at-and-above(500px) {
      width: 140%;
      left: -20%;

    }
    
    @include respond-at-and-above($break-small) {
      width: 93%;
      left: 4%;
    }
  }
}
.product-prop--sheets-thread {
  padding: 0 23px 3em 23px;

  @include respond-between($break-medium, $break-large) {
    .product-prop-title {
      max-width: 220px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .prop-illustration-image--mobile {
    @include respond-at-and-above($break-small) {
      margin-top: 2em;
      width: 122%;
      left: -11%;
    }        
  }
  .prop-illustration-video {
    margin-bottom: -6px;
  
    @include respond-at-and-above($break-medium) {
      margin-left: -36%;
      width: 208%;
    }
    @include respond-at-and-above($break-large) {
      width: 220%;
    }
    @include respond-at-and-above($break-xl) {
      width: 250%;
    }
  }
}


.product-prop--sheets-cool {
  padding: 4em 23px 0 23px;

  @include respond-at-and-above(500px) {
    padding-top: 5em;
  }

  @include respond-at-and-above($break-medium) {
    padding-top: 0;
  }

  .product-prop-title {
    max-width: 220px;
    margin-left: auto;
    margin-right: auto;

    @include respond-at-and-above(500px) {
      max-width: none;
    }

    @include respond-at-and-above($break-medium) {
      max-width: 300px;
    }
  }

  .prop-illustration-image--mobile {
    @include respond-below(500px) {
      left: -46%;
    }
  }

  .product-prop-copy {
    @include respond-at-and-above(500px) {
      margin-bottom: 2em;
    }
  }

  .product-prop-info {
    @include respond-at-and-above($break-medium) {
      padding-top: 3em;
    }
  }


  .prop-illustration-video {
    margin-bottom: -6px;
  
    @include respond-at-and-above($break-medium) {
      margin-left: 18%;
      width: 225%;
    }
    
  }
}


