{#
  @overview Trial/Returns banner
 #}

{% from '../callout/callout.macros.html' import callout %}
{% import '../icons/icons.macros.html' as icon %}

{#
  @macro trial_returns
  @param data.icon ...
 #}
{% macro trial_returns(data, modifier=null) %}
<section class="trial-returns{% if data.background_image %} trial-returns--background{% endif %} trial-returns--{{ modifier }}">

  {% if data.background_image %}
    <div class="trial-returns-background-image" role="presentation">
      {# ix_picture_tag #}
    </div>
  {% endif %}

  <div class="trial-returns-content page-section r-inner">
    {{ icon.svg(data.icon) }}
    <h1 class="trial-returns-heading">{{ data.heading }}</h1>
    <p class="trial-returns-copy body--serif">{{ data.copy }}</p>

    {% if data.image %}
      <img class="trial-returns-image" src="https://casper.imgix.net/{{ data.image }}?auto=compress" alt="{{ data.image_alt }}">
    {% endif %}

  </div>
</section>
{% endmacro %}
