/**
 * @file Value Props
 * @module Value Props
 * @overview Value props with side by side content and images
 */

.value-prop {
  padding: ms(8) 0;

  @include respond-at-and-above($break-medium) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}

.value-prop-image {
  width: 70%;
  margin: 0 auto ms(4);

  @include respond-at-and-above($break-medium) {
    width: 30%;
    margin: 0 7vw 0 0;
  }

  @include respond-at-and-above($break-large) {
    width: 25%;
  }
}

.value-prop:nth-of-type(odd) .value-prop-image,
.value-prop-image--right {

  @include respond-at-and-above($break-medium) {
    order: 1;
    margin: 0 0 0 7vw;
  }
}

.value-prop-content {
  max-width: 15em;
  font-size: ms(1);
  text-align: center;

  @include respond-at-and-above($break-medium) {
    width: 47%;
    max-width: 22em;
  }

  @include respond-at-and-above($break-large) {
    width: 40%;
  }
}

.value-prop-heading {
  @include margin-auto;
  margin-bottom: ms(-1);
  font-size: ms(0);
}
