// Nap Tour Page
// 1. For multi line addresses, need white-space: pre-line to respect the line breaks.  However this
//    does not get rid of the leading line-break. Need an additional negative margin-top to reflect it

.hero--naptour {
  padding: 3em size(large) 1.5em;
  background: color(primary) image-url('nightshade/naptour/naptour-path.svg') no-repeat center;
  background-size: auto 87.5%;
  color: color(background);

  @include respond-at-and-above($break-small) {
    padding: 4.5em size(large) 3em;
  }

  @include respond-at-and-above($break-xl) {
    background-size: 100% auto;
  }

  .naptour-heading {
    display: inline-block;
    max-width: 24em;
  }
}

.naptour-logo {
  width: 100%;
  height: 35vw;
  min-height: 170px;
  max-height: 340px;
  margin-bottom: 0.85em;
  background: image-url('nightshade/naptour/naptour-logo.svg') no-repeat;
  background-size: 100% 100%;
}

.naptour-heading {
  font-size: 17px;

  @include respond-between($break-small, $break-medium) {
    font-size: 22px;
  }

  @include respond-at-and-above($break-medium) {
    font-size: 25px;
  }
}

.naptour-nav {
  background: $naptour-blue;

  .nav-item {
    background-color: transparent;

    @include respond-between($break-main-nav, $info-nav-break - 1) {
      display: block;
      padding: 1rem size(tiny);
      border-top: 1px solid color(border);
    }

    #{$link} {
      color: color(primary);
    }

    #{$focus},
    #{$active} {
      color: mix(color(background), color(primary), 30%);
    }

    &.mobile-toggle {

      #{$focus},
      #{$active} {
        color: color(primary);
      }

      &.show-list {

        [data-icon="arrow"] {
          transform: rotate(-90deg);
        }
      }

      [data-icon="arrow"] {
        vertical-align: baseline;
        margin-left: 6px;
        transform: rotate(90deg);
        fill: color(primary);
      }
    }
  }

  @include respond-below($info-nav-break - 1) {

    .city-list {
      display: none;

      &.is-expanded {
        display: block;
      }
    }
  }

  @include respond-at-and-above($info-nav-break) {
    padding: size(small) 0;

    .city-list {
      display: flex;
      justify-content: center;
    }

    .nav-item {
      padding: size(smallest) size(large);
      border-left: 2px solid mix(color(background), color(primary), 80%);

      &:first-child {
        border-left: 0;
      }

      &.mobile-toggle {
        display: none;
      }
    }
  }

  @include respond-between($info-nav-break, 1100px) {

    .nav-item {

      &.nyc,
      &.dc {

        &:before {
          content: attr(data-shortname);
        }

        .city-label {
          display: none;
        }
      }
    }
  }
}

.naptour-blurb {
  padding: 2.5em 1.5em;

  .blurb-text {
    display: inline-block;
    max-width: 33em;
    padding-top: 90px;
    background: image-url('https://casper.imgix.net/naptour-trailer.gif') no-repeat center top;
    background-size: auto 60px;
  }

  .new-line {
    display: block;
  }

  @include respond-at-and-above($break-small) {
    padding: 3.5em 2em;

    .blurb-text {
      padding-top: 100px;
      background-size: auto 70px;
    }
  }
}

.naptour-gallery {
  margin-bottom: size(small);

  @include respond-between($break-small, $info-nav-break) {
    margin: 0 2em size(small);
  }

  @include respond-between($info-nav-break, $break-xl) {
    margin: 0 3em size(small);
  }

  @include respond-at-and-above($break-xl) {
    margin: 0 6em size(small);
  }
}

.naptour-city {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  padding: size(largest) 1.5em;

  &:nth-child(odd) {

    .icon-pointer {
      float: left;
      margin: 7px 10px 0 0;
      transform: scaleX(-1);

      @include respond-at-and-above($break-xl) {
        margin: 7px 12px 0 0;
      }
    }
  }

  &:nth-child(even) {
    background: $naptour-blue;
  }

  @include respond-between($break-small, $info-nav-break) {
    padding: size(largest) 2em;
  }

  @include respond-at-and-above($info-nav-break) {
    flex-direction: row;
    justify-content: space-around;

    &:nth-child(odd) {
     flex-direction: row-reverse;
    }
  }

  @include respond-between($info-nav-break, $break-xl) {
    padding: size(largest) 3em;
  }

  @include respond-at-and-above($break-xl) {
    padding: size(largest) 6em;
  }

  .tour-info {
    color: color(primary);
  }

  .tour-city-badge {
    position: relative;
    margin-bottom: size(normal);

    @include respond-at-and-above($break-small) {
      padding: size(small);
      border: 3px solid color(primary);

      &:after {
        position: absolute;
        content: "";
        border: 3px solid color(primary);
        border-radius: 10px;
      }
    }

    @include respond-between($break-small, $break-xl) {
      width: 350px;
      margin: 10px 10px 35px;

      &:after {
        top: -13px;
        right: -13px;
        bottom: -13px;
        left: -13px;
      }
    }

    @include respond-at-and-above($break-xl) {
      width: 400px;
      margin: 11px 11px 38px;

      &:after {
        top: -14px;
        right: -14px;
        bottom: -14px;
        left: -14px;
      }
    }
  }

  .tour-city-name {
    display: inline-block;
    font-size: 25px;
    margin-bottom: 2px;

    @include respond-at-and-above($break-xl) {
      font-size: 28px;
    }
  }

  .icon-pointer {
    @include square(20px);
    display: none;
    fill: color(primary);
    transform: translateY(1px);

    @include respond-at-and-above($break-small) {
      display: inline;
    }

    @include respond-at-and-above($break-xl) {
      @include square(23px);
    }
  }

  .tour-date,
  .tour-address {
    @extend %verlag;
    margin-top: 2px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: size(normal-tracking);

    & + .tour-date {
      margin-top: 8px;
    }
  }

  .btn--primary {
    &:focus {
      box-shadow: 0px 0px 0px 2px mix(color(background), color(primary), 70%);
    }
  }

  .tour-img {
    width: 100%;
    max-width: 450px;
    margin-bottom: size(large);

    @include respond-between($break-small, $info-nav-break) {
      max-width: 500px;
    }

    @include respond-at-and-above($info-nav-break) {
      width: 50%;
      max-width: 650px;
      margin-bottom: 0;
    }
  }

  // Multi-line address for Atlanta [1]
  &#atlanta {
    .tour-address{
      margin-top: -1em;
      white-space: pre-line;
    }
  }
}

.naptour-footer {
  position: relative;
  padding: 4.5em 2em 3em;
  background: $naptour-blue;

  @include respond-at-and-above($break-small) {
    padding: 8em 2em 7em;
  }

  &:after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: image-url('nightshade/naptour/naptour-path.svg') no-repeat center;
    background-size: auto 200%;
    transform: rotate(180deg);
    opacity: 0.15;

    @include respond-between($break-small, $break-xl) {
      background-size: auto 165%;
    }

    @include respond-at-and-above($break-xl) {
      background-size: 100% auto;
    }
  }
}
