// Naptour RSVP Modal

.naptour-rsvp-modal {
  position: fixed;

  .modal-content {
    margin-bottom: 0;
    padding: 4em 2em;
  }

  .modal-copy {
    display: inline-block;
    max-width: 550px;
    margin: size(smallest) 0 size(larger);
    letter-spacing: size(smaller-tracking);

    .follow-us {
      display: block;
    }
  }

  .register-form {

    &.hide {
      display: none;
    }
  }

  .email-input-group {
    max-width: 470px;
    margin: 0 auto;

    .form-input {
      width: 75%;
    }

    .btn-submit {
      width: 25%;
      min-width: 91px;
    }
  }

  .form-success {
    visibility: hidden;
    height: 0;
    opacity: 0;
    transition: 0.3s opacity ease-out;

    &.fadein {
      visibility: visible;
      height: auto;
      opacity: 1;
    }
  }

  .social-links {
    margin-top: size(smallest);
    padding: 0;

    [data-icon] {
      fill: color(primary);
    }

    @include respond-at-and-above($break-small) {

      .social-link {
        padding: 0 size(tiny);
      }

      [data-icon] {
        @include square(30px);
      }
    }
  }

  .submit-img {
    position: absolute;
  }
}
