// extra styling for the one size module
// used on the variant page, also should be used with add to cart sass file
.more-sizes-link-out {
  text-align: center;

  .product-link {
    width: 100%;
  }

  .mattress-size-link {
    display: inline-block;
    font-size: 15px;
    color: color(text);
    text-transform: uppercase;
    border-right: solid 1px color(dark-border);
    padding: 4.5px 12px 4.5px 11px;

    &:last-child {
      border-right: none
    }
  }
}

.variant-size-container {
  padding-top: .5em;
}

.variant-size,
.variant-ready-to-ship {
  display: inline-block;
}

.variant-size {
  border-right: solid 1px color(dark-border);
  padding-right: 1em;
  margin-right: 1em;
  font-weight: normal;
}


.form-actions-variant {
  padding-top: 1em;
}

.product-page-divider {
  position: relative;
  margin: size(smaller) 0;
  line-height: 1.5;
  text-align: center;
  font-size: 12px;

  @include after("") {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 0;
    border-top: 1px solid color(dark-border);
  }
}

.product-page-divider-text {
  @include z-index(size-selector);
  position: relative;
  padding: 0 size(smallest);
  text-transform: uppercase;
  background: color(background);
}


.add-to-cart-one-size {
  .product-description-body {
    max-height: 90px;
    position: relative;
    padding-right: 10px;
    margin-right: -10px;
    overflow: hidden;

    &:after {
      @include z-index(bump);
      content: "...";
      position: absolute;
      right: 0;
      bottom: 1px;
      background: color(lightest-grey);
    }

    &[aria-expanded="true"] {
      &:after {
        display: none;
      }
    }

  }

  .continue-reading-link {
    @include link(primary-dark, primary, false);
    text-align: center;
    padding-top: 5px;
    padding-bottom: 10px;

    .down-arrow-icon {
      transform: rotate(90deg);

      svg {
        fill: color(dark-blue);
      }
    }

    &:hover {
      border-bottom-color: transparent;
    }
  }
}

@include respond-at-and-above($break-large) {
  .product-page-divider-text {
    background: color(light-background);
  }
}

@include respond-below($break-large - 1px) {
  .add-to-cart-one-size {
    .product-description-body {
      &:after {
        background: color(background);
      }
    }
  }
}

@include respond-below(438px) {
  .more-sizes-link-out {
    .mattress-size-link {
      font-size: 13px;
      padding: 10px 10px 10px 9px;
    }
  }
}


