.product-diagram-widget--mattress {
  @include respond-between($break-mobile, $break-medium) {
    background-image: url("https://casper.imgix.net/product-diagrams/mattress-tablet.jpg?auto=format&w=1500");
  }


  @include respond-below($break-mobile + 1) {
    background-image: url("https://casper.imgix.net/product-diagrams/mattress-mobile.jpg?auto=format&w=1000");
    background-size: 120%;
  }


  @include respond-at-and-above($break-medium) {
    background-image: url("https://casper.imgix.net/product-diagrams/mattress.jpg?auto=format&w=2500");
  }
}

.product-diagram-items--mattress {
  @include respond-below($break-mobile + 1) {
    padding-top: 0;

    .product-diagram-item--mattress-latex {
      padding-top: 130%;
    }
  }


  @include respond-between($break-414, $break-mobile) {
    .product-diagram-item--mattress-latex {
      padding-top: 126%;
    }
  }


  @include respond-between($break-mobile, $break-medium) {
    padding-top: 87%;
  }


  .product-diagram-item {
    @include respond-between($break-414, $break-mobile) {
      width: 275px;
    }


    @include respond-between($break-mobile, $break-medium - 1) {
      min-width: 320px;
      width: 80%;
    }
  }
}

// horizontal placement

.product-diagram-item--mattress-latex,
.product-diagram-item--mattress-memory,
.product-diagram-item--mattress-base,
.product-diagram-item--mattress-cover {
  @include respond-at-and-above($break-medium) {
    right: 6%;
  }


  @include respond-at-and-above(1100px) {
    right: 8%;
  }


  @include respond-at-and-above(1400px) {
    right: 10%;
  }
}

// For the top latex copy
.product-diagram-item--mattress-latex {
  @include respond-at-and-above($break-medium) {
    top: 15%;

    .product-diagram-item-image-marker {
      left: -111%;
      top: -72%;
    }

    .product-diagram-item-wrapper:before {
      width: 105%;
      left: -111%;
      top: -72%;
    }
  }


  @include respond-at-and-above(920px) {
    top: 15%;

    .product-diagram-item-image-marker {
      left: -125%;
      top: -72%;
    }

    .product-diagram-item-wrapper:before {
      width: 119%;
      left: -125%;
      top: -72%;
    }
  }
}

// For the middle density memory foam
.product-diagram-item--mattress-memory {
  @include respond-at-and-above($break-medium) {
    top: 40%;

    .product-diagram-item-image-marker {
      left: -28%;
      top: -16%;
    }

    .product-diagram-item-wrapper:before {
      width: 22%;
      left: -28%;
      top: -16%;
    }
  }


  @include respond-at-and-above(990px) {
    top: 36%;

    .product-diagram-item-image-marker {
      left: -38%;
      top: -16%;
    }

    .product-diagram-item-wrapper:before {
      width: 32%;
      left: -38%;
      top: -16%;
    }
  }


  @include respond-at-and-above(1230px) {
    top: 36%;

    .product-diagram-item-image-marker {
      left: -38%;
      top: -80%;
    }

    .product-diagram-item-wrapper:before {
      width: 32%;
      left: -38%;
      top: -80%;
    }
  }


  @include respond-at-and-above(1400px) {
    top: 36%;

    .product-diagram-item-image-marker {
      left: -49%;
      top: -80%;
    }

    .product-diagram-item-wrapper:before {
      width: 43%;
      left: -49%;
      top: -80%;
    }
  }
}

// For the base support foam
.product-diagram-item--mattress-base {
  @include respond-at-and-above($break-medium) {
    top: 54.5%;

    .product-diagram-item-image-marker {
      left: -53%;
      top: 8%;
    }

    .product-diagram-item-wrapper:before {
      width: 47%;
      left: -53%;
      top: 8%;
    }
  }


  @include respond-at-and-above(990px) {
    top: 52.5%;

    .product-diagram-item-image-marker {
      left: -28%;
      top: 8%;
    }

    .product-diagram-item-wrapper:before {
      width: 22%;
      left: -28%;
      top: 8%;
    }
  }


  @include respond-at-and-above(1230px) {
    top: 52.5%;

    .product-diagram-item-image-marker {
      left: -28%;
      top: -72%;
    }

    .product-diagram-item-wrapper:before {
      width: 22%;
      left: -28%;
      top: -72%;
    }
  }


  @include respond-at-and-above(1400px) {
    top: 52.5%;

    .product-diagram-item-image-marker {
      left: -37%;
      top: -72%;
    }

    .product-diagram-item-wrapper:before {
      width: 31%;
      left: -37%;
      top: -72%;
    }
  }
}

//for the woven Cover
.product-diagram-item--mattress-cover {
  @include respond-at-and-above($break-medium) {
    top: 66.5%;

    .product-diagram-item-image-marker {
      left: -156%;
      top: -81%;
    }

    .product-diagram-item-wrapper:before {
      width: 150%;
      left: -156%;
      top: -81%;
    }
  }


  @include respond-at-and-above(920px) {
    top: 66.5%;

    .product-diagram-item-image-marker {
      left: -192%;
      top: -81%;
    }

    .product-diagram-item-wrapper:before {
      width: 186%;
      left: -192%;
      top: -81%;
    }
  }


  @include respond-at-and-above(990px) {
    top: 66.5%;

    .product-diagram-item-image-marker {
      left: -239%;
      top: -81%;
    }

    .product-diagram-item-wrapper:before {
      width: 233%;
      left: -239%;
      top: -81%;
    }
  }


  @include respond-at-and-above(1230px) {
    top: 66.5%;

    .product-diagram-item-image-marker {
      left: -270%;
      top: -81%;
    }

    .product-diagram-item-wrapper:before {
      width: 264%;
      left: -270%;
      top: -81%;
    }
  }
}
