// Mattress Gallery
//
// All media queries need to be reviewed and refactored at the system level
// i.e. looking at all the other components to determine what
// can be standardized
//
// 1. Don't display next/prev on product carousel

.mattress-gallery {
  .gallery-slide {
    background-size: contain;
  }

  .gallery-slide-wrapper-1 {
    @include respond-at-and-above($break-large) {
      max-width: $gallery-dot-width;
      text-align: center;
    }
  }

  .gallery-slide-1 {
    background-position: 0 20px;

    @include respond-at-and-above($break-large) {
      background-size: 85% auto;
      max-width: 1000px;
      display: inline-block;
    }

    @include respond-at-and-above($break-large) {
      background-position: 1.9vw calc(8vw - 30px);
    }

    @include respond-at-and-above($break-xl) {
      background-position: center calc(5vw - 30px);
    }

    @include respond-at-and-above(1500px) {
      background-position: center 12px;
    }

    @include respond-at-and-above(2000px) {
      max-width: 1300px;
      background-position: center -58px;
    }

  }

  .gallery-slide-2 {
    background-position: (-4vw) 0;
    width: 130%;

    @include respond-below(500px) {
      background-size: cover;
      width: 150%;
      background-position: -24px -24px;
    }

    @include respond-at-and-above($break-large) {
      background-size: contain;
      max-width: 85%;
    }

    @include respond-at-and-above(1400px) {
      background-position: 0 calc(-1vh - 30px);
      max-width: 77%;
    }

    @include respond-at-and-above($break-gigantic) {
      background-position: 0 calc(-3vh - 30px);
      max-width: 72%;
    }

    @include respond-at-and-above(1800px) {
      background-position: 0 calc(-4vw - 30px);
    }

    @include respond-at-and-above(1920px) {
      background-size: contain;
      max-width: 65%;
    }
  }

  .gallery-slide-wrapper-3 {
    @include respond-at-and-above($break-large) {
      max-width: $gallery-dot-width;
      text-align: center;
    }
  }

  .gallery-slide-3 {
    background-size: cover;
    background-position: center 0;

    @include respond-at-and-above(890px) {
      background-size: contain;
    }


    @include respond-at-and-above($break-large) {
      background-position: center 8vw;
      max-width: 1000px;
      display: inline-block;
      background-size: 91% auto;
    }


    @include respond-at-and-above($break-xl) {
      background-position: center calc(5vw - 30px);
    }


    @include respond-at-and-above(1500px) {
      background-position: center 0;
    }

    @include respond-at-and-above(2000px) {
      max-width: 1300px;
      background-position: center -60px;
    }    
  }

  .gallery-slide-4 {
    background-position: 0 0;

    @include respond-between(860px, $break-large - 1) {
      background-position: 0 -20px;
    }


    @include respond-at-and-above($break-large) {
      max-width: 65%;
      background-position: (-4em) 0;
    }


    @include respond-at-and-above(1200px) {
      background-position: 0 -2vw;
    }


    @include respond-at-and-above(1600px) {
      background-position: 0 calc(-6vw - 30px);
    }


    @include respond-at-and-above(2200px) {
      background-position: 0 calc(-12vw - 60px);
    }

  }

  .gallery-dot {
    overflow: hidden;
  }

  .gallery-dot-1 {
    .gallery-thumb {
      position: relative;
      top: 15%;
    }
  }

  .gallery-dot-2 {
    .gallery-thumb {
      max-width: 175%;
      margin-left: -0.9em;
    }
  }

  .gallery-dot-3 {
    .gallery-thumb {
      max-width: 120%;
      margin-left: -10%;
      position: relative;
      top: 15%;
    }
  }

  .gallery-dot-4 {
    .gallery-thumb {
      max-width: 130%;
      margin-left: -1em;
    }
  }
}
