/**
 * @file Base Styles
 * @overview Site scaffolding and helper classes that generate output
 */

@import './node_modules/normalize.scss/normalize';

@import 'typography/index';
@import 'layout/grids';
@import 'animation/custom_animations';
@import 'media/base';
@import 'layout/helper_classes';
@import 'layout/page';
@import 'layout/regions';
@import 'layout/base';
