.showroom-header {
  padding: 40px 30px;

  @include respond-at-and-above($break-small) {
    padding: 75px 0;
  }
}


.showroom-header-subtitle {
  max-width: 250px;
  margin: 0 auto;

  @include respond-at-and-above($break-small) {
    max-width: 100%;
  }
}


// @@@ refactor: class does not fit class naming patterns
// ++ on the comment
.showroom-header-h1 {
  // request from design to decrease space between the H1 and subtitle
  margin-bottom: 8px;
}


.showroom-gallery {
  overflow: hidden;
  margin-bottom: size(small);
  opacity: 0;
  transition: opacity .2s ease-in;

  @include respond-between($break-small, $info-nav-break) {
    margin: 0 2em size(small);
  }


  @include respond-between($info-nav-break, $break-xl) {
    margin: 0 3em size(small);
  }


  @include respond-at-and-above($break-xl) {
    margin: 0 6em size(small);
  }


  .gallery-cell {
    width: 100%;
  }

  // To force height
  .flickity-viewport {
    padding-bottom: 60%;
  }

  &.is-loaded {
    opacity: 1;
  }
}

.showroom-details {
  padding: 3em;
  align-items: center;
  text-align: center;

  .showroom-hours {
    border-right: 1px solid color(medium-grey);
    padding: 1em;
  }

  .showroom-rsvp {
    padding: 1em;
    align-items: center;

    @include respond-between($break-medium, $break-large) {
      padding-left: 2.6em;
    }
  }

  // to override flexbox styling on mobile breakpoints
  @include respond-below($break-small) {
    display: block;
    padding-top: 1.5em;

    .showroom-hours,
    .showroom-rsvp {
      flex: none;
      width: 100%;
    }

    .showroom-hours {
      border: 0;
    }
  }
}

.showroom-features-container {
  height: 100%;
  max-width: 725px;
  margin: 0 auto;
  padding: 36px 0 20px 0;

  .showroom-feature {
    padding: 0 36px;
    width: 100%;
    display: block;
    vertical-align: top;
    margin-bottom: 26px;
    text-align: center;

    @include respond-at-and-above($break-small) {
      width: 32%;
      display: inline-block;
    }
  }

  [data-icon] {
    margin-bottom: 3px;
    fill: color(mattress-icon);
  }

  .icon-text {
    display: block;
    margin-top: 0;
  }
}
