/**
 * @file Footer
 * @module Footer
 * @overview Standard site footer
 */

.footer {
  color: color(background);
  background-color: color(primary);
  overflow: hidden; // Remove space below footer in IE 10/11

  a {
    color: color(background);
  }
}

.footer-top {
  padding: ms(5) ms(4) ms(1);
  background-color: color(primary);

  @include respond-between($break-mobile, $break-medium) {
    padding: ms(5) ms(5) ms(1);
  }

  @include respond-between($break-medium, 1100px) {
    padding: ms(6) ms(6) ms(1);
  }

  @include respond-at-and-above(1100px) {
    padding: ms(8) ms(6) ms(4);
  }

  @include respond-at-and-above(1178px) {
    padding-left: 0;
    padding-right: 0;
  }
}

.footer-bottom {
  background-color: color(dark-blue);
  padding: ms(1) ms(5) ms(-2);
  fill: color(#6576a0); // @todo: Replace with value from map 

  @include respond-at-and-above($break-medium) {
    padding-bottom: ms(5);
  }
}

.footer-bottom-inner {
  display: flex;
}

.footer-bottom-item:not(:first-child) {
  margin-left: ms(-2);
}

// @todo: Find a new home? Or rename this module?

.site-address {
  display: flex;
  flex: 1;
}

.site-address-meta {
  margin-left: auto;
}
