/**
 * @file Simple Footer
 * @module Footer
 * @overview Simplified site footer
 */

 .footer--simple {
   .footer-top {
     padding: ms(6) 0;
   }

   .footer-bottom-inner {
     flex-direction: column;
     align-items: center;
   }

   .footer-bottom {
     padding-bottom: 0;

     @include respond-at-and-above($break-medium) {
       padding-bottom: ms(5);
     }
   }
 }
