{#
  * @overview Macros for standard and simple site Footers
#}

{% from '../icons/icons.macros.html' import icon as icon %}

{#
  * Renders a standard or simplified footer
#}
{% macro footer(simple=false, class=null, id=null, phone_number='888–498–0003') %}
<footer class="footer{% if simple %} footer--simple{% endif %}{% if class %} {{ class }}{% endif %}"{% if id %} id="{{ id }}"{% endif %}>
  <div class="footer-top r-inner">
    {{ caller() }}
  </div>
  <div class="footer-bottom">
    <nav class="footer-nav r-inner">
      <div class="footer-nav-group footer-nav-group--bottom">
        <div class="footer-nav-group-text--mobile">
          <span class="footer-nav-group-text--bottom">
            &copy;
            <script>
              document.write(new Date().getFullYear());
            </script>
          </span>
          <span>
            {% for link in footer_links %}
              <a class="footer-nav-group-link footer-nav-group-text--bottom" href="{{ link.url }}">{{ link.title }}</a>
            {% endfor %}
          </span>
        </div>
      </div>

      {% if not simple %}
      <div class="footer-nav-group footer-nav-group--right">
        <a class="footer-nav-group-link footer-nav-group-link--contact footer-nav-group-link--contact-phone" href="tel:1{{ phone_number|replace('-', '') }}">
          {{ icon('phone', size='x-small') }}
          <span class="footer-nav-group-text--bottom footer-nav-group-text--contact">{{ phone_number }}</span>
        </a>
        <a target="_blank" class="footer-nav-group-link footer-nav-group-link--contact" href="/help">
          {{ icon('envelope') }}
          <span class="footer-nav-group-text--bottom footer-nav-group-text--contact">CONTACT US</span>
        </a>
      </div>
      {% endif %}

    </nav>
  </div>
</footer>
{% endmacro %}
