{#
  * @overview Macros for standard and simple site Footers
#}

{% from '../icons/icons.macros.html' import icon as icon %}

{#
  * Renders a standard or simplified footer
#}
{% macro footer(data, simple=false, class=null, id=null) %}
<footer class="footer{% if simple %} footer--simple{% endif %}{% if class %} {{ class }}{% endif %}"{% if id %} id="{{ id }}"{% endif %}>
  <div class="footer-top r-inner">
    {{ caller() }}
  </div>
  <div class="footer-bottom">
    <div class="footer-bottom-inner r-inner">

      <span class="footer-bottom-item site-copyright">
        &copy;
        <script>document.write(new Date().getFullYear());</script>
      </span>

      <span class="site-legal-links footer-bottom-item">
        <a class="" href="https://casper.com/privacy">{{ data.privacy }}</a>
        <a class="" href="https://casper.com/terms">{{ data.terms }}</a>
      </span>

      <span class="site-address h-card footer-bottom-item">
        <span class="p-street-address">{{ data.address }}</span>

        {% if not simple %}
        <span class="site-address-meta">
          <a class="footer-bottom-item" href="tel:{{ data.phone_number|replace('-', '') }}">
            {{ icon('phone', size='x-small') }}
            <span class="p-tel">{{ data.phone_number }}</span>
          </a>

          <a class="footer-bottom-item" target="_blank" href="/help">
            {{ icon('envelope', size='x-small') }}
            <span class="u-url">{{ data.contact }}</span>
          </a>
        </span>
        {% endif %}
      </span>
    </div>
  </div>
</footer>
{% endmacro %}
