/**
 * @file Hero
 * @module Hero
 * @overview Hero and top of page featured hero modules
 */

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 300px;
  padding: ms(8) ms(2);
  text-align: center;
  background-size: cover;
  background-position: center center;
}

.hero--featured {
  justify-content: flex-start;
  height: 90vh;
}

.hero-heading {
  font-size: ms(4);
  margin-bottom: ms(-2);

  @include respond-at-and-above($break-medium) {
    font-size: ms(5);
  }
}
