{#
  * @overview Macros for hero and featured hero modules
  * @module Hero
#}

{#
  * Renders a hero or featured hero module.
  * @param {string} Heading text content
  * @param {string} Subheading text content
  * @param {string} Background image imgix path
  * @param {boolean} Setting to display a large featured hero (optional, default: false)
  * @param {string} Class name for imgix fluid targeting (optional, default: 'imgix-fluid--nocss')
  * @param {string} Class name for style or JS targeting (optional)
  * @param {string} ID for JS targeting (optional)
  *
  * todo: Replace H2 with a caller() block if desired
#}
{% macro hero(heading, content, background_path=null, featured=false, imgix_class='imgix-fluid--nocss', class=null, id=null) %}
<header class="hero{% if featured %} hero--featured{% endif %} {{ imgix_class }}{% if class %} {{ class }}{% endif %}"{% if id %} id="{{ id }}"{% endif %}{% if background_path %} data-src="https://casper.imgix.net/{{ background_path }}"{% endif %}>
  <h1 class="hero-heading">{{ heading }}</h1>
  {% if content %}
  <h2 class="hero-subheading">{{ content }}</h2>
  {% endif %}
</header>
{% endmacro %}
