// Base structure for all buttons
[data-button] {
  @extend %verlag-black;
  display: inline-block;
  padding: 1.15em 3em;
  font-size: ms(-1);
  line-height: 1.2;
  text-align: center;
  letter-spacing: size(medium-tracking);
  text-transform: uppercase;
  color: color(primary);
  cursor: pointer;
  border-radius: size(normal-corners);
  transition: background-color 0.15s, color 0.15s;
  -webkit-appearance: none;
  fill: currentColor; // For buttons with icons

  @include respond-below($break-small) {
    font-size: 0.85rem;
    padding: 1rem 1.5rem;
  }

  // Native disabled attribute is preferred over state class
  &:disabled,
  &.is-disabled {
    pointer-events: none;
    background-color: color(disabled);
  }

  &.is-loading {
    position: relative;
    pointer-events: none;

    @include after("") {
      @include spinner($color: mix(color(background), color(primary), 70%));

      top: 50%;
      right: 1.15em;
      margin-top: -8px;
    }

    @include respond-below($break-small) {
      padding-right: 2.6rem;
    }
  }

  // For buttons with icons
  [data-icon] {
    margin-right: size(smallest);
  }
}

// Button sizes
[data-button][data-size~="small"] {
  font-size: ms(-2);
  padding: 1em 2em;

  &.is-loading {
    padding-right: 2.6rem;
  }
}

// Full width buttons
[data-button][data-size~="full"] {
  width: 100%;
}

// Primary button style across the site. If in doubt, use this one.
// @@@ TODO generate a mixin color + hoverstate of our buttons
[data-button="primary"] {
  background-color: color(primary);
  color: color(background);

  #{$focus} {
    background-color: mix(color(background), color(primary), 10%);
  }

  #{$active} {
    color: mix(color(background), color(primary), 70%);
  }

  &.is-loading {
    background-color: mix(color(background), color(primary), 20%);
    color: mix(color(background), color(primary), 70%);
  }
}

[data-button="secondary"] {
  background-color: color(secondary);
  color: color(primary);

  #{$focus} {
    background-color: mix(#000, color(secondary), 10%);
  }

  #{$active} {
    color: mix(color(background), color(primary), 20%);
  }

  &.is-loading {
    background-color: mix(color(background), color(secondary), 20%);
    color: mix(color(background), color(primary), 20%);

    &:after {
      border-color: mix(color(background), color(primary), 20%);
      border-right-color: transparent;
    }
  }
}

// Accent button to call attention
[data-button="accent"] {
  background-color: color(accent);
  color: color(background);

  #{$focus} {
    background-color: mix(#000, color(accent), 10%);
  }

  #{$active} {
    color: mix(color(background), color(accent), 70%);
  }

  &.is-loading {
    background-color: mix(color(background), color(accent), 20%);
    color: mix(color(background), color(accent), 70%);

    &:after {
      border-color: mix(color(background), color(accent), 70%);
      border-right-color: transparent;
    }
  }
}

// Subtle button without fill
[data-button="ghost"] {
  border: 1px solid color(dark-border);
  color: color(text);

  #{$focus} {
    background-color: color(light-grey);
  }
}

[data-button="simple"] {
  color: color(dark-grey);
  border: 1px solid color(lighter-grey);
  background-color: #fff;

  &:hover {
    background-color: color(lightest-grey);
  }
}

[data-button="play"] {
  position: relative;
  display: inline-block;
  min-height: 56px;
  border-radius: 35px;
  margin-top: size(normal);
  background-color: color(light-background);
  border: 1px solid color(dark-border);
  padding: 1.45em size(large) size(normal) size(4.6em);
  cursor: pointer;
  transition: background-color 0.25s;

  @include respond-at-and-above($break-medium) {
    padding-top: size(normal);
  }

  &:hover {
    background-color: color(med-dark-background);
  }

  @include before() {
    @include square(40px);
    left: 8px;
    top: 7px;
    border-radius: percentage(1 / 2);
    background: color(background);
    border: 1px solid color(dark-border);
  }

  @include after() {
    @include arrow(right, color(primary), 10px);
    left: 24px;
    top: 31px;
    border-top-width: 6px;
    border-bottom-width: 6px;
  }
}

// Toggle button (revisit)
.btn-toggler {
  cursor: pointer;

  [data-icon="arrow"] {
    margin: 0 3px;
    transform: rotate(90deg);
  }

  &.is-expanded,
  &.is-invisible {
    [data-icon="arrow"] {
      transform: rotate(-90deg);
    }
  }
}
