/**
 * Set the global `box-sizing` state to `border-box`.
 *
 * css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
 * paulirish.com/2012/box-sizing-border-box-ftw
 */

 /**
  * High-, page-level styling.
  * 2. Set the default `font-size` and `line-height` for the entire project,
  *    sourced from our default variables. The `font-size` is calculated to
  *    exist in ems, the `line-height` is calculated to exist unitlessly.
  * 3. Force scrollbars to always be visible to prevent awkward ‘jumps’ when
  *    navigating between pages that do/do not have enough content to produce
  *    scrollbars naturally.
  * 4. Ensure the page always fills at least the entire height of the viewport.
  * 5. Fonts on OSX will look more consistent with other systems that do not
  *    render text using sub-pixel anti-aliasing.
  * 6. This enables kerning and optional ligatures. [See docs](https://developer.mozilla.org/en-US/docs/Web/CSS/text-rendering)
 */

html {
  box-sizing: border-box;
  background: color(background);
  color: color(#505050); // replace with new $gray
  max-width: 100%;
  min-height: 100%; // [4]
  font-size: $base-font-size / 16px * 1em; // [2]
  line-height: $base-line-height; // [2]
  letter-spacing: size(smaller-tracking);
  overflow-x: hidden;
  overflow-y: scroll; // [3]
  text-rendering: optimizeLegibility; // [6]
  -webkit-font-smoothing: antialiased; // [5]
  -moz-osx-font-smoothing: grayscale; // [5]
}

body {
  @extend %calibre-light;
}

* {
  &,
  &:before,
  &:after {
    box-sizing: inherit;
  }
}
