.blocks {
  display: flex;
}

.blocks--inline {
  &[data-blocks="2"] .block {
    flex: 1 0 50%;
  }
}

.blocks--stacked {
  flex-wrap: wrap;

  &[data-blocks="2"] .block {
    @include respond-at-and-above($break-large) {
      flex: 1 0 50%;
    }
  }

  .block {
    flex: 1 0 100%;
  }
}

.block {
  [data-blocks="3"] & {
    flex: 1 33%;
  }

  [data-blocks="4"] & {
    @include respond-at-and-above($break-large) {
      flex: 1 0 25%;
    }
  }
}
