// Copied from Accoutrement accessiblity

@mixin is-hidden--position {
  left: -9999px;
  position: absolute;
  top: -9999px;
}

@mixin is-hidden--clip {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(1px 1px 1px 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
}

@mixin is-hidden(
  $method: clip
) {
  @if $method == position {
    @include is-hidden--position;
  } @else {
    @include is-hidden--clip;
  }
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
