$two-column: (
  columns: 1 1,
  gutters: 0
);

// Reusable two column layout module
// @todo Remove this when we update the site with the Blocks module
.grid-two-column-container {
  @include respond-at-and-above($break-large) {
    @include with-layout($two-column) {
      @include container;

      .grid-two-column-left {
        @include span(1 of (1 1) first);
      }

      .grid-two-column-right {
        @include span(1 of (1 1) last);
      }
    }
  }
}
