/**
 * @file Page
 * @module Layout
 * @overview Page layout helper classes
 */

.page-section {
  padding: ms(7) ms(2);

  @include respond-at-and-above($break-small) {
    padding: ms(8) ms(2);
  }
  @include respond-at-and-above($break-xl) {
    padding: ms(10) ms(2);
  }
}

.page-section-compact {
  padding: ms(7) ms(2);
}
