.photo-panel {
  background-color: color(background);
  height: 800px;

  @include respond-at-and-above($break-large) {
    height: 500px;
  }
}

.photo-panel-header {
  margin-top: size(small);

  [data-icon] {
    @include square(56px);
    fill: color(primary);
    margin-bottom: size(medium);
  }
}

.photo-panel-content {
  height: 400px;
  padding: 30px 23px;

  @include respond-between(370px, 1023px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }


  @include respond-at-and-above($break-large) {
    padding: 100px 35px;
    height: 500px;
  }
}

.photo-panel-title {
  .line-break {
    display: block;

    @include respond-at-and-above(400px) {
      display: inline;
    }
  }
}

.photo-panel-image {
  background-size: cover;
  background-position: 50% 30%;
  height: 50%;

  @include respond-at-and-above($break-large) {
    background-position: 50% 100%;
    height: 100%;
  }
}
