
// to correct a bug because the props videos are being scaled over 100%
#content {
  overflow: hidden;
}

.product-prop {
  display: flex; // Fix vertical alignment in IE
  padding: ms(4) ms(2);

  &:nth-child(even) {

    .product-prop-container {

      @include respond-at-and-above($break-medium) {
        flex-direction: row-reverse;
      }
    }
  }
}


.product-prop-container {
  width: 100%;
  position: relative;

  @include respond-at-and-above($break-medium) {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 300px;
  }

}


.product-prop-illustration {
  display: inline-block;
  position: relative;
  img {
    width: 100%; // Fixes sizing issue in IE

    @include respond-at-and-above($break-medium) {
      width: 200%;
      max-width: none;
    }
  }

  video {
    width: 100%;

    @include respond-at-and-above($break-medium) {
      width: 200%;
    }
  }

  @include respond-at-and-above($break-medium) {
    width: 50%;
    margin: 0;
  }

  @include respond-below($break-medium - 1) {
    @include is-hidden;
  }

}

.prop-illustration-video,
.prop-illustration-image-fallback {
  position: relative;
}

.product-prop-illustration--mobile {
  margin-top: size(smaller);
  margin-bottom: 0;
  text-align: center;

  @include respond-at-and-above($break-medium){
    @include is-hidden;
  }

  img {
    max-width: 200%;
  }
}

.prop-illustration-image--mobile {
  position: relative;
}

// to get the video bleed off to the left
.product-prop--2 {

  .prop-illustration-image--mobile {
    left: -20vw;
  }

  .prop-illustration-video,
  .prop-illustration-image-fallback {
    left: -100%;
  }
}

.product-prop--1 {
  border-bottom: solid 1px color(dark-border);
}


.product-prop-info {
  // ensures that the text stays above the product video when it has to re align at in between view ports
  @include z-index(bump);
  position: relative;
  text-align: left;

  @include respond-at-and-above($break-medium) {
    width: 50%;
    padding-left: size(largest);
  }
}

.product-prop-copy {

  text-align: center;


  @include respond-at-and-above($break-medium) {
    text-align: left;
    padding: 0 1em 0 0;
  }

  // @include respond-between($break-medium, 900px) {
  //   font-size: 19px
  // }
}


.product-prop-title {
  text-align: center;

  @include respond-at-and-above($break-medium) {
    display: inline-block;
    text-align: left;
  }
}
