// Regions define main site layout areas
// 1. Applying to `container` causes double scroll bar in IE. Apply only to
// touch devices that create a horizontal scroll
// 2. Height is necessary for IE10/11 sticky-footer with Flexbox but breaks
// modern browsers.
// 3. Accomodations for flexbox on IE10/11

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: size(condensed-header-height);

  @include respond-at-and-above($break-main-nav) {
    padding-top: size(header-height);
  }


  .touch & {
    overflow-x: hidden;
  }

  .no-cssvmaxunit & {
    height: 100%;
  }

  // [3]
  &[data-action="approach"],
  &[data-controller="nightshade/products"] {
    .wrapper {
      flex: 0 0 auto;
    }
  }
}

.wrapper {
  position: relative;
  flex: 1 0 auto;

  &.home {
    flex: none;
  }
}
