{% import 'nightshade-core/src/icons/icons.macros.html' as icon %}
{% import 'nightshade-core/src/forms/forms.macros.html' as form %}


{% macro stacked_2_column_grid() %}
<div class="grid-two-column-container r-inner">
  <div class="grid-two-column-left r-section-wrapper">

  </div>

  <div class="grid-two-column-right r-section-wrapper">
  </div>
</div>
{% endmacro %}


{% macro social_links() %}

  {% set socialLinksList = {
    "facebook": "https://www.facebook.com/caspersleep",
    "twitter": "https://twitter.com/casper",
    "instagram": "https://instagram.com/casper",
    "pinterest": "https://www.pinterest.com/caspersleep",
    "linkedin": "https://www.linkedin.com/company/casper",
    "google_plus": "https://plus.google.com/b/107595361449205924801/+Casper/",
    "youtube": "https://youtube.com/casper"
  } %}

  <div class="social-links">
    {% for social, url in socialLinksList %}
      <a class="social-link" href="{{ url }}" target="blank">
        {{ icon.icon(social) }}
      </a>
    {% endfor %}
   </div>
{% endmacro %}
