{% set sheetsValueProps = [
  {
    title: "THE PERFECT SLEEP ENVIRONMENT",
    description: "We designed our sheets to create the ideal microclimate around your body. To do so, we balanced thread quality, yarn construction, and weave for a cool, breathable sleep environment that’s so outrageously comfortable you won’t want to leave.",
    media: {
      mobile: "https://casper.imgix.net/video/fallbacks/casper-sheets-roll.jpg?auto=format&amp;w=800",
      poster: "https://casper.imgix.net/video/fallbacks/casper-sheets-roll-poster.jpg?auto=format"
    }
  },
  {
    title: "SPRINKLED WITH THOUGHTFUL DETAILS",
    description: "Making the bed will always be a chore. But with this set, we’ve done our part to make it easier and more intuitive. Each item has been thoughtfully designed to solve common bedding problems.",
    media: {
      mobile: "https://casper.imgix.net/video/fallbacks/casper-sheets-folding.jpg?auto=format&amp;w=800",
      poster: "https://casper.imgix.net/video/fallbacks/casper-sheets-folding-poster.jpg?auto=format"
    }
  }
  ]
%}

{% macro value_list() %}
    {% for prop_content in sheetsValueProps %}
      {{ item(prop_content) }}
    {% endfor %}
{% endmacro %}

{% macro item(data) %}
<section class="product-prop product-prop--{{ loop.index }} r-centered r-inner">
  <div class="product-prop-container">
    <div class="product-prop-info">
      <h1 class="product-prop-title -dark">{{ data.title }}</h1>
      <p class="product-prop-copy body--sans">
      {{ data.description }}
      </p>
      <figure class="product-prop-illustration--mobile">
        <img alt="Casper sheets roll" class="prop-illustration-image--mobile" src="{{ data.media.mobile }}">
      </figure>
    </div>

    <figure class="product-prop-illustration js-prop-illustration-video-container">
    <video class="prop-illustration-video js-prop-illustration-video" poster="{{ data.media.poster }}" preload="auto" src=""></video>
    </figure>
  </div>
</section>
{% endmacro %}
