{% from '../breadcrumbs/breadcrumbs.macros.html' import breadcrumbs %}
{% from '../layout/blocks.macros.html' import social_links %}
{% import '../forms/forms.macros.html' as form %}
{% import '../icons/icons.macros.html' as icon %}

{% set breadcrumbs_data = [
  {
    content: "Mattress",
    href: "#"
  },
  {
    content: "Full Mattress",
    href: "#"
  }
  ]
%}

{% macro footer_content() %}
  {{ breadcrumbs(breadcrumbs_data) }}
  <nav class="footer-nav clearfix">

    <div class="footer-nav-left">
      {{ footer_menu_stack() }}
    </div>

    <div class="footer-nav-group--right footer-nav-group--top footer-nav-group--connect">
      <div class="footer-email-signup">
        <h4 class="footer-nav-group-title -light">Free Bedtime Reading</h4>
        {{ form.email_signup() }}
      </div>

      {{ social_links() }}
    </div>
  </nav>
{% endmacro %}

{% macro footer_menu_stack() %}
<div class="footer-nav-group footer-nav-group--top footer-nav-group--links">
  <h4 class="footer-nav-group-title -light">About</h4>
  <a class="footer-nav-group-link" href="/press">Press</a>
  <a class="footer-nav-group-link" href="/team">Team</a>
  <a target="_blank" class="footer-nav-group-link" href="https://boards.greenhouse.io/casper">Jobs</a>
  <a class="footer-nav-group-link" href="/design">Design</a>
</div>
<div class="footer-nav-group footer-nav-group--top footer-nav-group--links">
  <h4 class="footer-nav-group-title -light">Support</h4>
  <a class="footer-nav-group-link" href="/help">Help</a>
  <a class="footer-nav-group-link" href="/returns">Returns</a>
  <a class="footer-nav-group-link" href="/faq">FAQ</a>
  <a class="footer-nav-group-link" href="/financing">Financing</a>
  <a class="footer-nav-group-link" href="/warranty">Warranty</a>
</div>
<div class="footer-nav-group footer-nav-group--top footer-nav-group--links">
  <h4 class="footer-nav-group-title -light">Showrooms</h4>
  <a class="footer-nav-group-link" href="/nyc">New York City</a>
</div>
<div class="footer-nav-group footer-nav-group--top footer-nav-group--links">
  <h4 class="footer-nav-group-title -light">Read More</h4>
  <a target="_blank" class="footer-nav-group-link" href="http://blog.casper.com">Blog</a>
  <a target="_blank" class="footer-nav-group-link" href="http://vanwinkles.com">Van Winkle’s</a>
  <a target="_blank" class="footer-nav-group-link" href="https://facebook.com/caspersleep">Follow Casper</a>
</div>
{% endmacro %}

{% macro header() %}
<nav class="js-nav-main nav-main nav-main--primary">
<div class="menu-trigger js-menu-trigger">
<span class="menu-trigger-icon"></span>
</div>
<a class="nav-item logo nav-item--unique" data-track-click-target="home" href="/">
  {{ icon.svg("logo")}}
  <span class="nav-item-text is-invisible">Home</span>
</a>

<ul class="nav-main-group nav-main-group--primary">
  <li class="has-submenu js-has-submenu submenu-uncollapsible is-collapsed" role="presentation" aria-expanded="false">
    <a class="nav-item" data-track-click-target="mattress" href="/mattresses">Shop
      {{ icon.icon("arrow", size="micro" )}}
    </a><div class="submenu" id="shopping-submenu">
    <ul class="submenu-items">
      <li class="submenu-item">
        <a class="submenu-item-action" href="/mattresses">
          <figure class="submenu-item-image submenu-item-image--mattress">
            <img class="submenu-item-icon" src="https://casper.imgix.net/nav/mattress.png?auto=format&amp;dpr=2&amp;w=180">
          </figure>
          <span class="submenu-item-copy">The Mattress</span>
        </a>
      </li>
      <li class="submenu-item">
        <a class="submenu-item-action" href="/sheets">
          <figure class="submenu-item-image submenu-item-image--sheets">
            <img class="submenu-item-icon" src="https://casper.imgix.net/nav/sheets.png?auto=format&amp;dpr=2&amp;w=180">
          </figure>
          <span class="submenu-item-copy">The Sheets</span>
        </a>
      </li>
      <li class="submenu-item">
        <a class="submenu-item-action" href="/pillows">
          <figure class="submenu-item-image submenu-item-image--pillow">
            <img class="submenu-item-icon" src="https://casper.imgix.net/nav/pillow.png?auto=format&amp;dpr=2&amp;w=180">
          </figure>
          <span class="submenu-item-copy" href="/pillows">The Pillow</span>
        </a>
      </li>
    </ul>
  </div>
</li>
<li class="has-submenu js-has-submenu submenu-collapsible is-collapsed" role="presentation" aria-expanded="false">
  <a class="nav-item" data-track-click-target="design" href="/our-approach">About
  {{ icon.icon("arrow", size="micro" )}}
  </a>
  <div class="submenu submenu--our-approach" id="design-submenu">
  <ul class="submenu-items">
    <li class="submenu-item submenu-item--our-approach">
      <a class="submenu-item-action" href="/our-approach">
        <figure class="submenu-item-image submenu-item-image--compass">
          <img class="submenu-item-icon" src="https://casper.imgix.net/nav/compass-ruler.png?auto=format&amp;dpr=2&amp;w=130">
        </figure>
        <span class="submenu-item-copy">Our Approach</span>
      </a>
    </li>
    <li class="submenu-item">
      <a class="submenu-item-action" href="/mattresses/design">
        <figure class="submenu-item-image submenu-item-image--mattress">
          <img class="submenu-item-icon" src="https://casper.imgix.net/nav/mattress.png?auto=format&amp;dpr=2&amp;w=100">
        </figure>
        <span class="submenu-item-copy">Designing the Mattress</span>
      </a>
    </li>
    <li class="submenu-item">
      <a class="submenu-item-action" href="/sheets/design">
        <figure class="submenu-item-image submenu-item-image--sheets">
          <img class="submenu-item-icon" src="https://casper.imgix.net/nav/sheets.png?auto=format&amp;dpr=2&amp;w=100">
        </figure>
        <span class="submenu-item-copy">Designing the Sheets</span>
      </a>
    </li>
    <li class="submenu-item">
      <a class="submenu-item-action" href="/pillows/design">
        <figure class="submenu-item-image submenu-item-image--pillow">
          <img class="submenu-item-icon" src="https://casper.imgix.net/nav/pillow.png?auto=format&amp;dpr=2&amp;w=100">
        </figure>
        <span class="submenu-item-copy" href="/pillows">Designing the Pillow</span>
      </a>
    </li>
  </ul>
</div>
</li>
<li role="presentation">
<a class="nav-item " data-track-click-target="reviews" href="/mattresses/reviews">Reviews
</a></li>
</ul>
<ul class="nav-main-group nav-main-group--user">
<li role="presentation">
  <span class="phone-number js-a-sup-phone">
  <a class="nav-item" data-track-click-target="phone" href="tel:18884980003">
  {{ icon.icon("phone")}}
  888–498–0003
</a></span>
</li>
<li role="presentation">
<a class="nav-item js-auth-link " href="/login">Log In</a>
</li>
</ul>

  <a class="nav-item nav-item--cart nav-item--unique js-nav-item-cart has-items" href="/cart">
    {{ icon.svg("cart-closed" )}}
    {{ icon.svg("cart-open", class="is-hidden")}}
    <span class="cart-count-item" id="cart-count">1</span>
  </a>
</nav>
{% endmacro %}
